<%layout('../../_common/layout')%>
<form action="" method="POST" role="form" name="form1">
    <div class="row m-0 mt-2">
        <div class="col-12 p-0">
<%- partial('../../_common/date-filter',{includeForm:false,includeFilterButton:false}) %>
            <div class="float-md-right">
                <button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
            </div>
        </div>
    </div>
</form>

<div class="btn-toolbar mt-2 border p-1 rounded justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="">
    <button type="button" class="btn btn-primary" id="btnApprove">Onayla</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="">
    <button type="button" class="btn btn-danger" id="btnDecline">Reddet</button>
  </div>
  
</div>

<% if(typeof message!='undefined') { %>
    <% if(message!='') { %>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <%=message %>
        </div>
    </div>
</div>
    <% } %>
<% } %>

<%- partial('../../_common/grid2',{
    fields:[
        {name:'productionId',text:'Üretim No',type:'label', filter:true,orderable:true, width:'80px'},
        {name:'issueDate',text:'E.Tarih',type:'label', orderable:true, width:'80px'},
        {name:'itemName',text:'Mamül',type:'label', filter:true,orderable:true},
        {name:'plannedPeriod',text:'Planlama',type:'label', orderable:true},
        {name:'quantity',text:'Miktar',type:'label', filter:true, orderable:true},
        {name:'musteri',text:'Müşteri',type:'label', filter:true,orderable:true},
        {name:'ambalaj',text:'Paketleme',type:'label', filter:true, orderable:true},
        {name:'status',text:'Durumu', width:'100px',type:'label',filter:true, orderable:false}
    ],
    caption:'Uretim Emirleri',
    addNewButton:true,
    viewButton:false,
    editButton:true,
    deleteButton:true,
    selection:true,
    printButton:{
        path:'/production-orders/{_id}',
        printDesignList:printDesignList,
    },
    //customButtons:[
    //    {href:'javascript:yazdir("{_id}");', text:'Goruntule',icon:'fas fa-print'}
    //],
    deleteUrl:'/dbapi/production-orders/{_id}?db='+db+'&sid=' + sid
    }) 
%>

<script type="text/javascript">
    var q=getAllUrlParams();

    $(document).ready(function(){

        $('#btnApprove').click(function(){
            var data={list:[]};
            $(".checkSingle").each(function() {
                if(this.checked){
                    var satir=JSON.parse(decodeURIComponent(this.value));
                    if(satir.doc.invoiceStatus=='WaitingForAprovement'){
                        data.list.push({_id:satir._id, ID:satir.doc.ID});
                    }
                    
                }
            });
            if(data.list.length==0)  return alert('Kayit secilmemis!');
            if(!confirm(data.list.length + ' adet ticari faturayi onayliyor musunuz?')) return;
            $.ajax({
                url:'/dbapi/e-invoice/approve?db=<%=db%>&sid=<%=sid%>',
                data:data,
                type:'POST',
                success:function(result){
                    if(result.success){
                        
                        window.location.reload();
                    }else{
                        alert(result.error.code + '\n' + result.error.message);
                    }
                }
            });
            
        });

        $('#btnDecline').click(function(){
            var data={list:[]};
            $(".checkSingle").each(function() {
                if(this.checked){
                    var satir=JSON.parse(decodeURIComponent(this.value));
                    if(satir.doc.invoiceStatus=='WaitingForAprovement'){
                        data.list.push({_id:satir._id, ID:satir.doc.ID});
                    }
                    
                }
            });
            if(data.list.length==0)  return alert('Kayit secilmemis!');
            if(!confirm(data.list.length + ' adet ticari faturayi reddediyor musunuz?')) return;
            $.ajax({
                url:'/dbapi/e-invoice/decline?db=<%=db%>&sid=<%=sid%>',
                data:data,
                type:'POST',
                success:function(result){
                    if(result.success){
                        
                        window.location.reload();
                    }else{
                        alert(result.error.code + '\n' + result.error.message);
                    }
                }
            });
            
        });
    });

    function showErrors(_id){
        var url='<%=urlPath%>/errors/'+ _id + '?db=<%=db%>&sid=<%=sid%>';
        popupCenter(url,'Goster','900','600');
    }

    function yazdir(id){
        popupCenter('/general/print?path=/production-orders/' + id + '&db='+ q.db + '&sid='+ q.sid,'Üretim Emri', '1000','700');
    }
</script>