<%layout('../_common/layouts/general')%>
<div id="main"></div>
<script type="text/javascript" src="<%- assetVersion('/hodja/grid-builder.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/hodja/form-builder.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/hodja/filter-builder.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/hodja/builder.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/hodja/templates/grid/grid-helper.js') %>"></script>
<!-- <script type="text/javascript" src="<%- assetVersion('/hodja/templates/grid/grid.js') %>"></script> -->

<script type="text/javascript">

	var dbType=typeof types!='undefined'?types.types:'';
	var builder=typeof Builder!='undefined'?Builder.Builder:'';
	var formBuilder=typeof FormBuilder!='undefined'?FormBuilder.FormBuilder:'';
	var gridBuilder=typeof GridBuilder!='undefined'?GridBuilder.GridBuilder:'';
	var filterBuilder=typeof FilterBuilder!='undefined'?FilterBuilder.FilterBuilder:'';

	var gridHelper=typeof GridHelper!='undefined'?GridHelper.GridHelper:''
	var jsonPage=JSON.parse(decodeURIComponent('<%- encodeURIComponent2(JSON.stringify(page)) %>'))
	
	$('#main').html('')
	jsonPage.forEach((page)=>{

		switch(page.type){
			case 'filter':
			$('#main').html($('#main').html() + '<div id="filter"></div>')
			break
			case 'grid':
				$('#main').html($('#main').html() + '<div id="grid"></div>')

				gridBuilder.build(page,{},(err,html)=>{
					if(!err){
						$('#grid').html(html)
					}else{
						$('#grid').html(err.name + ' - ' + err.message)
					}
					
				})
			break;
		}
	})
	
</script>

