<%
    if(typeof name=='undefined') name='account';
%>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" form="form-general" name="<%=name%>Code" placeholder="<%- readonly?'':title %>" id="<%=name%>Code" class="form-control" autocomplete="off" value="" <%- readonly?'readonly':'' %> >
            <input type="text" form="form-general" name="<%=name%>"  id="<%=name%>" hidden="true" value="" <%- readonly?'readonly':'' %> >
        </div>
    </div>
</div>

<script type="text/javascript">
    <% if(value!=''){ %>
    $.ajax({
        url:`/dbapi/accounts/<%=value%>?sid=${q.sid}`,
        type:'GET',
        dataType: 'json',
        success: function(result) {
            if(result.success){
                $('#<%=name%>Code').val(result.data.accountCode + ' - ' + result.data.name);
                $('#<%=name%>').val(result.data._id);
            }
        }
    });
    <% } %>
    $(document).ready(function(){
        $('#<%=name%>Code').autocomplete({
            source:function(request,response){
                    $.ajax({
                    url:`/dbapi/accounts?accountCode=' +  encodeURIComponent(request.term) + '&sid=<%=sid%>',
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.docs.length;i++){
                                    var item=result.data.docs[i];
                                    
                                    dizi.push({label:(item.accountCode + ' - ' + item.name),value:(item.accountCode + ' - ' + item.name), obj:item});
                                }
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#<%=name%>Code").val(ui.item.label); 
                    $("#<%=name%>").val(ui.item.obj._id); 
                    return false;
                }
        });
    });
</script>