<%
    if(typeof name=='undefined') name='location';
    if(typeof subLocationName=='undefined') subLocationName='subLocation';
    if(typeof inputTitle=='undefined') inputTitle='Lokasyon';
    if(typeof showAll=='undefined') showAll=false;
%>

    <div class="form-group">
        <label for="" class="m-0" ><%=inputTitle%></label>
        <div class="form-inline">
            <select class="form-control" name="<%=name%>" title="Lokasyon"></select>
            <select class="form-control" name="<%=subLocationName%>" style="display: none;"  title="Alt Lokasyon"></select>
        </div>
    </div>
   

<script type="text/javascript">
    
    $('select[name="<%=name%>"]').change(function(){
        change_<%=name.replaceAll('.','_')%>();
    });

    $('select[name="<%=name%>"] option').remove();
    var editLocationId='';
    var editSubLocationId='';
    <% if(typeof form[name]!='undefined'){ %>
        <% if(form[name]!='') { %>
           editLocationId='<%=form[name]%>';
        <% } %>
    <% } %>

    <% if(typeof form[subLocationName]!='undefined'){ %>
        <% if(form[subLocationName]!='') { %>
           editSubLocationId='<%=form[subLocationName]%>';
        <% } %>
    <% } %>
    $.ajax({
        url:`/dbapi/locations?sid=${q.sid}`,
        type:'GET',
        dataType: 'json',
        success: function(result) {
            if(result.success){
                var lokasyonlar = document.getElementsByName('<%=name%>')[0];
                <% if(showAll){ %>
                    var tumu = document.createElement("option");
                    tumu.text = '-- Tümü --';
                    tumu.value=';false';
                    lokasyonlar.options.add(tumu, lokasyonlar.options.length);
                <% } %>
                result.data.docs.forEach(function(e){
                    var c = document.createElement("option");
                    c.text = e.locationName;
                    c.value=e._id + ';' + (e.hasSubLocations || false);
                    if(e._id==editLocationId) c.selected=true;
                    lokasyonlar.options.add(c, lokasyonlar.options.length);
                    
                });
                
                change_<%=name.replaceAll('.','_')%>();

            }
        }
    });
    
    function change_<%=name.replaceAll('.','_')%>(){
        $('select[name="<%=subLocationName%>"] option').remove();
        if(!$('select[name="<%=name%>"]').val()) return;
        var altLokasyonlar = document.getElementsByName('<%=subLocationName%>')[0];
        if($('select[name="<%=name%>"]').val().split(';')[1]=="false"){
            var c = document.createElement("option");
            c.text = '';
            c.value='';
            altLokasyonlar.options.add(c, altLokasyonlar.options.length);
            $('select[name="<%=subLocationName%>"]').val('');
            altLokasyonlar.style.display='none';
            return;
        } 

        $.ajax({
            url:`/dbapi/sub-locations?location=${$('select[name="<%=name%>"]').val().split(';')[0]}&sid=${q.sid}`,
            type:'GET',
            dataType: 'json',
            success: function(result) {
                console.log('ajax alt lokasyon calisti.');
                if(result.success){
                    
                    result.data.docs.forEach(function(e){
                        var c = document.createElement("option");
                        c.text = e.name;
                        c.value=e._id;
                        if(e._id==editSubLocationId) c.selected=true;
                        altLokasyonlar.options.add(c, altLokasyonlar.options.length);
                    });
                    altLokasyonlar.style.display='unset';
                    
                }
            }
        });
    }    
</script>