<%layout('../../_common/layouts/general')%>
<div class="form-group">
    <label class="control-label" for="">Veri Ambari</label>
    <input type="text" form="" name="dbName" class="form-control" autocomplete="off" value="<%=dbName%>" readonly="true">
</div>
<div class="form-group">
    <label class="control-label" for="">Davet edilecek üye</label>
    <input type="text" form="form-general" name="username" placeholder="Davet edilecek uyenin kullanici adi (en az 7 karakter)" id="username" class="form-control" autocomplete="off" value="<% if(typeof form.username!='undefined'){%><%=form.username%><%}%>">
    <input type="text" form="form-general" name="memberId"  id="memberId" hidden="true" value="<% if(typeof form.memberId!='undefined'){%><%=form.memberId%><%}%>">
</div>

<%- formBuilder.generateForm({
    controls:{
        canRead         :{title:'Okuyabilir?',                 type:'boolean'},
        canWrite         :{title:'Yazabilir?',                 type:'boolean'},
        canDelete         :{title:'Silebilir?',                 type:'boolean'}
    },
    
    mode:'addnew',
    backUrl:'/settings/dbinvite'
    }) 
%>

<script type="text/javascript">
     $(document).ready(function(){
        $('#username').autocomplete({
            source:function(request,response){
                    $.ajax({
                    url:'/api/dbinvite/<%=db%>/invite?username=' +  encodeURIComponent(request.term) + '&sid=<%=sid%>',
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.length;i++){
                                    var item=result.data[i];
                                    
                                    dizi.push({label:item.username,value:item._id});
                                }
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#username").val(ui.item.label); 
                    $("#memberId").val(ui.item.value); 
                    return false;
                }
        });

    });
</script>