<%layout('../../_common/layouts/plain')%>
<div class="row m-0 p-0">
    <div class="col-8 m-0 p-0 bold">
        <%=form.item.name.value%>
    </div>
    <div class="col-4 m-0 p-0 bold">
        <%=form.quantity%> <%=form.unitCode%>
    </div>
</div>
<% if(typeof form.details!='undefined'){ %>
<% form.details.forEach((e)=>{ 
    if(e.locationId!=null){
%>
<div class="row m-0 p-0">
    <div class="col-8 m-0 p-0">
        <%=e.locationId.locationName %>
    </div>
    <div class="col-4 m-0 p-0">
        <%=e.quantity %> <%=e.unitCode%>
    </div>
</div>
<% } %>
<% }) %>
<% } %>