<%layout('../../_common/layouts/plain')%>
<div class="card">
    <div class="card-header p-1">
        <div class="float-left bold text-danger">Hatalar</div>
    </div>
    <div class="card-body p-1">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="" class="m-0">Belge No</label>
                <input type="text" class="form-control" name="ID[value]" value="<%=form.ID.value%>" readonly="true">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="m-0">Tarih</label>
                <input type="text" name="issueDate[value]" class="form-control" value="<%=form.issueDate.value %>"  readonly="true">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="m-0">Senaryo</label>
                <input type="text" name="profileId[value]" class="form-control" value="<%=form.profileId.value %>"  readonly="true">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="m-0">Belge Tipi</label>
                <input type="text" name="despatchAdviceTypeCode[value]" class="form-control" value="<%=form.despatchAdviceTypeCode.value %>"  readonly="true">
            </div>
        </div>
        <div class="row">
        	<div class="form-group col-md-9">
                <label for="" class="m-0">Musteri Bilgisi</label>
                <input type="text" class="form-control" value="<%=form.deliveryCustomerParty.party.partyName.name.value%>" readonly="true">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="m-0">Son durum</label>
                <input type="text" class="form-control" value="<%=form.despatchStatus%>" readonly="true">
            </div>
        </div>
        <% var hataVar=false; %>
        <% if(typeof form.despatchErrors!='undefined'){ %>
            <% if(form.despatchErrors.length>0){ %>
                <% hataVar=true; %>
        <table class="table form-table table-bordered table-striped m-0"  cellspacing="0">
            <thead>
                <tr class="text-nowrap">
                    <th width="20%" class="">Tarih</th>
                    <th width="30%" class="">Code</th>
                    <th width="50%" class="">Aciklama</th>
                </tr>
            </thead>
            <tbody>
                <% form.despatchErrors.forEach((e)=>{ %>
                <tr>
                    <td><% if(typeof e._date!='undefined'){%><%=(new Date(e._date)).yyyymmddhhmmss()%><%}%></td>
                    <td><% if(typeof e.code!='undefined'){%><%=e.code%><%}%></td>
                    <td><% if(typeof e.message!='undefined'){%><%=e.message%><%}%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
            <% } %>
        <% } %>
        <% if(typeof form.localErrors!='undefined'){ %>
            <% if(form.localErrors.length>0){ %>
                <% hataVar=true; %>
        <label class="bold">Yerel Entegrasyon Hataları</label>
        <table class="table form-table table-bordered table-striped m-0"  cellspacing="0">
            <thead>
                <tr class="text-nowrap">
                    <th width="20%" class="">Tarih</th>
                    <th width="30%" class="">Code</th>
                    <th width="50%" class="">Aciklama</th>
                </tr>
            </thead>
            <tbody>
                <% form.localErrors.forEach((e)=>{ %>
                <tr>
                    <td><% if(typeof e._date!='undefined'){%><%=(new Date(e._date)).yyyymmddhhmmss()%><%}%></td>
                    <td><% if(typeof e.code!='undefined'){%><%=e.code%><%}%></td>
                    <td><% if(typeof e.message!='undefined'){%><%=e.message%><%}%></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
            <% } %>
        <% } %>
        <% if(!hataVar){ %>
        <label class="text-primary bold">Herhangi bir hata bilgisi yok</label>
        <% } %>
    </div>
</div>
