<%

%>
<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
	<div class="row m-0 mt-2">
		<div class="col-12 p-0">
			<%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>

			<div class="float-left form-inline ml-md-4">
				<label class="text-primary">Senaryo:</label>
				<select class="form-control input-inline input-sm" name="profileId" id="profileId">
					<% docProfileIdList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-left form-inline ml-md-2">
				<label class="text-primary">Sipariş Türü:</label>
				<select class="form-control input-inline input-sm" name="despatchAdviceTypeCode" id="despatchAdviceTypeCode">
					<% docTypeCodeList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.despatchAdviceTypeCode!='undefined') if(filter.despatchAdviceTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-md-right">
				<button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
			</div>
		</div>
	</div>
</form>

<%
panelButtons=`<a class="btn btn-primary mr-2" href="javascript:sendToGib()" >Gönder</a>
<a class="btn btn-info mr-2" href="javascript:sendToArchive()" >Arşive Kaldır</a>
`
%>

<%- partial('../../_common/components/grid2',{
	fields:[
	{name:'despatchNo',text:'İrs.No',type:'label', filterField:'despatchNo', filter:true,orderable:true},
	{name:'issueDate',text:'İrs. Tarihi',type:'label', orderable:true},
	{name:'partyName',text:'Unvan',type:'label', filter:true, orderable:true},
	{name:'despatchStatusHtml',text:'Durumu', width:'100px',type:'lookup',filter:true, lookupList:docStatusTypes, textField:'text', valueField:'value', orderable:false , dontUseLookup:true}
	],
	caption:'İrsaliyeler',
	addNewButton:true,
	viewButton:false,
	editButton:true,
	deleteButton:true,
	selection:true,
	customButtons:[
	{inline:true, class:'btn-secondary', href:`javascript:yazdir('{despatchStatus}','{_id}?sid=${sid}')`, title:'Yazdir',icon:'fas fa-print'},
	],
	deleteUrl:`/dbapi/despatch/{_id}?sid=${sid}`
}) 
%>

<script type="text/javascript">

	function yazdir(despatchStatus,partialUrl){
		var url=''
		if(despatchStatus=='SentToGib' || despatchStatus=='Approved' || despatchStatus=='PartialApproved' || despatchStatus=='Declined' || despatchStatus=='WaitingForApprovement' ){
			url=window.location.origin + '/despatch/outbox/view/' + partialUrl
		}else{
			url=window.location.origin + '/despatch/outbox/xslt/' + partialUrl
		}
		popupCenter(url,"Yazdir","900","600")
	}

	function showErrors(_id){
		var url=`${window.location.origin}/despatch/outbox/errors/${_id}?sid=${q.sid}`
		popupCenter(url,"Hatalar","900","600")
	}


	function sendToGib(){
		var data={list:[]}
		$(".checkSingle").each(function() {
			if(this.checked){
				var satir=JSON.parse(decodeURIComponent(this.value))
				if(satir.doc.despatchStatus=='Draft' || satir.doc.despatchStatus=='Error'){
					data.list.push({_id:satir._id, ID:satir.doc.ID})
				}

			}
		})
		if(data.list.length==0)
			return alertX('Kayit secilmemis!\nDurum: Taslak + Hata','Uyarı')

		confirmX(`${data.list.length} adet irsaliye GIB e gonderilecektir. Onaylıyor musunuz?`,(resp)=>{
			if(resp){
				$.ajax({
					url:`/dbapi/despatch/send?sid=${q.sid}`,
					data:data,
					type:'POST',
					success:function(result){
						if(result.success){
							alertX(result.data,()=>{
								window.location.reload()
							})
						}else{
							alertX(result.error.message,'HATA','warning')
						}
					},
					error:function(err){
						alertX((err.message || err.name || 'Hata oluştu'),'HATA','danger')
					}
				})
			}
		})
	}

	$(document).ready(function(){


		function sendFileImport(files){
			if(files.length==0) 
				return
			
			confirmX(`${files.length} adet dosya iceri alinacaktir. Onaylıyor musunuz?`,(resp)=>{
				if(resp){
					$.ajax({
						url:`/dbapi/despatch/importOutbox?sid=${q.sid}`,
						data:{fileImporter:'', files:files},
						type:'POST',
						success:function(result){
							if(result.success==undefined){
								alertX('Dosya iceri alinamadi! Hatali dosya icerigi','HATA','danger')
							}else{
								if(result.success){
									window.location.reload()
								}else{
									alertX(result.error.message,'HATA','warning')
								}
							}
						},
						error:function(err){
							alertX((err.message || err.name || 'Hata oluştu'),'HATA','danger')
						}
					})
				}
			})
			
		}
	})

</script>