<% layout('plain') %>
<nav class="sb-topnav fixed-top navbar navbar-expand navbar-dark bg-dark">
	<a class="btn btn-sm border ml-3 mr-3" data-toggle="collapse" href="#layoutSidenav_nav" role="button" aria-expanded="true" aria-controls="layoutSidenav_nav" title="Menü göster/gizle"><i class="fas fa-bars"></i></a>
	<a href="javascript:sayfalariTekrarYukle()" class="header-logo"></a>
	<!-- 
	<div class="ml-auto mr-0 mr-md-3 my-2 my-md-0">
		<a class="btn btn-primary" href="javascript:test()">Test</a>
	</div> -->
	<!-- Navbar Search-->
	<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
		
		<div class="input-group">
			<input class="form-control" type="text" placeholder="ara..." aria-label="Search" aria-describedby="basic-addon2" />
			<div class="input-group-append">
				<button class="btn btn-sm" type="button"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</form>
	<!-- Navbar-->
	<ul class="navbar-nav ml-auto ml-md-0">
		<li class="nav-item dropdown no-arrow mx-1" id="alertsDropdown">
			<a class="nav-link dropdown-toggle" href="#" id="alertsDropdownBtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bell fa-fw"></i>
				<!-- Counter - Alerts -->
				<span id="unread-notification-count" class="badge badge-danger badge-counter"></span>
			</a>
			<!-- Dropdown - Alerts -->
			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdownBtn">
				<h6 class="dropdown-header">
					Bildirim Merkezi
				</h6>
				<div id="last-notifications">
				</div>
				<a class="dropdown-item text-center small text-gray-500" href="#/me/notifications">Tüm bildirimleri göster</a>
			</div>
		</li>
		<!-- <li class="nav-item dropdown no-arrow mx-1">
			<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-envelope fa-fw"></i>
				<span class="badge badge-danger badge-counter">7</span>
			</a>
			<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
				<h6 class="dropdown-header">
					Message Center
				</h6>
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="img/undraw_profile_1.svg" alt="">
						<div class="status-indicator bg-success"></div>
					</div>
					<div class="font-weight-bold">
						<div class="text-truncate">Hi there! I am wondering if you can help me with a
						problem I've been having.</div>
						<div class="small text-gray-500">Emily Fowler · 58m</div>
					</div>
				</a>
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="img/undraw_profile_2.svg" alt="">
						<div class="status-indicator"></div>
					</div>
					<div>
						<div class="text-truncate">I have the photos that you ordered last month, how
						would you like them sent to you?</div>
						<div class="small text-gray-500">Jae Chun · 1d</div>
					</div>
				</a>
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="img/undraw_profile_3.svg" alt="">
						<div class="status-indicator bg-warning"></div>
					</div>
					<div>
						<div class="text-truncate">Last month's report looks great, I am very happy with
						the progress so far, keep up the good work!</div>
						<div class="small text-gray-500">Morgan Alvarez · 2d</div>
					</div>
				</a>
				<a class="dropdown-item d-flex align-items-center" href="#">
					<div class="dropdown-list-image mr-3">
						<img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
						<div class="status-indicator bg-success"></div>
					</div>
					<div>
						<div class="text-truncate">Am I a good boy? The reason I ask is because someone
						told me that people say this to all dogs, even if they aren't good...</div>
						<div class="small text-gray-500">Chicken the Dog · 2w</div>
					</div>
				</a>
				<a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
			</div>
		</li> -->
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="databasesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Veri Ambarları">
				<i class="fas fa-database"></i>
			</a>
			<div id="dbList" class="dropdown-menu dropdown-menu-right" aria-labelledby="databasesDropdown">
				<% if(typeof session!='undefined'){ %>
				<% if(typeof session.databases!='undefined'){ %>
				<% session.databases.forEach((e)=>{%>
				<% if(e._id.toString()== session.dbId.toString()){%>
				<div class="dropdown-item active"><%- e.dbName %></div>
				<% }else{ %>
				<a class="dropdown-item" href="javascript:changedb('<%- `${e._id}` %>')"><%- e.dbName %></a>
				<% } %>
				<% }) %>
				<% } %>
				<% } %>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Kullanıcı işlemleri"><i class="fas fa-user"></i></a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="#/me/profile">Profilim</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="javascript:logout();">Çıkış</a>
			</div>
		</li>
	</ul>
</nav>

<div id="layoutSidenav">
	<div id="layoutSidenav_nav" class="collapse show border-right"  style="margin-top:56px;">
		<%- partial('side-menu') %>
	</div>
	<div id="layoutSidenav_content"  style="margin-top:56px;" class="p-0">
		<main id="main-container" class="cerceve1 p-0">
			<div id="title-panel" class="mt-2 mb-1 px-3" style="height: 36px">
				<h1 id="pageTitle" class="float-left m-0 page-title text-primary" style="font-size:16pt">...</h1>
				<div id="headerButtons" class="float-right" style="min-height: 26px;"></div>
			</div>
			<div class="clearfix"></div>
			<div class="container-fluid">

				<%- body %>

			</div>
		</main>

		<%- partial('footer') %>
	</div>
</div>

<div id="spinner" class="spinner-border text-primary" role="status" style="display: none;position:absolute;top:50%;left:50%">
	<span class="sr-only">Loading...</span>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>


<div class="modal" id="modalFormOptions" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalFormOptionsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="modalFormOptionsLabel"><i class="fas fa-cogs"></i> Form Options</label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="overflow: auto;">
				<table class="table form-table table-bordered table-striped m-0"  cellspacing="0">
					<thead>
						<tr class="text-nowrap">
							<th width="30" class="">#</th>
							<th class="">Program Adı</th>
							<th class="">Türü</th>
						</tr>
					</thead>
					<tbody id="gridPrograms">
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" href="javascript:modalFormOptions_OK()" title="Kaydet"><i class="fas fa-check"></i> Tamam</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modalMessage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalMessageLabel" aria-hidden="true" style="z-index: 1051">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div id="modalMessageHeader" class="modal-header p-2 ">
				<label class="modal-title" id="modalMessageLabel"></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="overflow: auto;">
				
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" data-dismiss="modal">Tamam</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalConfirmLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header modal-body row align-items-center p-3" style="overflow: auto;">
				<div class="col-md-2 icon" style="font-size:16pt;">
					<i class="fas fa-question-circle fa-2x"></i>
				</div>
				<div class="col message" style="font-size:12pt;">
				</div>
			</div>
			<div class="modal-footer">
				<button id="modalConfirmOk" class="btn btn-primary" type="button" data-dismiss="modal">Tamam</button>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modalCopy" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalCopyLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div id="modalCopyHeader" class="modal-header p-2 ">
				<label class="modal-title"><i class="fas fa-copy"></i> <span id="modalCopyLabel"></span></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="overflow: auto;">
				
			</div>
			<div class="modal-footer">
				<a href="javascript:modalCopyOk()" id="modalCopyOk" class="btn btn-primary">Tamam</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	

	function test(){
		var message = SnackBar({
			message: "Message Here",
			status: "success",
			dismissible:true,
			timeout:false,
			actions: [{
				text: "Click Me!",
				function: function(){
					alert("A-C-T-I-O-N");
				}
			}]
		})
	}
	

</script>