<% layout('plain') %>
<nav class="sb-topnav fixed-top navbar navbar-expand navbar-dark bg-dark">
	<a href="/general/dashboard" class="navbar-brand header-logo"></a>
	<a class="btn btn-sm border" data-toggle="collapse" href="#layoutSidenav_nav" role="button" aria-expanded="false" aria-controls="layoutSidenav_nav" title="Menü göster/gizle"><i class="fas fa-bars"></i></a>
	<!-- Navbar Search-->
	<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

		<div class="input-group">
			<input class="form-control" type="text" placeholder="ara..." aria-label="Search" aria-describedby="basic-addon2" />
			<div class="input-group-append">
				<button class="btn btn-sm" type="button"><i class="fas fa-search"></i></button>
			</div>
		</div>
	</form>
	<!-- Navbar-->
	<ul class="navbar-nav ml-auto ml-md-0">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="databasesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Veri Ambarları">
				<i class="fas fa-database"></i>
			</a>


			<div id="dbList" class="dropdown-menu dropdown-menu-right" aria-labelledby="databasesDropdown">
				<!-- <div class="dropdown-header">Veri Ambarlari</div> -->
				<% if(typeof session!='undefined'){ %>
				<% if(typeof session.databases!='undefined'){ %>
				<% session.databases.forEach((e)=>{%>
				<% if(e._id.toString()== session.dbId.toString()){%>
				<div class="dropdown-item active"><%- e.dbName %></div>
				<% }else{ %>
				<a class="dropdown-item" href="/changedb?<%- `db=${e._id}` %>"><%- e.dbName %></a>
				<% } %>
				<% }) %>
				<% } %>
				<% } %>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Kullanıcı işlemleri"><i class="fas fa-user"></i></a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="/me/profile">Profilim</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="javascript:logout();">Çıkış</a>
			</div>
		</li>
	</ul>
</nav>

<div id="layoutSidenav">
	<div id="layoutSidenav_nav" class="collapse show border-right"  style="margin-top:56px;">
		<%- partial('side-menu') %>
	</div>
	<div id="layoutSidenav_content"  style="margin-top:56px;" class="p-2">
		<main id="main-container" style="display: none;" class="cerceve1 p-1">
			<div class="mt-2 mb-1 px-3" style="height: 36px">
				<h1 id="pageTitle" class="float-left m-0 page-title text-primary" style="font-size:16pt">...</h1>
				<% if(typeof headerButtons!='undefined'){ %>
				<div id="headerButtons" class="float-right" style="min-height: 26px;"><%- headerButtons %></div>
				<%}%>
			</div>
			<div class="clearfix"></div>
			<div class="container-fluid mb-3">
				<%- formError(message) %>
				<%- formSuccess(successMessage) %>
				<%- body %>

			</div>
		</main>

		<%- partial('footer') %>
	</div>
</div>
<script type="text/javascript">
	document.getElementById('pageTitle').innerHTML=pageTitle
</script>
<div id="spinner" class="spinner-border text-primary" role="status" style="display: initial;position:absolute;top:50%;left:50%">
	<span class="sr-only">Loading...</span>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>


<div class="modal" id="modalFormOptions" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalFormOptionsLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="modalFormOptionsLabel"><i class="fas fa-cogs"></i> Form Options: <b><%- urlPath %></b></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="overflow: auto;">
				<table class="table form-table table-bordered table-striped m-0"  cellspacing="0">
					<thead>
						<tr class="text-nowrap">
							<th width="30" class="">#</th>
							<th class="">Program Adı</th>
							<th class="">Türü</th>
						</tr>
					</thead>
					<tbody id="gridPrograms">
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" href="javascript:modalFormOptions_OK()" title="Kaydet"><i class="fas fa-check"></i> Tamam</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modalMessage" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalMessageLabel" aria-hidden="true" style="z-index: 1051">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div id="modalMessageHeader" class="modal-header p-2 ">
				<label class="modal-title" id="modalMessageLabel"></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="overflow: auto;">
				
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" data-dismiss="modal">Tamam</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	
</script>

<div class="modal" id="modalConfirm" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalConfirmLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body row align-items-center p-3" style="overflow: auto;">
				<div class="col-md-2" style="font-size:16pt;">
					<i class="fas fa-question-circle fa-2x"></i>
				</div>
				<div class="col message" style="font-size:12pt;">
				</div>
			</div>
			<div class="modal-footer">
				<button id="modalConfirmOk" class="btn btn-primary" type="button" data-dismiss="modal">Tamam</button>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	

	
</script>


<script type="text/javascript">

	

</script>


<div class="modal" id="modalCopy" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalCopyLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div id="modalCopyHeader" class="modal-header p-2 ">
				<label class="modal-title"><i class="fas fa-copy"></i> <span id="modalCopyLabel"></span></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="overflow: auto;">
				
			</div>
			<div class="modal-footer">
				<a href="javascript:modalCopyOk()" id="modalCopyOk" class="btn btn-primary">Tamam</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	
</script>