<% layout('plain') %>
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-white border-bottom">
            <a href="/general/dashboard?db=<%- db %>&sid=<%- sid %>" class="navbar-brand"><img src="<%- assetVersion('/img/logo.png') %>" style="max-width: 100%; max-height: 40px"></a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="ara..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="databasesDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="<% if(db==''){ %>Veri ambari secilmemis<%}%>">
                        <i class="fas fa-database fa-fw"></i>
                    </a>
                        
                    
                    <div id="dbList" class="dropdown-menu dropdown-menu-right" aria-labelledby="databasesDropdown">
                        <div class="dropdown-header">Veri Ambarlari</div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Kullanıcı işlemleri"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/general/me?db=<%- db %>&sid=<%- sid %>">Profilim</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:logout();">Çıkış</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav" class=" border-right">
                <%- partial('side-menu') %>
            </div>
            <div id="layoutSidenav_content">
                <main id="main-container" style="display: none;">
                	<div class="mt-2 mb-1 px-3" style="height: 36px">
                    	<h1 class="float-left m-0 page-title font-weight-bold text-secondary" style="font-size:16pt"><% if(typeof icon!='undefined'){%><i class="<%=icon%>"></i> <%}%><%=title%><% if(funcTitle!=''){%> - <%=funcTitle%><% } %></h1>
                    	<div id="headerButtons" class="float-right" style="min-height: 26px;"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="container-fluid mb-3">
                        
                        <%- body %>
                        
                    </div>
                </main>
                    
                <%- partial('footer') %>
            </div>

            
        </div>
        <div id="spinner" class="spinner-border text-primary" role="status" style="display: initial;position:absolute;top:50%;left:50%">
            <span class="sr-only">Loading...</span>
        </div>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

<script type="text/javascript">
    var dbLabel=document.getElementById('dbLabel');
    var databasesDropdown=document.getElementById('databasesDropdown');
    if(databasesDropdown && dbLabel && localStorage.getItem('activeDbName')){
        databasesDropdown.title=localStorage.getItem('activeDbName');
        dbLabel.innerHTML='<i class="fas fa-database"></i> ' + localStorage.getItem('activeDbName');
    }
    loadDatabases();

    function loadDatabases(){
        var databases=[];

        if(localStorage.getItem('databases')!=null){
            databases=JSON.parse(localStorage.getItem('databases'));
        }

        if(localStorage.getItem('activeDb')==null){
            if(databases.length>0){
                localStorage.setItem('activeDb',databases[0]._id);
                localStorage.setItem('activeDbName',databases[0].dbName);
                localStorage.setItem('activeDbModules','{}');
                if(databases[0].owner!=undefined)
                    if(databases[0].owner.modules!=undefined){
                      localStorage.setItem('activeDbModules',JSON.stringify(databases[0].owner.modules));
                    }
                changeActiveDb(localStorage.getItem('activeDb'),localStorage.getItem('activeDbName'));
                return;  
            }
        }else{
            if(databases.some(value=>{return value._id==localStorage.getItem('activeDb')})){
                if(getUrlParameter('db')!=localStorage.getItem('activeDb')){
                    databases.forEach((d)=>{
                        if(d._id==getUrlParameter('db')){
                            localStorage.setItem('activeDb',d._id);
                            localStorage.setItem('activeDbName',d.dbName);
                            localStorage.setItem('activeDbModules','{}');

                            if(d.owner!=undefined)
                                if(d.owner.modules!=undefined){
                                  localStorage.setItem('activeDbModules',JSON.stringify(d.owner.modules));
                                }
                            return;
                        }
                    });
                }
            }else{
                if(databases.length>0){
                    localStorage.setItem('activeDb',databases[0]._id);
                    localStorage.setItem('activeDbName',databases[0].dbName);
                    localStorage.setItem('activeDbModules','{}');
                    if(databases[0].owner!=undefined)
                        if(databases[0].owner.modules!=undefined){
                          localStorage.setItem('activeDbModules',JSON.stringify(databases[0].owner.modules));
                        }
                    changeActiveDb(localStorage.getItem('activeDb'),localStorage.getItem('activeDbName'));

                }else{
                    localStorage.removeItem('activeDb');
                    localStorage.removeItem('activeDbName');
                    localStorage.removeItem('activeDbModules');
                }
            }
        }

        
        $.each(databases, function(i, db) 
        { 
            var modules='{}';
            if(db.owner!=undefined)
                if(db.owner.modules!=undefined){
                    modules=JSON.stringify(db.owner.modules);
                }
            var url=window.location.origin + window.location.pathname + '?db=' + db._id + '&sid=<%=sid%>';
            if(localStorage.getItem('activeDb')==db._id){
                
                $("#dbList").append('<span class="dropdown-item bg-primary text-white">' + db.dbName + '</span>');
            }else{
                $("#dbList").append('<a class="dropdown-item" href="javascript:changeActiveDb(\'' + db._id + '\',\'' + db.dbName + '\')">' + db.dbName + '</a>');
                
            }
        });
    }

    function changeActiveDb(dbId,dbName){
        localStorage.setItem('activeDb',dbId);
        localStorage.setItem('activeDbName',dbName);
        var databases=[];

        if(localStorage.getItem('databases')!=null){
            databases=JSON.parse(localStorage.getItem('databases'));
            databases.forEach(function(e){
                if(e._id==dbId){
                    if(e.owner!=undefined)
                        if(e.owner.modules!=undefined){
                            localStorage.setItem('activeDbModules',JSON.stringify(e.owner.modules));
                            return;
                        }
                }
            })
        }
        var url=window.location.origin + '/general/dashboard?db=' + dbId + '&sid=<%=sid%>';
        window.location.href=url;
    }

    function logout(){
        if(!confirm('Programdan çıkmak istiyor musunuz?')) return;
        window.location.href=window.location.origin + '/';
    }
    $(document).ready(function(){
        var a=document.getElementById('main-container');
        var spinner=document.getElementById('spinner');
        a.style.display='initial';
        spinner.style.display='none';
    })
</script>