<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
    <% leftMenu.forEach((mainItem,menuIndex)=>{ %>
        <% if(mainItem.visible){ %>
            <% if(mainItem.nodes.length>0){ %>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapse<%- menuIndex %>" aria-expanded="false" aria-controls="pagesCollapse<%- menuIndex %>">
                <div class="sb-nav-link-icon"><i class="<%- mainItem.icon %>"></i></div>
                <%- mainItem.text %>
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapse<%- menuIndex %>" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="navId<%- menuIndex %>">
            <% mainItem.nodes.forEach((subItem,submenuIndex)=>{ %>
                <% if(subItem.visible){ %>
                    <% if(subItem.nodes.length>0){ %>
                    <a class="nav-link collapsed" href="#"  data-toggle="collapse" data-target="#ikinciMenu<%- menuIndex %>-<%- submenuIndex%>" aria-expanded="false" aria-controls="ikinciMenu<%- menuIndex %>-<%- submenuIndex%>">
                        <div class="sb-nav-link-icon"><i class="<%- subItem.icon %>"></i></div>
                        <%- subItem.text %>
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="ikinciMenu<%- menuIndex %>-<%- submenuIndex %>" data-parent="#navId<%- menuIndex %>">
                        <nav class="sb-sidenav-menu-nested nav">
                            <% subItem.nodes.forEach((sub2Item,submenu2Index)=>{ %>
                            <% if(sub2Item.visible){ %>
                            <a class="nav-link" href="<%- sub2Item.path %>">
                                <div class="sb-nav-link-icon"><i class="<%- sub2Item.icon %>"></i></div>
                                <%- sub2Item.text %>
                            </a>
                                <% } %>
                            <% }); %>
                        </nav>
                    </div>
                    <% } else { %>
                    <a class="nav-link" href="<%- subItem.path %>">
                        <div class="sb-nav-link-icon"><i class="<%- subItem.icon %>"></i></div>
                        <%- subItem.text %>
                    </a>
                    <% } %>
                <% } %>
            <% }); %>
                </nav>
            </div>
            <% } else { %>
            <a class="nav-link" href="<%- mainItem.path %>">
                <div class="sb-nav-link-icon"><i class="<%- mainItem.icon %>"></i></div>
                <%- mainItem.text %>
            </a>
            <% } %>
        <% } %>
    <% }); %>
            
            <!-- <div class="sb-sidenav-menu-heading">Addons</div> -->
            
        </div>
    </div>
    <!-- <div class="sb-sidenav-footer">
        <div id="pageLoadingTime"></div>
    </div> -->
</nav>

<script type="text/javascript">
    menuLinkleriDuzenle();

    function menuLinkleriDuzenle(){
        $('#sidenavAccordion a').each(function(index){
            if(this.href!='#' && this.href!=''){
                var path=this.href.replace(window.location.origin,'');
                this.href=generateMenuLink(path);
            }
        });
    }

    function generateMenuLink(path){
        var url='';
        if(path.indexOf('?')>-1){
            url=path + '&db=' + q.db + '&sid=' + q.sid;
        }else{
            url=path + '?db=' + q.db + '&sid=' + q.sid;
        }
        
        if(localStorage.getItem(path + '_filter')){
            try{
                var filter=JSON.parse(localStorage.getItem(path + '_filter'));
                for(var key in filter){
                    url+='&' + key + '=' + filter[key];
                    if(key=='cboEasyDate'){
                        url +=cboEasyDateUrlParams(filter[key]);
                    }
                }
            }catch(tryErr){}
        }
        return url;
    }

    function cboEasyDateUrlParams(value){
        var date1=new Date();
        var date2=new Date();
        switch(value){
            case 'today':break;
            case 'thisWeek':
            date1=date1.addDays(-1 * (date1.getDay()-1));
            date2=date2.addDays(7- date2.getDay());
            break;
            case 'thisMonth': 
            date1=date1.addDays(-1 * (date1.getDate()-1));
            date2=date2.lastThisMonth();
            break;
            case 'last1Week':
            date1=date1.addDays(-7);
            break;

            case 'last1Month':
            date1=new Date(date1.setMonth(date1.getMonth()-1))
            break;
            case 'last3Months':
            date1=new Date(date1.setMonth(date1.getMonth()-3))
            break;
            case 'last6Months':
            date1=new Date(date1.setMonth(date1.getMonth()-6))
            break;
            case 'thisYear':
            date1=new Date(date1.getFullYear(),0,1);
            date2=new Date(date2.getFullYear(),11,31);
            break;
            case 'last1Year':
            date1=new Date(date1.setMonth(date1.getMonth()-12))
            break;
            default:
            break;
        }
        return '&date1=' + date1.yyyymmdd() + '&date2=' + date2.yyyymmdd();
    }
</script>