<%
    if(typeof isModal=='undefined'){
        isModal=false;
    }else{
        if(isModal){
            //savePageFilter=false;
            if(typeof date1Name=='undefined') date1Name='date1Modal';
            if(typeof date2Name=='undefined') date2Name='date2Modal';
            if(typeof cboEasyDateName=='undefined') cboEasyDateName='cboEasyDateModal';
            if(typeof includeForm=='undefined') includeForm=false;
            if(typeof includeFilterButton=='undefined') includeFilterButton=false;
        }
    }

	if(typeof includeForm=='undefined') includeForm=true;
	if(typeof includeFilterButton=='undefined') includeFilterButton=true;
    
    if(typeof cboEasyDateName=='undefined') cboEasyDateName='cboEasyDate';

    if(typeof savePageFilter=='undefined') savePageFilter=true;

    if(typeof date1Name=='undefined') date1Name='date1';
    if(typeof date2Name=='undefined') date2Name='date2';

%>
<% if(includeForm){ %>
<form action="" method="POST" role="form" name="form1">

    <div class="row m-0">
        <div class="col-12 p-0">
<% } %>
            <div class="float-left">
                <select class="form-control input-inline input-sm" name="<%=cboEasyDateName%>" id="<%=cboEasyDateName%>" onchange="<%=cboEasyDateName%>_change()">
                    <option value=""<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate==''){%>selected<% } %>>Tarih</option>
                    <option value="today"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='today'){%>selected<% } %>>Bugün</option>
                    <option value="thisWeek"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='thisWeek'){%>selected<% } %>>Bu Hafta</option>
                    <option value="thisMonth"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='thisMonth'){%>selected<% } %>>Bu Ay</option>
                    <option value="last1Week"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='last1Week'){%>selected<% } %>>Son 1 Hafta</option>
                    <option value="last1Month"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='last1Month'){%>selected<% } %>>Son 1 Ay</option>
                    <option value="last3Months"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='last3Months'){%>selected<% } %>>Son 3 Ay</option>
                    <option value="last6Months"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='last6Months'){%>selected<% } %>>Son 6 Ay</option>
                    <option value="thisYear"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='thisYear'){%>selected<% } %>>Bu yıl</option>
                    <option value="last1Year"<% if(typeof filter.cboEasyDate!='undefined') if(filter.cboEasyDate=='last1Year'){%>selected<% } %>>Son 1 yıl</option>
                </select>
            </div>
            <div class="float-left">
                <div class="input-group date">
                    <input type="text" name="<%=date1Name%>" id="<%=date1Name%>" class="form-control" value="<% if(typeof filter.date1=='undefined'){%><%=moment().format('YYYY-MM-DD')%><%}else{%><%=filter.date1%><%}%>">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="float-left ml-md-2">
                <div class="input-group date">
                    <input type="text" name="<%=date2Name%>" id="<%=date2Name%>" class="form-control" value="<% if(typeof filter.date2=='undefined'){%><%=moment().format('YYYY-MM-DD')%><%}else{%><%=filter.date2%><%}%>">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar fa-2x"></i>
                    </div>
                </div>
            </div>

            <% if(includeFilterButton){ %>
            <div class="float-md-right">
                <button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
            </div>
            <% } %>
<% if(includeForm){ %>            
        </div>
    </div>
</form>
<% } %>

<script type="text/javascript">

    var cboEasyDate=document.getElementById('<%=cboEasyDateName%>');
    function <%=cboEasyDateName%>_change(){
        var date1=new Date();
        var date2=new Date();

        switch(cboEasyDate.value){
            case 'today':break;
            case 'thisWeek':
                date1=date1.addDays(-1 * (date1.getDay()-1));
                date2=date2.addDays(7- date2.getDay());
            break;
            case 'thisMonth': 
                date1=date1.addDays(-1 * (date1.getDate()-1));
                date2=date2.lastThisMonth();
                //date2=date2.addDays(7- date2.getDay());
            break;
            case 'last1Week':
                date1=date1.addDays(-7);
            break;

            case 'last1Month':
                date1=new Date(date1.setMonth(date1.getMonth()-1))
            break;
            case 'last3Months':
                date1=new Date(date1.setMonth(date1.getMonth()-3))
            break;
            case 'last6Months':
                date1=new Date(date1.setMonth(date1.getMonth()-6))
            break;
            case 'thisYear':
                date1=new Date(date1.getFullYear(),0,1);
                date2=new Date(date2.getFullYear(),11,31);
                break;
            case 'last1Year':
                date1=new Date(date1.setMonth(date1.getMonth()-12))
            break;
            default:
            break;
        }
        document.getElementById('<%=date1Name%>').value=date1.yyyymmdd();
        document.getElementById('<%=date2Name%>').value=date2.yyyymmdd();
        <% if(savePageFilter){ %>
        savePageFilter('<%=urlPath%>','<%=cboEasyDateName%>',cboEasyDate.value);
        <% } %>
    }
    

    <% if(savePageFilter){ %>
        //var cboEasyDate=document.getElementById('<%=cboEasyDateName%>');
        //cboEasyDate.value=getPageFilter('<%=urlPath%>','<%=cboEasyDateName%>','today');
        $('#<%=cboEasyDateName%>').val(getPageFilter('<%=urlPath%>','<%=cboEasyDateName%>','today'));
        <%=cboEasyDateName%>_change();
    <% } %>

    $(document).ready(function(){
        $('.input-group.date').datepicker({
            format: 'yyyy-mm-dd',
            language: "tr",
            orientation: "bottom auto",
            // todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            clearBtn: true

            // startDate: -4,
            // endDate: +8,
        });

        
    });
</script>