<%
    if(typeof dataSourceUrl=='undefined') dataSourceUrl='';
    if(typeof showSearch=='undefined') showSearch=false;
    if(typeof filter=='undefined') filter={};

    if(typeof addNewButton=='undefined') addNewButton=false;
    if(typeof editButton=='undefined') editButton=false;
    if(typeof deleteButton=='undefined') deleteButton=false;
    if(typeof viewButton=='undefined') viewButton=false;
    if(typeof selection=='undefined') selection=false;
    
    
    var ctrlCol=0;
    if(editButton) ctrlCol++;
    if(deleteButton) ctrlCol++;
    if(viewButton) ctrlCol++;
    if(typeof customButtons!='undefined') {
        
        for(var i=0;i<customButtons.length;i++){
            if(ctrlCol<5){
                ctrlCol++; 
            }
            if(typeof customButtons[i].icon=='undefined') customButtons[i].icon='';
            if(typeof customButtons[i].text=='undefined') customButtons[i].text='';
            if(typeof customButtons[i].title=='undefined') customButtons[i].title='';
            if(customButtons[i].icon!=''){
                customButtons[i].icon=' fa fa-' + customButtons[i].icon;
                customButtons[i].title=customButtons[i].text;
                customButtons[i].text='';
            }
        }
    }
    if(addNewButton){
        if(typeof pageHeaderButtons=='undefined'){
            pageHeaderButtons={visible:true, addNew:true}
        }else{
            pageHeaderButtons['visible']=true;
            pageHeaderButtons['addNew']=true;
        }
        
        if(typeof backUrl!='undefined'){
            pageHeaderButtons['back']=true;
            pageHeaderButtons['backUrl']=backUrl;
        }
    }
    var showFilterRow=false;

    fields.forEach((field)=>{
        if(typeof field.type=='undefined') field['type']='label';

        if(typeof field.valueField=='undefined') field['valueField']='value';
        if(typeof field.textField=='undefined') field['textField']='text';
        if(typeof field.icon=='undefined') field['icon']='';

        if(typeof field.path=='undefined') field['path']='';
        if(typeof field.buttonTarget=='undefined') field['buttonTarget']='_self';
        if(typeof field.filterField=='undefined') field.filterField=field.name;
        if(typeof field.dontUseLookup=='undefined') field.dontUseLookup=false;

        if(typeof field.filter!='undefined'){
            if(field.filter){
                showFilterRow=true;
            }
        }else{
            field.filter=false;
        }

        

        if(typeof filter[field.filterField]!='undefined'){
            field.filterValue=filter[field.filterField];
        }else{
            field.filterValue='';
        }
    });


%>

<div class="table-responsive mt-1">
    <div class="row m-0 border">
        <div class="col-12 pt-1 px-1">
            <div class="float-left form-inline m-0 p-0 mt-1 mb-1">
                <% if(typeof pageSize!='undefined'){ %>
                <div class="form-group" style="display: inline-block;">
                    Sayfada
                    <select class="form-control input-inline input-sm" name="pageSize" id="pageSize">
                        <option value="10"<% if(pageSize==10){%> selected<%}%>>10</option>
                        <option value="20"<% if(pageSize==20){%> selected<%}%>>20</option>
                        <option value="50"<% if(pageSize==50){%> selected<%}%>>50</option>
                        <option value="100"<% if(pageSize==100){%> selected<%}%>>100</option>
                        <option value="250"<% if(pageSize==250){%> selected<%}%>>250</option>
                        <option value="500"<% if(pageSize==500){%> selected<%}%>>500</option>
                    </select>
                </div>
                <% } %>
                <div class="" style="display: inline-block;">
                    <% if(typeof pageSize!='undefined'){ %>
                        <%=((page-1)*pageSize)+1%> - <% if(page*pageSize<recordCount) {%><%=page*pageSize%><%} else {%><%=recordCount%><%} %> arasi, Toplam: <%=recordCount%> kayit, <%=pageCount%> sayfa
                    <% } else if(typeof recordCount!='undefined'){ %>
                        Toplam: <%=recordCount%> kayit
                    <% } %>
                </div>
            </div>
            <% if(typeof pageCount!='undefined'){
                    if(pageCount>1) { %>
            <div class="float-right">
                <ul class="pagination mb-1">
                    <%  
                        if(page>1){ %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=1&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">|&lt;</a></li>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(page-1)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&lt;</a></li>
                        <% }
                        var sayfalar=pagination(page,pageCount);
                        for(var i=0;i<sayfalar.length;i++){
                            if(sayfalar[i]==page){ %>
                            <li class="page-item active"><span class="page-link"><%=page%></span></li>
                            <% } else if(sayfalar[i]=='...') { %>
                            <li class="page-item"><span class="page-link">...</span></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=sayfalar[i]%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>"><%=sayfalar[i]%></a></li>
                            <% } %>
                        <% } %>
                        
                        <% if(page<pageCount) { %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(page+1)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&gt;</a></li>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(pageCount)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&gt;|</a></li>
                        <% } %>
                    
                </ul>
                
            </div>
            <% }
                } %>
        </div>
    </div>
    <table id="grid1" class="table table-bordered table-striped m-0"  cellspacing="0">
            <thead>
                <tr class="text-nowrap">
                    <% if(selection) { %>
                    <th style="width: 30px;"><input type="checkbox" value="true" name="selectAll" id="selectAll"></th>
                    <% } %>

                    <% fields.forEach(function(field){%> 
                        <th class="" style="<% if(typeof field.width!='undefined'){%>width:<%=field.width%><%}%>"><% if(field.icon!=''){%><i class="fa fa-<%=field.icon%>"></i> <% } %><%=field.text%></th>
                    <%});%>
                    <th class="text-center" style="width: <%=(ctrlCol*30)%>px;">
                         <% if(addNewButton){ %>
                            <a href="javascript:addNewUrl('<% if(typeof addNewUrl!='undefined'){%><%=addNewUrl%><%}else{%><%=urlPath%>/addnew?db=<%=db%>&sid=<%=sid%><%}%>');" class="btn btn-primary far fa-plus-square"  title="Yeni Ekle"></a>
                        <% } else {%>
                        #
                        <% } %>
                    </th>
                </tr>
                <% if(showFilterRow){ %>
                <tr>
                    <% if(selection) { %>
                    <th class=""></th>
                    <% } %>
                    
                    <% fields.forEach(function(field,index){%> 
                        <!-- <th class="<% if(typeof field.width!='undefined'){%>ctrl-col-<%=field.width%><%}%> nowrap"> -->
                        <th class="" style="">
                            <% if(field.filter){ %>
                                <% if(field.type=='lookup' && typeof field.lookupList!='undefined'){ %>
                                    <select name="filter_<%=index%>" id="filter_<%=index%>" class="form-control p-0 m-0">
                                        <% field.lookupList.forEach(function(lookupItem){ %> 
                                            <option value="<%=lookupItem[field.valueField]%>" <% if(field.filterValue==lookupItem[field.valueField]){%>selected<% } %> ><%=lookupItem[field.textField]%></option>
                                        <% }); %>
                                    </select>
                                <% } else { %>
                                    <input type="text" class="form-control p-0 m-0" name="filter_<%=index%>" id="filter_<%=index%>" value="<%=field.filterValue%>">
                                <% } %>
                            <% } %>
                        </th>
                    <%});%>

                    <th></th>
                </tr>
                <% } %>
            </thead>
            <tbody>
                <% 
                    function getPropertyByKeyPath(targetObj, field) { 
                        var keyPath=field.name;
                        var keys = keyPath.split('.');
                        if(keys.length == 0) return undefined; 
                        keys = keys.reverse();
                        var subObject = targetObj;
                        while(keys.length) {
                           var k = keys.pop();
                           if(typeof subObject[k]=='undefined' || subObject[k]==null) {
                            return undefined;
                           } else {
                            subObject = subObject[k];
                           }
                        }
                        return subObject;
                    }

                    
                    
                    list.forEach(function(item,index){ %>
                    <tr>
                        <% if(selection && typeof item._id!='undefined') { %>
                        <td><input type="checkbox" class="checkSingle" value="<%- encodeURIComponent(JSON.stringify(item))%>" name="selected[<%=index%>]"  id="selected[<%=index%>]"></td>
                        <% } %>
                        <% fields.forEach(function(field){
                            var itemValue;
                            if(typeof item!='undefined'){
                                itemValue=getPropertyByKeyPath(item,field);
                            }
                            
                            if(typeof itemValue=='undefined'){
                                itemValue='';
                            }
                        %>
                        <% if(typeof field.type!='undefined'){
                                if(field.type=='lookup' && typeof field.lookupList!='undefined' && field.dontUseLookup==false ){
                                    var bFound=false;
                                    
                                    field.lookupList.forEach(function(e){
                                        if(e[field.valueField]==itemValue){
                                            %><td><%=e[field.textField]%></td><%
                                            bFound=true;
                                            return;
                                        }
                                    });
                                    if(bFound==false){
                                        %><td><%=itemValue%></td><%
                                    }
                                }else if(field.type=='checkbox'){
                                    %><td class="text-center"><% if(itemValue){%>evet<%}else{%>hayır<%}%></td><%
                                }else if(field.type=='button'){
                                    %><td class="text-center"><a href="<%=field.path%>/<%=item._id%>?db=<%=db%>&sid=<%=sid%>" class="btn btn-info" title="<%=field.text%>" <% if(typeof field.buttonTarget!='undefined'){%>target="<%=field.buttonTarget%>"<%}%>><% if(field.icon!=''){%><i class="fa fa-<%=field.icon%>"></i> <% } %></a></td><%
                                }else{
                                    %><td class="<% if(typeof field.nowrap!='undefined') if(field.nowrap){%>text-nowrap <%}%><% if(typeof field.align=='undefined' && !isNaN(itemValue)){%>text-nowrap text-right<%}%>"><%- mrutil.formatCol(itemValue,field) %></td><%
                                }
                            }else{
                            %><td><%- mrutil.formatCol(itemValue,field)%></td>
                            <%} %>
                        
                        <%}); %>
                        <td class="text-nowrap">
                            <% if(typeof customButtons!='undefined') { %>
                                <% 

                                    for(var i=0;i<customButtons.length;i++){ 
                                    var tmpUrl='';
                                    var cusPath='';
                                    var popup=false;
                                    var target='_self';

                                    if(customButtons[i].path.indexOf('?')<0){
                                        tmpUrl='?db=' + db + '&sid=' + sid;
                                    }else if(customButtons[i].path.indexOf('sid=')<0){
                                        tmpUrl='&sid=' + sid;
                                    }
                                    if(typeof customButtons[i].popup!='undefined') popup=customButtons[i].popup;
                                    if(typeof customButtons[i].target!='undefined') target=customButtons[i].target;

                                    cusPath=customButtons[i].path.replaceAll("{_id}", item._id )  + tmpUrl;
                                    
                                %>
                            <a href="javascript:openUrl('<%=cusPath%>','<%=item._id%>','<%=target%>',<%=popup%>);" class="btn btn-secondary btn-sm" title="<%=customButtons[i].title%>"><% if(customButtons[i].icon!=''){%><i class="<%=customButtons[i].icon%>"></i> <%}%><%=customButtons[i].text%></a>
                                <% } %>
                            <% } %>
                            <% if(viewButton){ %>
                            <a href="javascript:openUrl('<% if(typeof viewUrl!='undefined'){%><%=viewUrl%><%}else{%><%=urlPath%>/view/{_id}?db=<%=db%>&sid=<%=sid%><%}%>','<%=item._id%>');" class="btn btn-info btn-sm fa fa-eye" title="İncele"></a>
                            <% } %>
                            <% if(editButton){ %>
                            <a href="javascript:openUrl('<% if(typeof editUrl!='undefined'){%><%=editUrl%><%}else{%><%=urlPath%>/edit/{_id}?db=<%=db%>&sid=<%=sid%><%}%>','<%=item._id%>');" class="btn btn-primary btn-sm fas fa-edit"  title="Düzenle"></a>
                            <% } %>
                            <% if(deleteButton && typeof deleteUrl!='undefined'){ %>
                            <a href="javascript:deleteItem('<%=deleteUrl%>','<%=item._id%>');"  class="btn btn-danger btn-sm fas fa-trash-alt" title="Sil"></a>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
    </table>
    <div class="row m-0 border rounded pt-2">
        <div class="col-12">
            <div class="float-left form-inline p-0 mt-1 mb-1 mr-4">
                <div class="" style="display: inline-block;">
                    <button class="btn btn-success" id="btnExportExcel" title="Excel Export"><i class="fas fa-file-excel"></i></button>
                    <button class="btn btn-success" id="btnExportCsv" title="Csv Export"><i class="fas fa-file-csv"></i></button>
                </div>
            </div>
            <div class="float-left form-inline m-0 p-0 mt-2 mb-1">
                <div class="" style="display: inline-block;">
                    <% if(typeof pageSize!='undefined'){ %>
                        <%=((page-1)*pageSize)+1%> - <% if(page*pageSize<recordCount) {%><%=page*pageSize%><%} else {%><%=recordCount%><%} %> arasi, Toplam: <%=recordCount%> kayit, <%=pageCount%> sayfa
                    <% } else if(typeof recordCount!='undefined'){ %>
                        Toplam: <%=recordCount%> kayit
                    <% } %>
                </div>
            </div>
            <% if(typeof pageCount!='undefined'){
                    if(pageCount>1) { %>
            <div class="float-right">
                <ul class="pagination mb-1">
                    <%  
                        if(page>1){ %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=1&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">|&lt;</a></li>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(page-1)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&lt;</a></li>
                        <% }
                        var sayfalar=pagination(page,pageCount);
                        for(var i=0;i<sayfalar.length;i++){
                            if(sayfalar[i]==page){ %>
                            <li class="page-item active"><span class="page-link"><%=page%></span></li>
                            <% } else if(sayfalar[i]=='...') { %>
                            <li class="page-item"><span class="page-link">...</span></li>
                            <% } else { %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=sayfalar[i]%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>"><%=sayfalar[i]%></a></li>
                            <% } %>
                        <% } %>
                        
                        <% if(page<pageCount) { %>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(page+1)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&gt;</a></li>
                            <li class="page-item"><a class="page-link" href="<%=urlPath%>?page=<%=(pageCount)%>&<%=filterString%>&db=<%=db%>&sid=<%=sid%>">&gt;|</a></li>
                        <% } %>
                </ul>
            </div>
            <% }
                } %>
        </div>
    </div>
</div>
<style type="text/css">
    <% if(showSearch==false){ %>
    .dataTables_filter {
        display: none; 
    }
    <% } %>
</style>
<script type="text/javascript">
    
    $(document).ready(function(){
        $("#btnExportExcel").click(function () {
            fnExcelReport('grid1','<%=title%>');
        });
        $("#btnExportCsv").click(function () {
            fnCsvReport('grid1','<%=title%>');
        });
        $('#pageSize').change(function(e){
            savePageFilter('<%=urlPath%>','pageSize',$('#pageSize').val());
            var filterUrl='<% for(let k in filterObjects){%><%=k%>=<%=filterObjects[k]%>&<%}%>';
            window.location.href='<%=urlPath%>?page=1&pageSize=' + $('#pageSize').val() + '&' + filterUrl + 'db=<%=db%>&sid=<%=sid%>';
        });

        <% if(selection){ %>
            $('#selectAll').change(function(e){
                
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        <% } %>

        <% if(showFilterRow) { 
            fields.forEach(function(field,index){
                if(field.filter){
            %>
                <% if(field.type=='lookup'){ %>
                    $("#filter_<%=index%>").change(function(e){
                        
                        keyupTimer=0;
                        runFilter();
                    });
                <% } else { %>
                    $("#filter_<%=index%>").keyup(function(e){
                        setTimeout(function(){
                            keyupTimer=1;
                            runTimer(); 
                        },500);
                    });
                <% } %>
            <% } }); %>

            var keyupTimer=0;

            function runTimer(){
                if(keyupTimer==0) return;
                
                if(keyupTimer>=3){
                    keyupTimer=0;
                    runFilter();
                }else{
                    keyupTimer++;
                    setTimeout(runTimer,1000);
                }
            }
            function runFilter(){
                var params=getAllUrlParams();
                var filtreVar=false;
                <% 
                    
                    
                    fields.forEach(function(field,index){
                    if(field.filter){
                        
                        //return;
                %>
                    filtreVar=true;
                    if($("#filter_<%=index%>").val()!=''){
                        params['<%=field.filterField%>']=$("#filter_<%=index%>").val();
                        //queryString=queryString + '&<%=field.filterField%>=' + encodeURIComponent($("#filter_<%=index%>").val());
                    }else{
                        if(params['<%=field.filterField%>']!=undefined){
                            params['<%=field.filterField%>']=undefined;
                            delete params['<%=field.filterField%>'];
                        }
                    }

                <% } }); %>
                if(filtreVar){
                    var queryString='';
                    for(let key in params){
                        if(queryString!='') queryString +='&';
                        queryString +=key + '=' + encodeURIComponent(params[key]);
                    }
                    window.location.search=queryString;
                    //window.location.reload();
                }
            }
        <% } %>
       
    });
   

    function addNewUrl(url){
        localStorage.setItem('returnUrl',window.location.href);
        //url=url.replaceAll('{_id}',_id);
        window.location.href=url;
    }

        
    

    function deleteItem(url,_id){
        
        if(url==''){
            alert('deleteItem deleteUrl gerekli');
            return;
        }
        if(!confirm("Kayit silinecektir! Onayliyor musunuz?")) return;

        url=url.replaceAll('{_id}',_id);
        $.ajax({
            url:url,
            type:'DELETE',
            success:function(result){
                if(result.success){
                    window.location.reload();
                }else{
                    alert('Hata:' + result.error.message);
                }
            }
        });
        // localStorage.setItem('returnUrl',window.location.href);
        // window.location.href=url;
    }
   

</script>

<%
function pagination(c, m) {
    var current =Number(c),
        last = Number(m),
        delta = 2,
        left = current - delta,
        right = current + delta + 1,
        range = [],
        rangeWithDots = [],
        l;
    
    for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || i >= left && i < right) {
            range.push(i);
        }
    }


    for (let i of range) {
        if (l) {
            if (i - l == 2) {
                rangeWithDots.push(l + 1);
            } else if (i - l != 1) {
                rangeWithDots.push('...');
            }
        }
        rangeWithDots.push(i);
        
        
        l = i;
    }

    return rangeWithDots;
}


%>