<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>TR216 - Portal</title>

	<link href="/css/fontawesome.v5.8.2.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



	<link href="/css/theme.css" rel="stylesheet">

	<script type="text/javascript" src="/js/jquery.v3.4.1.min.js"></script>
	
	<link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap-select.min.css" />
	<link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/tr216-functions.js"></script>

	<link href="/datatables/datatables.min.css" rel="stylesheet">

	<link href="/css/tr216-portal.css" rel="stylesheet">
	<link href="/css/tr216-menu.css" rel="stylesheet">
</head>
<body id="page-top" style="scroll-behavior: smooth;">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<%- partial('left.ejs') %>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light topbar mb-1 static-top">

					<!-- Sidebar Toggle (Topbar) -->
					<!-- <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"> -->
						<button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Topbar Search -->

						<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light " placeholder="..." aria-label="Search" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button" id="button-search"><i class="fa fa-search"></i> ara</button>
								</div>
							</div>
						</form>
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->
							<li class="nav-item dropdown no-arrow d-sm-none">
								<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-search fa-fw"></i>
								</a>
								<!-- Dropdown - Messages -->
								<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
									<form class="form-inline mr-auto w-100 navbar-search">
										<div class="input-group">
											<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">
													<i class="fas fa-search fa-sm"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</li>

							<!-- Nav Item - Alerts -->
							<li class="nav-item dropdown no-arrow mx-1">
								<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-bell fa-fw"></i>
									<!-- Counter - Alerts -->
									<span class="badge badge-danger badge-counter">3+</span>
								</a>
								<!-- Dropdown - Alerts -->
								<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
									<h6 class="dropdown-header">
										Alerts Center
									</h6>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-primary">
												<i class="fas fa-file-alt text-white"></i>
											</div>
										</div>
										<div>
											<div class="small">December 12, 2019</div>
											<span class="font-weight-bold">A new monthly report is ready to download!</span>
										</div>
									</a>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-success">
												<i class="fas fa-donate text-white"></i>
											</div>
										</div>
										<div>
											<div class="small">December 7, 2019</div>
											$290.29 has been deposited into your account!
										</div>
									</a>
									<a class="dropdown-item d-flex align-items-center" href="#">
										<div class="mr-3">
											<div class="icon-circle bg-warning">
												<i class="fas fa-exclamation-triangle text-white"></i>
											</div>
										</div>
										<div>
											<div class="small">December 2, 2019</div>
											Spending Alert: We've noticed unusually high spending for your account.
										</div>
									</a>
									<a class="dropdown-item text-center small" href="#">Show All Alerts</a>
								</div>
							</li>



							<li class="nav-item dropdown no-arrow mx-1">
								<a class="nav-link dropdown-toggle" href="#" id="databasesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-database fa-fw"></i><span id="dbLabel">
										<%  var dbSecili=true;
										if(typeof db!='undefined'){
										if(db=='') dbSecili=false;
									}else{
									dbSecili=false;
								}
								%>
								<% if(dbSecili==false){ %>*secili degil*<% } %>
							</span>
							<script type="text/javascript">
								var dbLabel=document.getElementById('dbLabel');
								if(dbLabel && localStorage.getItem('activeDbName')){
									dbLabel.innerHTML=localStorage.getItem('activeDbName');
								}
							</script>
							<!-- <span class="badge badge-danger badge-counter">etulia 2019</span> -->
						</a>

						<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="databasesDropdown">
							<h6 class="dropdown-header">
								Veri Ambarlari
							</h6>
							<div id="dbList">

							</div>

						</div>
					</li>

					<div class="topbar-divider d-none d-sm-block"></div>

					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline small"><%=username%></span>
							<i class="fa fa-user fa-fw"></i>
							<!-- <img class="img-profile rounded-circle" src=""> -->
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/general/me?db=<%=db%>&sid=<%=sid%>">
								<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
								Profil ve Şifre
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Güvenli Çıkış
							</a>
						</div>
					</li>

				</ul>
			</nav>
			<!-- End of Topbar -->

			<!-- Begin Page Content -->
			<div class="container-fluid">
				<div class="card shadow mb-4 mt-0 pt-0">
					<div class="card-header p-1">
						<div class="float-left">
							<% if(typeof funcTitle=='undefined') funcTitle=''; %>
							<h1 class="m-0 font-weight-bold text-primary" style="font-size:16pt"><%=title%><% if(funcTitle!=''){%> - <%=funcTitle%><% } %></h1>
						</div>
						<div id="headerButtons" class="float-right" style="min-height: 26px;">
							
						</div>
					</div>
					<div class="card-body p-1">
						<%- body %>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<!-- <span>shaman.Coders((e)=>{return '2019 - &copy; <%=(new Date()).getFullYear()%>';})</span> -->
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Cikmak istiyor musunuz?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<!-- <div class="modal-body"></div> -->
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgec</button>
				<a class="btn btn-primary" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/bootstrap.bundle.v4.3.1.min.js"></script>
<!-- <script type="text/javascript" src="/js/jquery.easing.v1.4.1.min.js"></script> -->


<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker-locales/bootstrap-datepicker.tr.min.js"></script>
<script type="text/javascript" src="/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/js/tr216-ui.js"></script>

<script type="text/javascript">
	//$(document).ready(function(){
	var dbLabel=document.getElementById('dbLabel');
	// if(dbLabel && localStorage.getItem('activeDbName')){
	// 	dbLabel.innerHTML=localStorage.getItem('activeDbName');
	// }
	loadDatabases();

	function loadDatabases(){
		var databases=[];

		if(localStorage.getItem('databases')!=null){
			databases=JSON.parse(localStorage.getItem('databases'));
		}

		if(localStorage.getItem('activeDb')==null){
			if(databases.length>0){
				localStorage.setItem('activeDb',databases[0]._id);
				localStorage.setItem('activeDbName',databases[0].dbName);
				changeActiveDb(localStorage.getItem('activeDb'));
				return;  
			}
		}else{
			if(databases.some(value=>{return value._id==localStorage.getItem('activeDb')})){
				if(getUrlParameter('db')!=localStorage.getItem('activeDb')){
					databases.forEach((d)=>{
						if(d._id==getUrlParameter('db')){
							localStorage.setItem('activeDb',d._id);
							localStorage.setItem('activeDbName',d.dbName);
							return;
						}
					});
				}
			}else{
				if(databases.length>0){
					localStorage.setItem('activeDb',databases[0]._id);
					localStorage.setItem('activeDbName',databases[0].dbName);
					changeActiveDb(localStorage.getItem('activeDb'));

				}else{
					localStorage.removeItem('activeDb');
					localStorage.removeItem('activeDbName');
				}
			}
		}

		
		$.each(databases, function(i, db) 
		{ 
			var url=window.location.origin + window.location.pathname + '?db=' + db._id + '&sid=<%=sid%>';
			if(localStorage.getItem('activeDb')==db._id){
				//if(dbLabel) dbLabel.innerHTML=db.dbName;
				// $("#dbLabel").html(db.dbName);
				$("#dbList").append('<div class="dropdown-item d-flex align-items-center">\
					<div class="mr-3">\
					<div class="icon-circle bg-primary">\
					<i class="fas fa-database text-white"></i><sup><i class="fas fa-check text-white"></i></sup>\
					</div>\
					</div>\
					<div class="text-primary font-weight-bold">\
					' + db.dbName + '\
					</div>\
					</div>');
			}else{
				$("#dbList").append('<a class="dropdown-item d-flex align-items-center" href="' + url + '">\
					<div class="mr-3">\
					<div class="icon-circle bg-secondary">\
					<i class="fas fa-database text-white"></i>\
					</div>\
					</div>\
					<div>\
					' + db.dbName + '\
					</div>\
					</a>');
			}
		});
	}
	//});
</script>
</body>
</html>