<nav id="sidebar" class="">
	<div class="sidebar-header">
	  <img src="/images/tr216-black.png">
	</div>
	<ul class="list-unstyled components">
	  <% leftMenu.forEach(function(mainItem,menuIndex){ %>
		  <% if(mainItem.visible){ %>
			  <li class="border-bottom">
			  <% if(mainItem.nodes.length>0){ %>
				<a href="#menu<%=menuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				  <i class="fas fa-<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %>
				</a>
				<ul class="collapse list-unstyled border" id="menu<%=menuIndex%>">
				  <% mainItem.nodes.forEach(function(subItem,submenuIndex){ %>
					  <% if(subItem.visible){ %>
						<li >
						  <% if(subItem.nodes.length>0){ %>
							<a href="#submenu<%=submenuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
							  <i class="fas fa-<%= subItem.icon %> fa-fw"></i> <%= subItem.text %>
							</a>
							<ul class="collapse list-unstyled pl-2" id="submenu<%=submenuIndex%>">
							  <% subItem.nodes.forEach(function(sub2Item){ %>
								  <% if(sub2Item.visible){ %>
								<li><a href="javascript:showMenuUrl('<%= sub2Item.path %>')"><i class="fas fa-<%= sub2Item.icon %> fa-fw"></i> <%= sub2Item.text %></a></li>
								  <% } %>
							  <% }); %>
							</ul>
						  <% } else { %>
							  <a href="javascript:showMenuUrl('<%= subItem.path %>');"><i class="fas fa-<%= subItem.icon %> fa-fw"></i> <%= subItem.text %></a>
						  <% } %>
						</li>
					  <% } %>
				  <% }); %>
				</ul>
			  <% } else { %>
				  <a href="javascript:showMenuUrl('<%= mainItem.path %>');"><i class="fas fa-<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %></a>
			  <% } %>
			  </li>
		  <% } %>
	  <% }); %>
	</ul>
</nav>
		

<script type="text/javascript">
	var leftMenu=localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu); 
	if(Array.isArray(leftMenu)){
		leftMenu.forEach((e)=>{
			var ulMenu=document.getElementById(e);

			if(ulMenu)
				if(ulMenu.classList.contains('list-unstyled'))
					ulMenu.classList.add('show');
			
			
		});
	}

	$(document).ready(function () {
		$('#sidebarToggle').on('click', function () {
			$('#sidebar').toggleClass('toggled');
			
		});
		$('#sidebarToggleTop').on('click', function () {
			$('#sidebar').toggleClass('toggled');
		});

		$(".list-unstyled").on('shown.bs.collapse', function(){
			var active = $(this).attr('id');
			if(active!==undefined){
				console.log('shown.bs.collapse:',active);
				var leftMenu= localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu);
				if ($.inArray(active,leftMenu)==-1) //check that the element is not in the array
					leftMenu.push(active);
				localStorage.leftMenu=JSON.stringify(leftMenu);
			}
		});

		$(".list-unstyled").on('hidden.bs.collapse', function(){
			var active = $(this).attr('id');
			if(active!==undefined){
				console.log('hidden.bs.collapse',active);

				var leftMenu= localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu);
				var elementIndex=$.inArray(active,leftMenu);
				if (elementIndex!==-1) //check the array
				{        
				    leftMenu.splice(elementIndex,1); //remove item from array
				}
				localStorage.leftMenu=JSON.stringify(leftMenu); //save array on localStorage
			}
		});

		
	   
	});

	
	

	function showMenuUrl(path){
	  var url=path + '?db=<%=db%>&sid=<%=sid%>';
	  if(localStorage.getItem(path + '_filter')){
		try{
		  var filter=JSON.parse(localStorage.getItem(path + '_filter'));
		  for(var key in filter){
			url+='&' + key + '=' + filter[key];
			if(key=='cboEasyDate'){
			  url +=cboEasyDateUrlParams(filter[key]);
			}
		  }
		}catch(tryErr){}
	  }
	  window.location.href=url;

	}

	function cboEasyDateUrlParams(value){
	  var date1=new Date();
	  var date2=new Date();
	  switch(value){
			case 'today':break;
			case 'thisWeek':
				date1=date1.addDays(-1 * (date1.getDay()-1));
				date2=date2.addDays(7- date2.getDay());
			break;
			case 'thisMonth': 
				date1=date1.addDays(-1 * (date1.getDate()-1));
				date2=date2.lastThisMonth();
				//date2=date2.addDays(7- date2.getDay());
			break;
			case 'last1Week':
				date1=date1.addDays(-7);
			break;

			case 'last1Month':
				date1=new Date(date1.setMonth(date1.getMonth()-1))
			break;
			case 'last3Months':
				date1=new Date(date1.setMonth(date1.getMonth()-3))
			break;
			case 'last6Months':
				date1=new Date(date1.setMonth(date1.getMonth()-6))
			break;
			case 'thisYear':
				date1=new Date(date1.getFullYear(),0,1);
				date2=new Date(date2.getFullYear(),11,31);
				break;
			case 'last1Year':
				date1=new Date(date1.setMonth(date1.getMonth()-12))
			break;
			default:
			break;
		}
		return '&date1=' + date1.yyyymmdd() + '&date2=' + date2.yyyymmdd();
	}
</script>