<nav id="sidebar" class="">
    <div class="sidebar-header">
      <img src="/images/tr216-logo.png">
    </div>

    <!-- <hr class="sidebar-divider"> -->
    <ul class="list-unstyled components">
      <% leftMenu.forEach(function(mainItem,menuIndex){ %>
          <% if(mainItem.visible){ %>
              <li>
              <% if(mainItem.nodes.length>0){ %>
                <a href="#menu<%=menuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %>
                </a>
                <ul class="collapse list-unstyled" id="menu<%=menuIndex%>">
                  <% mainItem.nodes.forEach(function(subItem,submenuIndex){ %>
                      <% if(subItem.visible){ %>
                        <li>
                          <% if(subItem.nodes.length>0){ %>
                            <a href="#submenu<%=submenuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                              <i class="fa fa-<%= subItem.icon %> fa-fw"></i> <%= subItem.text %>
                            </a>
                            <ul class="collapse list-unstyled pl-2" id="submenu<%=submenuIndex%>">
                              <% subItem.nodes.forEach(function(sub2Item){ %>
                                  <% if(sub2Item.visible){ %>

                                <li><a href="<%= sub2Item.path %>?db=<%=db%>&sid=<%=sid%>"><i class="fa fa-<%= sub2Item.icon %> fa-fw"></i> <%= sub2Item.text %></a></li>
                                
                                  <% } %>
                              <% }); %>
                            </ul>
                          <% } else { %>
                              <a href="<%= subItem.path %>?db=<%=db%>&sid=<%=sid%>"><i class="fa fa-<%= subItem.icon %> fa-fw"></i> <%= subItem.text %></a>
                          <% } %>
                        </li>
                      <% } %>
                  <% }); %>
                </ul>
              <% } else { %>
                  <a href="<%= mainItem.path %>?db=<%=db%>&sid=<%=sid%>"><i class="fa fa-<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %></a>
              <% } %>
              </li>
          <% } %>
      <% }); %>
    </ul>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center">
      <button class="btn btn-primary rounded-circle border-0" id="sidebarToggle"><i class="fas fa-arrow-left"></i></button>
    </div>
</nav>
        

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarToggle').on('click', function () {
            $('#sidebar').toggleClass('toggled');
            // $(this).toggleClass('toggled');
            // $('#sidebarToggleTop').toggleClass('toggled');
        });
        $('#sidebarToggleTop').on('click', function () {
            $('#sidebar').toggleClass('toggled');
            // $(this).toggleClass('toggled');
            // $('#sidebarToggle').toggleClass('toggled');
        });

    });
</script>