<script type="text/javascript">
	var query=getAllUrlParams();

	localStorage.leftMenuActiveLinkId=query.mId || '';
</script>

<nav id="sidebar" class="">
	<div class="sidebar-header">
		<a href="/general/dashboard?db=<%=db%>&sid=<%=sid%>"><img src="/images/tr216-black.png"></a>
	</div>
	<ul class="list-unstyled components">
		<% leftMenu.forEach(function(mainItem,menuIndex){ %>
		<% if(mainItem.visible){ %>
		<li class="border-bottom <% if(typeof mainItem.module!='undefined'){%> module-<%=mainItem.module%><%}%>">
			<% if(mainItem.nodes.length>0){ %>
			<a href="#menu<%=menuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %>
			</a>
			<ul class="collapse list-unstyled border" id="menu<%=menuIndex%>">
				<% mainItem.nodes.forEach(function(subItem,submenuIndex){ %>
				<% if(subItem.visible){ %>
				<li class="<% if(typeof subItem.module!='undefined'){%>module-<%=subItem.module%><%}%>">
					<% if(subItem.nodes.length>0){ %>
					<a href="#submenu<%=submenuIndex%>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						<i class="<%= subItem.icon %> fa-fw"></i> <%= subItem.text %>
					</a>
					<ul class="collapse list-unstyled pl-2" id="submenu<%=submenuIndex%>">
						<% subItem.nodes.forEach(function(sub2Item,submenu2Index){ %>
						<% if(sub2Item.visible){ %>
						<li class="<% if(typeof sub2Item.module!='undefined'){%>module-<%=sub2Item.module%><%}%>"><a href="<%= sub2Item.path %>" id="mId<%=menuIndex%>.<%=submenuIndex%>.<%=submenu2Index%>" class="<% if(sub2Item.path=='/general/closed-module'){%>closed-module<%}%>"><i class="<%= sub2Item.icon %> fa-fw"></i> <%= sub2Item.text %></a></li>
						<% } %>
						<% }); %>
					</ul>
					<% } else { %>
					<a href="<%= subItem.path %>"  id="mId<%=menuIndex%>.<%=submenuIndex%>" class="<% if(subItem.path=='/general/closed-module'){%>closed-module<%}%>"><i class="<%= subItem.icon %> fa-fw"></i> <%= subItem.text %></a>
					<% } %>
				</li>
				<% } %>
				<% }); %>
			</ul>
			<% } else { %>
			<a href="<%= mainItem.path %>" id="mId<%=menuIndex%>" class="<% if(mainItem.path=='/general/closed-module'){%>closed-module<%}%>"><i class="<%= mainItem.icon %> fa-fw"></i> <%= mainItem.text %></a>
			<% } %>
		</li>
		<% } %>
		<% }); %>
	</ul>
</nav>


<script type="text/javascript">
	var leftMenu=localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu); 
	if(Array.isArray(leftMenu)){
		leftMenu.forEach((e)=>{
			var ulMenu=document.getElementById(e);

			if(ulMenu)
				if(ulMenu.classList.contains('list-unstyled'))
					ulMenu.classList.add('show');

		});
	}
	if(localStorage.leftMenuActiveLinkId){
		leftMenuActiveLink=document.getElementById(localStorage.leftMenuActiveLinkId);
		if(leftMenuActiveLink) leftMenuActiveLink.classList.add('active-menuitem');
	}
	var modules={}
	if(localStorage.getItem('activeDbModules')!=null){
		modules=JSON.parse(localStorage.getItem('activeDbModules'));
	}


	for(let key in modules){
		var elements=document.getElementsByClassName('module-' + key);
		if(typeof modules[key]== 'boolean'){
			if(modules[key]==false){
				for(var i=0;i<elements.length;i++){
					if(elements[i])
					if(elements[i].style!=undefined) elements[i].style.display='none';
				}
			}else{
				if(elements[i])
				if(elements[i].style!=undefined) elements[i].style.display='unset';
			}
		}else{
			for(var i=0;i<elements.length;i++){
				if(elements[i])
				if(elements[i].style!=undefined) elements[i].style.display='none';
			}
		}
	}
	

	$(document).ready(function () {
		$('#sidebarToggle').on('click', function () {
			$('#sidebar').toggleClass('toggled');
			
		});
		$('#sidebarToggleTop').on('click', function () {
			$('#sidebar').toggleClass('toggled');
		});

		$(".list-unstyled").on('shown.bs.collapse', function(){
			var active = $(this).attr('id');
			if(active!==undefined){
				var leftMenu= localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu);
				if ($.inArray(active,leftMenu)==-1) //check that the element is not in the array
					leftMenu.push(active);
				localStorage.leftMenu=JSON.stringify(leftMenu);
			}
		});

		$(".list-unstyled").on('hidden.bs.collapse', function(){
			var active = $(this).attr('id');
			if(active!==undefined){
				var leftMenu= localStorage.leftMenu === undefined ? new Array() : JSON.parse(localStorage.leftMenu);
				var elementIndex=$.inArray(active,leftMenu);
				if (elementIndex!==-1) //check the array
				{        
				    leftMenu.splice(elementIndex,1); //remove item from array
				}
				localStorage.leftMenu=JSON.stringify(leftMenu); //save array on localStorage
			}
		});

		
	});

	menuLinkleriDuzenle();
	
	function menuLinkleriDuzenle(){
		$('#sidebar ul li a').each(function(index){
			if(this.id){
				var path=this.href.replace(window.location.origin,'');
				this.href=generateMenuLink(path,this.id);
			}
		});
	}

	function generateMenuLink(path,leftMenuActiveLinkId){
		var url='';
		if(path.indexOf('?')>-1){
			url=path + '&db=<%=db%>&sid=<%=sid%>&mId=' + leftMenuActiveLinkId;
		}else{
			url=path + '?db=<%=db%>&sid=<%=sid%>&mId=' + leftMenuActiveLinkId;
		}
		
		if(localStorage.getItem(path + '_filter')){
			try{
				var filter=JSON.parse(localStorage.getItem(path + '_filter'));
				for(var key in filter){
					url+='&' + key + '=' + filter[key];
					if(key=='cboEasyDate'){
						url +=cboEasyDateUrlParams(filter[key]);
					}
				}
			}catch(tryErr){}
		}
		return url;
		
	}
	

	function showMenuUrl(path,leftMenuActiveLinkId){
		var url='';
		if(path.indexOf('?')>-1){
			url=path + '&db=<%=db%>&sid=<%=sid%>';
		}else{
			url=path + '?db=<%=db%>&sid=<%=sid%>';
		}
		
		if(localStorage.getItem(path + '_filter')){
			try{
				var filter=JSON.parse(localStorage.getItem(path + '_filter'));
				for(var key in filter){
					url+='&' + key + '=' + filter[key];
					if(key=='cboEasyDate'){
						url +=cboEasyDateUrlParams(filter[key]);
					}
				}
			}catch(tryErr){}
		}
		localStorage.leftMenuActiveLinkId=leftMenuActiveLinkId || '';
		window.location.href=url;
	}

	function cboEasyDateUrlParams(value){
		var date1=new Date();
		var date2=new Date();
		switch(value){
			case 'today':break;
			case 'thisWeek':
			date1=date1.addDays(-1 * (date1.getDay()-1));
			date2=date2.addDays(7- date2.getDay());
			break;
			case 'thisMonth': 
			date1=date1.addDays(-1 * (date1.getDate()-1));
			date2=date2.lastThisMonth();
			break;
			case 'last1Week':
			date1=date1.addDays(-7);
			break;

			case 'last1Month':
			date1=new Date(date1.setMonth(date1.getMonth()-1))
			break;
			case 'last3Months':
			date1=new Date(date1.setMonth(date1.getMonth()-3))
			break;
			case 'last6Months':
			date1=new Date(date1.setMonth(date1.getMonth()-6))
			break;
			case 'thisYear':
			date1=new Date(date1.getFullYear(),0,1);
			date2=new Date(date2.getFullYear(),11,31);
			break;
			case 'last1Year':
			date1=new Date(date1.setMonth(date1.getMonth()-12))
			break;
			default:
			break;
		}
		return '&date1=' + date1.yyyymmdd() + '&date2=' + date2.yyyymmdd();
	}
</script>