<%
    title='Alım Şiparişleri';
%>
<%layout('../../_common/layouts/general')%>
<!-- <form action="" method="POST" role="form" name="form1">
    <div class="row m-0 mt-2">
        <div class="col-12 p-0">
            <% partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>
            
            <div class="float-left form-inline ml-md-4">
                <label class="text-primary">Senaryo:</label>
                <select class="form-control input-inline input-sm" name="profileId" id="profileId">
                    <% docProfileIdList.forEach((e)=>{ %> 
                    <option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
                    <% }) %>
                </select>
            </div>
            <div class="float-left form-inline ml-md-2">
                <label class="text-primary">Sipariş Türü:</label>
                <select class="form-control input-inline input-sm" name="orderTypeCode" id="orderTypeCode">
                    <% docTypeCodeList.forEach((e)=>{ %> 
                    <option value="<%=e.value%>"<% if(typeof filter.orderTypeCode!='undefined') if(filter.orderTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
                    <% }) %>
                </select>
            </div>
            <div class="float-md-right">
                <button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
            </div>
        </div>
    </div>
</form>
 -->

<%-	filterBuilder.generateFilter({
})
%>


<%-	gridBuilder.generateGrid([
  {title:"Sip.No", field:"orderNo", type:"string"},
  {title:"Sip. Tarihi", field:"issueDate", type:"string"},
  {title:"Ünvan", field:"partyName", type:"string"},
  {title:"Tutar", field:"amount", type:"money"},
  {title:"Vergi", field:"tax", type:"money"},
  {title:"Döviz", field:"currency", type:"lookup",lookup:staticValues.currencyList},
  {title:"Durumu", field:"orderStatus", type:"lookup",lookup:staticValues.orderStatusTypes},
  
  ],{
  	selection:true,
  	filter:true,
  	buttons:{
  		add:true,
  		edit:true,
  		delete:true,
  		view:false,
  		print:true,
  		copy:false
  	}
  },ui)
%>


<%

// partial('../../_common/components/grid2',{
//     fields:[
//         {field:'orderNo',title:'Sip.No',type:'string', filterField:'orderNo', filter:true,orderable:true},
//         {field:'issueDate',title:'Sip. Tarihi',type:'string', orderable:true},
//         {field:'partyName',title:'Unvan',type:'string', filter:true, orderable:true},
//         {field:'amount',title:'Tutar',type:'string'},
//         {field:'tax',title:'Vergi',type:'string' },
//         {field:'currency',title:'Döviz',type:'lookup',filter:true, filterField:'documentCurrencyCode', lookup:currencyList,textField:'text', valueField:'value', dontUseLookup:true },
//         {field:'orderStatus',title:'Durumu', width:'100px',type:'lookup',filter:true, lookup:docStatusTypes, textField:'text', valueField:'value', orderable:false , dontUseLookup:true}
//     ],
//     title:'Siparisler',
//     addNewButton:true,
//     viewButton:false,
//     editButton:true,
//     deleteButton:true,
//     selection:true,
//     deleteUrl:`/dbapi/order/order/{_id}?sid=${sid}`
// }) 
%>
