<div class="modal" id="docLineModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="docLineModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="docLineModalLabel">Fatura Satiri</label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="height:600px;overflow: auto;">
				<div class="card">
					<div class="card-header collapsible">Genel</div>
					<div class="card-body p-1">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="" class="m-0">Mal/Hizmet</label>
								<input type="text" class="form-control" id="docLine-item-name" autocomplete="off" placeholder="" value="">
								<input type="hidden" class="form-control" id="docLine-item-id" autocomplete="off" value="">
								<input type="hidden" class="form-control" id="docLine-item-itemType" autocomplete="off" value="">

							</div>
							<div class="form-group col-md-2">
								<label for="" class="m-0">Miktar</label>
								<input type="number" class="form-control" id="docLine-quantity" placeholder="" autocomplete="off" value="" onchange="calculateDocLine()">
							</div>
							<div class="form-group col-md-3">
								<label for="" class="m-0">Birim</label>
								<select id="docLine-quantity-unitCode" class="form-control">
									<% staticValues.unitCodeList.forEach((e)=>{ %>
									<option value="<%=e.value%>"><%=e.text%></option>
									<% }) %>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-3">
								<label for="" class="m-0">Fiyat</label>
								<input type="number" class="form-control text-right" id="docLine-price-priceAmount" placeholder=""  value="0.00000000" onchange="calculateDocLine()">
							</div>
							<div class="form-group col-md-3"  <% if(docFormType=='despatch'){%>style="display:none;"<%}%>>
								<label for="" class="m-0">Tutar</label>
								<input type="text" class="form-control text-right" id="docLine-lineExtensionAmount" placeholder="" value="0.00" readonly="true">
							</div>
							<div class="form-group col-md-3"  <% if(docFormType=='despatch'){%>style="display:none;"<%}%>>
								<label for="" class="m-0">Kdv Dahil Tutar</label>
								<input type="text" class="form-control text-right" id="docLine-taxInclusiveAmount" placeholder="" value="0.00" readonly="true">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-3">
								<label for="" class="m-0">Kdv Oran</label>
								<input type="number" class="form-control text-right" id="docLine-KDV-percent" placeholder="" value="0" onchange="calculateDocLine()">
							</div>
							<div class="form-group col-md-3">
								<label for="" class="m-0">Kdv Tutar</label>
								<input type="text" class="form-control text-right" id="docLine-KDV-amount" placeholder="" value="0.00" readonly="true">
							</div>
							<div id="kdvMuafiyetSebebi" class="form-group col-md-6" style="display: none;">
								<label for="" class="w-100 m-0">Kdv Muafiyet Sebebi</label>
								<select id="docLine-taxExemptionReasonCode" class="form-control">
									<% staticValues.taxExtemptionCodeList.forEach((e)=>{ %>
									<option value="<%=e.value%>"><%=e.text%></option>
									<% }) %>
								</select> 
							</div>
						</div>
						<div class="card mt-2 mx-2">
							<div class="card-header collapsed">Tevkifat</div>
							<div class="card-body p-1">
								<div class="row">
									<div class="form-group col-md-3">
										<label for="" class="m-0">Tevkifat Oran</label>
										<input type="number" class="form-control text-right" id="docLine-Tevkifat-percent" placeholder="" value="" onchange="calculateDocLine()">
									</div>
									<div class="form-group col-md-3">
										<label for="" class="m-0">Tevkifat Tutar</label>
										<input type="text" class="form-control text-right" id="docLine-Tevkifat-amount" placeholder="" value="" readonly="true">
									</div>
									<div class="form-group col-md-6">
										<label for="" class="w-100 m-0">Vergi Kodu</label>
										<select id="docLine-tevkifat-taxTypeCode" class="form-control">
											<% staticValues.withholdingTaxTypeCodeList.forEach((e)=>{ %>
											<option value="<%=e.value%>"><%=e.text%></option>
											<% }) %>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-2 mx-2">
							<div class="card-header collapsed">İskonto</div>
							<div class="card-body p-1">
								<div class="row">
									<div class="col-3 text-center">İskonto Oranı %</div>
									<div class="col-3 text-center">İskonto Tutarı</div>
									<div class="col-4 text-center">İskonto Açıklama</div>
									<div class="col-1 text-center">#</div>
								</div>
								<div id="iskontoRows">
									<div class="row" id="iskontoRow0">
										<div class="form-group col-3"><input type="number" class="form-control text-right satirIskontoOran" value="" onchange="calculateDocLineAllowanceRate()"></div>
										<div class="form-group col-3"><input type="number" class="form-control text-right satirIskontoTutar" value="" onchange="calculateDocLineAllowanceAmount()"></div>
										<div class="form-group col-4"><input type="text" class="form-control satirIskontoAciklama" value=""></div>
										<div class="form-group col-1"><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:addIskontoRow()" title="iskonto ekle"></a></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card mt-2 mx-2">
							<div class="card-header collapsed">Artırım</div>
							<div class="card-body p-1">
								<div class="row">
									<div class="col-3 text-center">Artırım Oranı %</div>
									<div class="col-3 text-center">Artırım Tutarı</div>
									<div class="col-4 text-center">Artırım Açıklama</div>
									<div class="col-1 text-center">#</div>
								</div>
								<div id="artirimRows">
									<div class="row" id="artirimRow0">
										<div class="form-group col-3"><input type="number" class="form-control text-right satirArtirimOran" value="" onchange="calculateDocLineChargeRate()"></div>
										<div class="form-group col-3"><input type="number" class="form-control text-right satirArtirimTutar" value="" onchange="calculateDocLineChargeAmount()"></div>
										<div class="form-group col-4"><input type="text" class="form-control satirArtirimAciklama" value=""></div>
										<div class="form-group col-1"><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:addArtirimRow()" title="Artırım ekle"></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card mt-2">
					<div class="card-header collapsed">Diğer</div>
					<div class="card-body p-1">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="" class="m-0">Satıcı Mal/Hizmet Kodu</label>
								<input type="text" class="form-control" id="docLine-item-sellersItemIdentification" autocomplete="off" placeholder="" value="">
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Alıcı Mal/Hizmet Kodu</label>
								<input type="text" class="form-control" id="docLine-item-buyersItemIdentification" autocomplete="off" placeholder="" value="">
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Üretici Kodu(Barkod)</label>
								<input type="text" class="form-control" id="docLine-item-manufacturersItemIdentification" autocomplete="off" placeholder="" value="">
							</div>
							<div class="w-100"></div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Marka</label>
								<input type="text" class="form-control" id="docLine-item-brandName" autocomplete="off" placeholder="" value="">
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Model</label>
								<input type="text" class="form-control" id="docLine-item-modelName" autocomplete="off" placeholder="" value="">
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Açıklama</label>
								<input type="text" class="form-control" id="docLine-item-description" autocomplete="off" placeholder="" value="">
							</div>
							<div class="w-100"></div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Menşei</label>
								<select id="docLine-originCountry-identificationCode" class="form-control">
									<% staticValues.countryList.forEach((e)=>{ %>
									<option value="<%=e.value%>"><%=e.text%></option>
									<% }) %>
								</select>
							</div>

							<div class="form-group col-md-4">
								<label for="" class="m-0">GTIPNO</label>
								<input type="text" class="form-control" id="docLine-GTIPNO" autocomplete="off" placeholder="" value="">
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Sınıflandırma Kodu</label>
								<input type="text" class="form-control" id="docLine-item-itemClassificationCode" autocomplete="off" placeholder="" value="">
							</div>
							<div class="w-100"></div>

							<div class="form-group col-md-4">
								<label for="" class="m-0">Teslimat Şartı(Delivery Terms)</label>
								<select id="docLine-deliveryTerms" class="form-control">
									<% staticValues.deliveryTerms.forEach((e)=>{ %>
									<option value="<%=e%>"><%=e%></option>
									<% }) %>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="" class="m-0">Taşıma Modu(Transport mode)</label>
								<select id="docLine-transportModeCode" class="form-control">
									<% staticValues.transportModeCodeList.forEach((e)=>{ %>
									<option value="<%=e.value%>"><%=e.text%></option>
									<% }) %>
								</select>
							</div>
							<div class="w-100"></div>
							<div class="form-group col-12">
								<label for="" class="m-0">Anahtar Kelimeler(keywords)</label>
								<input type="text" class="form-control" id="docLine-item-keyword" autocomplete="off" placeholder="" value="">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="" class="m-0">Satır notları</label>
								<textarea class="form-control" id="docLine-notes" autocomplete="off" rows="3"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="card mt-2">
					<div class="card-header collapsed">İhracat paketleri</div>
					<div class="card-body p-1">
						<table id="docLinePackageGrid" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
							<thead>
								<tr class="text-nowrap">
									<th width="50" class="">ID(Paket No)</th>
									<th width="25%" class="text-right">Miktar</th>
									<th width="65%">Paketleme Turu</th>
									<th width="50">#</th>
								</tr>
							</thead>
							<tbody id="docLinePackageGridBody">
								<tr>
									<td><input type="text" class="form-control" id="docLinePackageGrid-ID" autocomplete="off" value="1" readonly="true"></td>
									<td><input type="text" class="form-control text-right" id="docLinePackageGrid-Quantity" autocomplete="off" value=""></td>
									<td>
										<select id="docLinePackageGrid-packagingTypeCode" class="form-control">
											<% staticValues.packagingTypeCodeList.forEach((e)=>{ %>
											<option value="<%=e.value%>"><%=e.text%></option>
											<% }) %>
										</select>
									</td>
									<td><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:docLinePackageGrid_AddRow()" title="Paket Ekle"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer collapse p-0 m-0" id="newItemPanel">
				<div class="row m-0 p-0" style="width: 100%;">
					<div class="col-md-6">
						<div class="form-group">
							<label for="" class="m-0">Birim</label>
							<select id="docLine-new-itemType" class="form-control">
								<% staticValues.itemTypeList.forEach((e)=>{ %>
								<option value="<%=e.value%>"><%=e.text%></option>
								<% }) %>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer m-0 p-2">
				<div class="row m-0 p-0" style="width: 100%;">
					<div class="col-md-3" style="text-align: start;">
						<label class="checkbox-inline border" id="cbNewItemPanel">
							<input type="checkbox" data-toggle="collapse" id="cbNewItem" data-target="#newItemPanel" aria-expanded="false" aria-controls="newItemPanel"> Yeni Kart ac
						</label>
					</div>
					<div class="col-md-9" style="text-align: end;">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
						<a id="docLineModalSaveButton" class="btn btn-primary" href="javascript:saveDocLine(-1)">Tamam</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
</script>