<% 

if(typeof level=='undefined')
	level=0


for(let key in formControls){ 
	var item=formControls[key];
	item['caption']=ifNull(item['caption'],'');
	item['col']=ifNull(item['col'],'col-12');
	if(!isNaN(item.col)){
		item.col='col-' + item.col
	}
	item['type']=ifNull(item['type'],'textbox');
	item['required']=ifNull(item['required'],false);
	item['lookup']=ifNull(item['lookup'],[]);
	item['textField']=ifNull(item['textField'],'text');
	item['valueField']=ifNull(item['valueField'],'value');
	item['class']=ifNull(item['class'],'');
	if(typeof item['readonly']=='undefined') item['readonly']=false;

	if(typeof item['name']=='undefined')item['name']=key;

	
	item['hasChildren']=false
	if(typeof item.formControls!='undefined')
		item.hasChildren=true
	
	var itemValue

	itemValue=getSubObjectValue(form,item.name)

	if(typeof itemValue=='undefined')
		itemValue=''


	if(mode=='view')
		item['readonly']=true

	if(mode=='addnew' && typeof item.default!='undefined')
		itemValue=item.default

	if(item.hasChildren==true){ %>
	<div class="panel panel-info">
		<div class="panel-heading">
			<% }
			switch(item.type) {
				case 'textbox' : %>
				<%- textbox(item,itemValue,level) %>
				<% break;
				case 'number' :
				case 'numberbox' :
				%>
				<%- numberbox(item,itemValue,level) %>
				<% break;
				case 'label': 
				case 'div': 
				%>
				<%- label(item,itemValue,level) %>
				<% break;
				case 'textarea' : %>
				<%- textarea(item,itemValue,level) %>
				<% break;
				case 'fileBase64' : %>
				<%- fileBase64(item,itemValue,level) %>
				<% break;
				case 'fileBase64Image' : %>
				<%- fileBase64Image(item,itemValue,level) %>
				<% break;
				case 'checkbox' : %>
				<%- checkbox(item,itemValue,level) %>
				<% break;
				case 'partial' : %>
				<%- partialItem(item,itemValue,level) %>
				<% break;
				case 'lookup': 
				case 'combobox': 
				%>
				<%- lookup(item,itemValue,level) %>
				<% break;
				case 'json': 
				%>
				<%- jsonData(item,itemValue,level) %>
				<% break;
				default : %>
				<%- textbox(item,itemValue,level) %>
				<%  break;
			} 

			if(item.hasChildren){ %>
		</div>
		<div class="panel-body">
			<%- partial('./form-partial',{formControls:item.formControls,level:level+1}) %>
		</div>
	</div>
	<% } %>
	<% } %>

	<% function textbox(item,itemValue,level){ %>
	<div class="form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label class="m-0 p-0"><%=item.caption%></label>
		<input type="text" class="form-control <%=item.class %>" id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>" placeholder="<%- item.readonly==true?'':item.caption %>" autocomplete="off"  value="<%=itemValue%>" <%- item.required?'required="required"':'' %> <%- item.readonly?'readonly':'' %>>
	</div>
	<% } %>

	<% function numberbox(item,itemValue,level){ %>
	<div class="form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label class="m-0 p-0"><%=item.caption%></label>
		<input type="number" class="form-control <%=item.class %>" id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>" placeholder="<%- item.readonly==true?'':item.caption %>" autocomplete="off"  value="<%=itemValue%>" <%- item.required?'required="required"':'' %> <%- item.readonly?'readonly':'' %>>
	</div>
	<% } %>

	<% function textarea(item,itemValue,level){ %>
	<div class="form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label class="m-0 p-0"><%=item.caption%></label>
		<textarea class="form-control <%=item.class %>" id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>"  rows="<% if(typeof item.rows!='undefined'){%><%=item.rows%><%}else{%>4<%}%>"  placeholder="<%- item.readonly==true?'':item.caption %>" <%- item.required?'required="required"':'' %> <%- item.readonly?'readonly':'' %>><%=itemValue%></textarea>
	</div>
	<% } %>

	<% function label(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<% if(item.type=='label'){%>
		<div class="<%=item.class %>" id="<%- generateFormId(item.name) %>"><b><%=item.caption%>:</b> <%=itemValue%></div>
		<%} else { %>
		<div class="<%=item.class %>" id="<%- generateFormId(item.name) %>"><%=item.caption%></div>
		<% } %>
	</div>
	<% } %>

	<% function checkbox(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label>
			<input type="checkbox" class="" id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>" value="true" <%=(itemValue?'checked':'')%> <%- item.readonly?'disabled':'' %> />
			<%=item.caption%>
		</label>
	</div>
	<% } %>

	<% function lookup(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label for=""><%=item.caption%></label>
		<select id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>" class="form-control" <%- item.required?'required="required"':'' %> <%- item.readonly?'disabled':'' %>>
			<% item.lookup.forEach(function(e){ %>
			<option value="<%=e[item.valueField]%>" <% if(e[item.valueField]==itemValue){%>selected<%} %> ><%=e[item.textField]%></option>
			<% }); %>
		</select>
	</div>
	<% } %>

	<% function partialItem(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<div class="panel panel-info">
			<% if(item.caption!=''){ %>
			<div class="panel-heading">
				<b><%=item.caption%></b>
			</div>
			<% } %>
			<div class="panel-body">
				<% if(typeof item.data!='undefined'){ %>
				<%- partial(item.partial,item.data) %>
				<% 
			}else{ 
				item.value=itemValue;
				item.itemValue=itemValue;
				%>
				<%- partial(item.partial,item) %>
				<% } %>
			</div>
		</div>
	</div>
	<% } %>

	<% function jsonData(item,itemValue,level){ %>
	<div class="form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label class="m-0"><%=item.caption%></label>
		<textarea id="<%- generateFormId(item.name) %>" name="<%- generateFormName(item.name) %>" class="form-control" rows="10"  style="height: auto;font-family: monospace;" <%- item.readonly?'readonly':'' %>><%- typeof itemValue=='object'?JSON.stringify(itemValue,null,2):itemValue %></textarea>

	</div>

	<% } %>

	<% function fileBase64(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label class="m-0 p-0"><%=item.caption%></label><br>

		<label for="fileToUpload_<%=item.name.replaceAll('.','_')%>" class="btn btn-primary"><i class="fa fa-file"></i> Dosya seçiniz</label>
		<input type="file" name="fileToUpload_<%=item.name%>" id="fileToUpload_<%=item.name.replaceAll('.','_')%>" style="visibility:hidden;" accept="" >
		<input type="hidden" name="<%- generateFormName(item.name) %>[data]" id="fileDataBase64_<%=item.name.replaceAll('.','_')%>" value="<% if(typeof itemValue.data!='undefined'){%><%=itemValue.data%><%}%>">
		<input type="hidden" name="<%- generateFormName(item.name)%>[type]" id="fileToUpload_<%=item.name.replaceAll('.','_')%>_type" value="<% if(typeof itemValue.type!='undefined'){%><%=itemValue.type%><%}%>">
		<input type="hidden" name="<%- generateFormName(item.name)%>[fileName]" id="fileToUpload_<%=item.name.replaceAll('.','_')%>_fileName" value="<% if(typeof itemValue.fileName!='undefined'){%><%=itemValue.fileName%><%}%>">

		<a id="fileToUpload_download_<%=item.name.replaceAll('.','_')%>" href="<% if(typeof itemValue.data!='undefined'){%><%=itemValue.data%><%}%>" download="<% if(typeof itemValue.fileName!='undefined'){%><%=itemValue.fileName%><%}%>"><% if(typeof itemValue.fileName!='undefined'){%><i class="fa fa-file"></i> <%=itemValue.fileName%><%}%></a>
		<script type="text/javascript">
			$(document).ready(function(){

				$("#fileToUpload_<%=item.name.replaceAll('.','_')%>").change(function() {
					var filename = this.files[0].name;
					console.log('filename:',filename);
					$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').attr('download',filename);
					$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').html('<i class="fa fa-file"></i> ' + filename);
					var file =this.files[0]; 

					var reader  = new FileReader();
					reader.addEventListener("load", function () {
						$('#fileDataBase64_<%=item.name.replaceAll('.','_')%>').val(reader.result);
						$('#fileToUpload_<%=item.name.replaceAll('.','_')%>_type').val(file.type);
						$('#fileToUpload_<%=item.name.replaceAll('.','_')%>_fileName').val(filename);
						$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').attr('href',$('#fileDataBase64_<%=item.name.replaceAll('.','_')%>').val());
						
					}, false);

					if (file) {
						reader.readAsDataURL(file);
					}
				});
			})
		</script>
	</div>
	<% } %>

	<% function fileBase64Image(item,itemValue,level){ %>
	<div class= "form-group <%- item.col %>" <% if(level>0){%>style="margin-left:<%=level*20%>px;"<%}%>>
		<label for="fileToUpload_<%=item.name.replaceAll('.','_')%>" class="btn btn-primary"><i class="fas fa-images"></i> <%=item.caption%></label>
		<br>
		<img id="fileToUpload_download_<%=item.name.replaceAll('.','_')%>" src="<% if(typeof itemValue.data!='undefined'){%><%=itemValue.data%><%}else{%><%- assetVersion('/img/placehold-place.jpg') %><%}%>" download="<% if(typeof itemValue.fileName!='undefined'){%><%=itemValue.fileName%><%}%>" style="width: 300px;height: 300px;">

		<input type="file" name="fileToUpload_<%=item.name%>" id="fileToUpload_<%=item.name.replaceAll('.','_')%>" style="visibility:hidden;" accept="" >
		<input type="hidden" name="<%- generateFormName(item.name) %>[data]" id="fileDataBase64_<%=item.name.replaceAll('.','_')%>" value="<% if(typeof itemValue.data!='undefined'){%><%=itemValue.data%><%}%>">
		<input type="hidden" name="<%- generateFormName(item.name)%>[type]" id="fileToUpload_<%=item.name.replaceAll('.','_')%>_type" value="<% if(typeof itemValue.type!='undefined'){%><%=itemValue.type%><%}%>">
		<input type="hidden" name="<%- generateFormName(item.name)%>[fileName]" id="fileToUpload_<%=item.name.replaceAll('.','_')%>_fileName" value="<% if(typeof itemValue.fileName!='undefined'){%><%=itemValue.fileName%><%}%>">


		<script type="text/javascript">
			$(document).ready(function(){

				$("#fileToUpload_<%=item.name.replaceAll('.','_')%>").change(function() {
					var filename = this.files[0].name;
					console.log('filename:',filename);
					console.log('this.files[0].type:',this.files[0].type);

					$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').attr('download',filename);
				//$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').html('<i class="fa fa-file"></i> ' + filename);
				var file =this.files[0]; 

				var reader  = new FileReader();
				reader.addEventListener("load", function () {
					$('#fileDataBase64_<%=item.name.replaceAll('.','_')%>').val(reader.result);
					$('#fileToUpload_<%=item.name.replaceAll('.','_')%>_type').val(file.type);
					$('#fileToUpload_<%=item.name.replaceAll('.','_')%>_fileName').val(filename);
					$('#fileToUpload_download_<%=item.name.replaceAll('.','_')%>').attr('src',$('#fileDataBase64_<%=item.name.replaceAll('.','_')%>').val());

				}, false);

				if (file) {
					reader.readAsDataURL(file);
				}
			});
			})
		</script>
	</div>
	<% } %>

	<% 
	function getSubObjectValue(targetObj, keyPath) { 
		var keys = keyPath.toString().split('.');
		if(keys.length == 0) return undefined; 
		keys = keys.reverse();
		var subObject = targetObj;
		while(keys.length) {
			var k = keys.pop();
			if(typeof subObject[k]=='undefined' || subObject[k]==null) {
				return undefined;
			} else {
				if(subObject[k].value!=undefined){
					subObject = subObject[k].value
				}else{
					subObject = subObject[k]
				}
			}
		}
		return subObject;
	}

	function generateFormName(name) { 
		var keys = name.toString().split('.');
		if(keys.length<=1){
			return name;
		}else{
			var s='';
			for(let i=0;i<keys.length;i++){
				if(i==0){
					s=keys[i];
				}else{
					s=s + '[' + keys[i] + ']';
				}
			}
			return s;
		}
	}

	function generateFormId(name) { 
		return generateFormName(name).replaceAll('.','_');
	}

	function ifNull(item,defaultValue){
		if(typeof item=='undefined'){
			if(typeof defaultValue!='undefined'){
				return defaultValue;
			}else{
				return '';
			}
		}else{
			if(item==null){
				if(typeof defaultValue!='undefined'){
					return defaultValue;
				}else{
					return '';
				}
			}else{
				return item;
			}
		}
	}


	%>