<%
    if(typeof modalNo=='undefined'){
        modalNo=1;
    }else{
        modalNo++;
    }

    if(typeof modalId=='undefined'){
        modalId='modalId' + modalNo;
    }

    if(typeof title=='undefined') title='Form';
    if(typeof buttons=='undefined') buttons=[];

%>
<div class="modal" id="<%=modalId%>" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="<%=modalId%>Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 ">
                <label class="modal-title" id="<%=modalId%>Label"><%=title%></label>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <% 
                          var partialData={};
                          partialData.formControls=formControls;
                          if(typeof mode=='undefined') mode='addnew';
                          partialData.mode=mode;
                          
                        %>
                        <%- partial('form-partial', partialData) %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <% 
                    buttons.forEach((e,index)=>{ 
                        if(typeof e.isCancelButton=='undefined') e.isCancelButton=false;
                        if(typeof e.text=='undefined') e.text='';
                        if(typeof e.title=='undefined') e.title=e.text;
                %>
                    <% if(e.isCancelButton){ %>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
                    <% } else { %>
                <a id="<% if(typeof e.id=='undefined'){%><%=modalId%>_button<%=index%><%}else{%><%=e.id%><%}%>" class="<% if(typeof e.class=='undefined'){%>btn btn-primary<%}else{%><%=e.class%><%}%>" href="<% if(typeof e.href=='undefined'){%>#<%}else{%><%- e.href %><%}%>" title="<%=e.title%>"><% if(typeof e.icon!='undefined'){%><i class="<%- e.icon %>"></i> <% } %><%=e.text%></a>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>
