<%
    title='Alım Şiparişleri';
%>
<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
    <div class="row m-0 mt-2">
        <div class="col-12 p-0">
            <%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>
            
            <div class="float-left form-inline ml-md-4">
                <label class="text-primary">Senaryo:</label>
                <select class="form-control input-inline input-sm" name="profileId" id="profileId">
                    <% docProfileIdList.forEach((e)=>{ %> 
                    <option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
                    <% }) %>
                </select>
            </div>
            <div class="float-left form-inline ml-md-2">
                <label class="text-primary">Sipariş Türü:</label>
                <select class="form-control input-inline input-sm" name="orderTypeCode" id="orderTypeCode">
                    <% docTypeCodeList.forEach((e)=>{ %> 
                    <option value="<%=e.value%>"<% if(typeof filter.orderTypeCode!='undefined') if(filter.orderTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
                    <% }) %>
                </select>
            </div>
            <div class="float-md-right">
                <button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
            </div>
        </div>
    </div>
</form>

<div class="btn-toolbar mt-2 border p-1 rounded justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="">
    <button type="button" class="btn btn-primary" id="btnApprove">Onayla</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="">
    <button type="button" class="btn btn-danger" id="btnDecline">Reddet</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="">
    <button type="button" class="btn btn-info" id="btnExportToLocal" title="Siparişleri Lokal Servera gönder "><i class="fas fa-plug"></i> Entegrasyon</button>
  </div>
</div>

<% if(typeof message!='undefined') { %>
    <% if(message!='') { %>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <%=message %>
        </div>
    </div>
</div>
    <% } %>
<% } %>

<%- partial('../../_common/components/grid2',{
    fields:[
        {name:'orderNo',text:'Sip.No',type:'label', filterField:'orderNo', filter:true,orderable:true},
        {name:'issueDate',text:'Sip. Tarihi',type:'label', orderable:true},
        {name:'partyName',text:'Unvan',type:'label', filter:true, orderable:true},
        {name:'amount',text:'Tutar',type:'label'},
        {name:'tax',text:'Vergi',type:'label' },
        {name:'currency',text:'Döviz',type:'lookup',filter:true, filterField:'documentCurrencyCode', lookupList:currencyList,textField:'text', valueField:'value', dontUseLookup:true },
        {name:'orderStatus',text:'Durumu', width:'100px',type:'lookup',filter:true, lookupList:docStatusTypes, textField:'text', valueField:'value', orderable:false , dontUseLookup:true}
    ],
    caption:'Siparisler',
    addNewButton:true,
    viewButton:false,
    editButton:true,
    deleteButton:true,
    selection:true,
    customButtons:[
        {href:'javascript:popupCenter("/order/inbox/view/{_id}?db=' + db + '&sid=' + sid + '","Ön izleme","900","600");', text:'Goruntule',icon:'fas fa-search-plus'},
        {href:'/order/inbox/pdf/{_id}?db=' + db + '&sid=' + sid, text:'Pdf',icon:'fas fa-file-pdf'}
    ],
    deleteUrl:'/dbapi/order/order/{_id}?db='+db+'&sid=' + sid
}) 
%>

<script type="text/javascript">

    $(document).ready(function(){

        $('#btnExportToLocal').click(function(){
            $.ajax({
                url:'/dbapi/order/transfer/export?db=<%=db%>&sid=<%=sid%>',
                data:{},
                type:'POST',
                success:function(result){
                    if(result.success){
                        window.location.reload();
                    }else{

                        alert(result.error.code + '\n' + result.error.message);
                        
                    }
                }
            });
            
        });

        $('#btnApprove').click(function(){
            var data={list:[]};
            $(".checkSingle").each(function() {
                if(this.checked){
                    var satir=JSON.parse(decodeURIComponent(this.value));
                    if(satir.doc.orderStatus=='WaitingForAprovement'){
                        data.list.push({_id:satir._id, ID:satir.doc.ID});
                    }
                    
                }
            });
            if(data.list.length==0)  return alert('Kayit secilmemis!');
            if(!confirm(data.list.length + ' adet ticari faturayi onayliyor musunuz?')) return;
            $.ajax({
                url:'/dbapi/order/approve?db=<%=db%>&sid=<%=sid%>',
                data:data,
                type:'POST',
                success:function(result){
                    if(result.success){
                        
                        window.location.reload();
                    }else{
                        alert(result.error.code + '\n' + result.error.message);
                    }
                }
            });
            
        });

        $('#btnDecline').click(function(){
            var data={list:[]};
            $(".checkSingle").each(function() {
                if(this.checked){
                    var satir=JSON.parse(decodeURIComponent(this.value));
                    if(satir.doc.orderStatus=='WaitingForAprovement'){
                        data.list.push({_id:satir._id, ID:satir.doc.ID});
                    }
                    
                }
            });
            if(data.list.length==0)  return alert('Kayit secilmemis!');
            if(!confirm(data.list.length + ' adet ticari faturayi reddediyor musunuz?')) return;
            $.ajax({
                url:'/dbapi/order/decline?db=<%=db%>&sid=<%=sid%>',
                data:data,
                type:'POST',
                success:function(result){
                    if(result.success){
                        
                        window.location.reload();
                    }else{
                        alert(result.error.code + '\n' + result.error.message);
                    }
                }
            });
            
        });
    });

    function showErrors(_id){
        var url='<%=urlPath%>/errors/'+ _id + '?db=<%=db%>&sid=<%=sid%>';
        popupCenter(url,'Goster','900','600');
    }
</script>