<%
    title='Yazdir';

%>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%=title%></title>

    <link href="/css/fontawesome.v5.8.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.v3.4.1.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-select.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link href="/css/tr216-portal.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/tr216-functions.js"></script>
<style type="text/css">
    .border{
        /*border: black solid thin;*/
    }
    .top{
        vertical-align: top!important;
    }
</style>
</head>
<body>
    <div class="container m-1 p-1">
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3 text-center"><h1>REÇETE</h1></div>
            <div class="col-md-3 text-right"><img id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=<%=_id%>&size=100x100" alt="qrbarcode tr216"  title="Recete ID" width="50" height="50" /></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered m-0"  cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td width="70%" class="top">Mamül:<br><h2><%=item.name.value%></h2></td>
                            <td width="30%" class="top">
                                Reçete:<b><%=name%></b><br>
                                <h3>Revizyon:<b><%=revision%></b></h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <table class="table table-bordered m-0"  cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="50">#No</th>
                            <th width="15%">Istasyon</th>
                            <th width="15%">Adım</th>
                            <th width="30%">Malzeme</th>
                            <th width="30%">Parametreler</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if(typeof process!='undefined'){ %>
                        <% process.forEach((e,index)=>{ %> 
                        <tr>
                            <td class="top"><%=(index+1).toString()%></td>
                            <td class="top"><%=e.station.name%></td>
                            <td class="top"><%=e.step.name%></td>
                            <td class="top">
                            <% if(typeof e.input!='undefined'){ %>
                                <% 
                                    var malzemeler='';
                                %>
                                <% e.input.forEach((inputItem,index1)=>{
                                    malzemeler +=inputItem.item.name.value + ' ' + inputItem.quantity + ' ' + inputItem.unitCode;
                                    if(index1<e.input.length-1){
                                        malzemeler += '<br />';
                                    }
                                }) %>
                                <%- malzemeler %>
                            <% } %>
                            </td>
                            <td class="top"><%=e.parameters%></td>
                        </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <h4>Toplam Malzeme</h4>
                <table class="table table-bordered m-0"  cellspacing="0" width="100%">
                    <thead>
                        <tr class="text-nowrap">
                            <th width="70%">Malzeme</th>
                            <th width="30%">Miktar</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if(typeof materialSummary!='undefined'){ %>
                        <% materialSummary.forEach((e,index)=>{ %> 
                        <tr>
                            <td><%=e.item.name.value%></td>
                            <td><%=(e.quantity + ' ' + e.unitCode)%></td>
                        </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Yan ürün/malzeme</h4>
                <table class="table table-bordered m-0"  cellspacing="0" width="100%">
                    <thead>
                        <tr class="text-nowrap">
                            <th width="70%">Malzeme</th>
                            <th width="30%">Miktar</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if(typeof outputSummary!='undefined'){ %>
                        <% outputSummary.forEach((e,index)=>{ %> 
                        <tr>
                            <td><%=e.item.name.value%></td>
                            <td><%=(e.quantity + ' ' + e.unitCode)%></td>
                        </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/bootstrap.bundle.v4.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker-locales/bootstrap-datepicker.tr.min.js"></script>
    <script type="text/javascript" src="/js/tr216-ui.js"></script>
</body>
</html>