<script type="text/javascript" src="/js/einvoice-document-template.js"></script>
<%
    if(ioType==0){
        form.party=form.accountingCustomerParty.party;
    }else{
        form.party=form.accountingSupplierParty.party;
    }
    form['vknTckn']='';
    try{
        form.party.partyIdentification.forEach((e)=>{
            if(e.ID.attr.schemeID.toUpperCase()=='VKN' || e.ID.attr.schemeID.toUpperCase()=='TCKN'){
                form['vknTckn']=e.ID.value;
                return;
            }
        });
    }catch(err){}

%>

<script type="text/javascript">
    var ioType=<%=ioType%>;
    var db='<%=db%>';
    var sid='<%=sid%>';
    var _id='<%=form._id%>';
    var invoice=eInvoiceDocumentTemplate();
    var unitCodeList=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(staticValues.unitCodeList)) %>'));

    <% if(typeof form._id!='undefined'){
        if(form._id!=''){ %>
    invoice=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(form))%>'));
    <%  }
    } %>
    
</script>

<form action="" method="POST" role="form" name="form1" id="form1">
	<div class="row page-header">
		<div class="col-md-8">
		</div>
		<div class="col-md-4 text-right">
			<button type="submit" form="form1" class="btn btn-primary" title="Kaydet"><i class="fas fa-save"></i></button>
			<a href="javascript:openBack()" class="btn btn-dark" title="Vazgeç"><i class="fas fa-reply"></i></a>
		</div>
	</div>
	<% if(typeof message!='undefined'){ if(message!=''){ %>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="alert alert-danger" role="alert">
				<%=message %>
			</div>
		</div>
	</div>
	<% } } %>
	<ul class="nav nav-tabs form-tabs" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" href="#tab1" role="tab" data-toggle="tab" id="IDtab1" aria-controls="tab1" aria-selected="true">
				<i class="fas fa-file-alt"></i> Fatura Bilgileri
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#tab2" role="tab" data-toggle="tab" id="IDtab2" aria-controls="tab2" aria-selected="false">
				<i class="fas fa-table"></i> Satirlar
			</a>
		</li>
	</ul>
	<div class="tab-content p-1" style="min-height: 70vh;overflow: auto;">
		<!-- IDtab1 -->
		<div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="IDtab1">
			<div class="card">
                <div class="card-header p-1  text-primary"><b>Genel Bilgiler</b></div>
                <div class="card-body p-1">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Fatura No</label>
                            <input type="text" class="form-control" name="ID[value]" placeholder="Boş ise otomatik verilir" autocomplete="off" value="<%=form.ID.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Tarih</label>
                            <div class="input-group date">
                                <input type="text" name="issueDate[value]" id="issueDate" class="form-control" value="<% if(typeof form.issueDate.value=='undefined'){%><%=moment().format('YYYY-MM-DD')%><%}else{%><%=form.issueDate.value%><%}%>">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Saat</label>
                            <div class="input-group">
                                <input type="time" name="issueTime[value]" id="issueTime" class="form-control" value="<% if(typeof form.issueTime.value=='undefined'){%><%=moment().format('mm:hh:ss')%><%}else{%><%=form.issueTime.value.substr(0,8)%><%}%>">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Senaryo</label>
                            <select name="profileId[value]" class="form-control">
                                <% staticValues.eInvoiceProfileIdList.forEach(function(e){ %>
                                <option value="<%=e.value%>" <% if(e.value==form.profileId.value){%>selected<%} %> ><%=e.text%></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Fatura Tipi</label>
                            <select name="invoiceTypeCode[value]" class="form-control">
                                <% staticValues.eInvoiceTypeCodeList.forEach(function(e){ %>
                                <option value="<%=e.value%>" <% if(e.value==form.invoiceTypeCode.value){%>selected<%} %> ><%=e.text%></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-3">
                            <label for="" class="m-0">ETTN(uuid)</label>
                            <input type="text" class="form-control" name="uuid[value]" placeholder="ETTN(uuid)" autocomplete="off"  value="<%=form.uuid.value%>" readonly="true">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Para Birimi</label>
                            <select name="documentCurrencyCode[value]" class="form-control">
                                <% staticValues.currencyList.forEach(function(e){ %>
                                <option value="<%=e.value%>" <% if(e.value==form.documentCurrencyCode.value){%>selected<%} %> ><%=e.text%></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Döviz Kuru</label>
                            <div class="input-group align-items-center">
                                <input type="text" class="form-control text-right" name="pricingExchangeRate[calculationRate][value]" placeholder="" autocomplete="off" value="<%=form.pricingExchangeRate.calculationRate.value%>">
                                <div class="input-group-addon">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="btnTCMB" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            TCMB
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnTCMB">
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="alert('döviz alış')">Döviz alış</a>
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="alert('döviz satış')">Döviz satış</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header p-1 text-primary"><b>Cari Bilgiler</b></div>
                <div class="card-body p-1">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="" class="m-0">Cari Ünvan</label>
                            <input type="text" class="form-control" name="party[partyName][name][value]" placeholder="" autocomplete="off"  value="<%=form.party.partyName.name.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Adı(Şahıs)</label>
                            <input type="text" class="form-control" name="party[person][firstName][value]" placeholder="" autocomplete="off"  value="<%=form.party.person.firstName.value%>">
                        </div>
                        <div class="form-group csol-md-2">
                            <label for="" class="m-0">Soyad(Şahıs)</label>
                            <input type="text" class="form-control" name="party[person][familyName][value]" placeholder="" autocomplete="off"  value="<%=form.party.person.familyName.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">VKN/TCKN</label>
                            <input type="text" class="form-control" name="vknTckn" placeholder="Vergi No/TC Kimlik No" autocomplete="off"  value="<%=form.vknTckn%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Vergi Dairesi</label>
                            <input type="text" class="form-control" name="party[partyTaxScheme][taxScheme][name][value]" placeholder="" autocomplete="off"  value="<%=form.party.partyTaxScheme.taxScheme.name.value%>">
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Ülke</label>
                            <input type="text" class="form-control" name="party[postalAddress][country][name][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.country.name.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Sehir</label>
                            <input type="text" class="form-control" name="party[postalAddress][cityName][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.cityName.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Mahalle/İlçe</label>
                            <input type="text" class="form-control" name="party[postalAddress][district][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.district.value%>">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="" class="m-0">Cadde/Sokak</label>
                            <input type="text" class="form-control" name="party[postalAddress][streetName][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.streetName.value%>">
                        </div>
                        
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Bina/Site ismi</label>
                            <input type="text" class="form-control" name="party[postalAddress][buildingName][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.buildingName.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Blok</label>
                            <input type="text" class="form-control" name="party[postalAddress][blockName][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.blockName.value%>">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="" class="m-0">Bina numarası</label>
                            <input type="text" class="form-control" name="party[postalAddress][buildingNumber][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.buildingNumber.value%>" title="Bina No veya Sokak/Cadde no">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Daire/Oda No</label>
                            <input type="text" class="form-control" name="party[postalAddress][room][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.room.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Posta Kodu</label>
                            <input type="text" class="form-control" name="party[postalAddress][postbox][value]" placeholder="" autocomplete="off"  value="<%=form.party.postalAddress.postbox.value%>">
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Tel</label>
                            <input type="text" class="form-control" name="party[contact][telephone][value]" placeholder="" autocomplete="off"  value="<%=form.party.contact.telephone.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Fax</label>
                            <input type="text" class="form-control" name="party[contact][telefax][value]" placeholder="" autocomplete="off"  value="<%=form.party.contact.telefax.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Email</label>
                            <input type="text" class="form-control" name="party[contact][electronicMail][value]" placeholder="" autocomplete="off"  value="<%=form.party.contact.electronicMail.value%>">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Web Sitesi</label>
                            <input type="text" class="form-control" name="party[websiteURI][value]" placeholder="" autocomplete="off"  value="<%=form.party.websiteURI.value%>">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header p-1 text-primary"><b>Fatura Genel Toplamları</b></div>
                <div class="card-body p-1 pr-4">
                    <div class="row">
                        <div class="col-md-3 border-right pr-4">
                            <div class="row">
                                <label for="" class="col-12 text-center bold">Tutarlar</label>
                            </div>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">Satır Toplam</label>
                                <input type="text" class="col-6 form-control text-right" name="legalMonetaryTotal[lineExtensionAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.lineExtensionAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">Toplam İskonto</label>
                                <input type="text" class="col-6 form-control text-right" name="legalMonetaryTotal[allowanceTotalAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.allowanceTotalAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">Toplam Masraf</label>
                                <input type="text" class="col-6 form-control text-right" name="legalMonetaryTotal[chargeTotalAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.chargeTotalAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">Vergisiz Toplam</label>
                                <input type="text" class="col-6 form-control text-right" name="legalMonetaryTotal[taxExclusiveAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.taxExclusiveAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">Vergili Toplam</label>
                                <input type="text" class="col-6 form-control text-right" name="legalMonetaryTotal[taxInclusiveAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.taxInclusiveAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1 bold">Ödenecek Tutar</label>
                                <input type="text" class="col-6 form-control text-right bold" name="legalMonetaryTotal[payableAmount][value]" autocomplete="off"  value="<%=form.legalMonetaryTotal.payableAmount.value.formatMoney()%>" readonly="true">
                            </div>
                        </div>
                        <div class="col-md-3 border-right pr-4">
                            <div class="row">
                                <label for="" class="col-12 text-center bold">Vergiler</label>
                            </div>
                            <% if(typeof form.taxTotal!='undefined'){ %>
                            <% form.taxTotal.forEach((taxTotalItem)=>{ %>
                            <% taxTotalItem.taxSubtotal.forEach((taxSubtotalItem)=>{ %>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">
                                    <% 
                                    var vergiAdi=taxSubtotalItem.taxCategory.name.value || taxSubtotalItem.taxCategory.taxScheme.name.value || '';
                                    %>
                                    <%=vergiAdi%> % <%=taxSubtotalItem.percent.value %>
                                </label>
                                <input type="text" class="col-6 form-control text-right" value="<%=taxSubtotalItem.taxAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <% if(taxSubtotalItem.taxCategory.taxExemptionReasonCode.value!=''){ %>
                            <div class="row">
                                <label for="" class="col-12 text-md-right pt-1 text-secondary">
                                    <span class="text-primary">Vergi istisna kodu:</span><b><%=taxSubtotalItem.taxCategory.taxExemptionReasonCode.value %>,</b> <span class="text-primary">Sebebi:</span> <b><%=taxSubtotalItem.taxCategory.taxExemptionReason.value %></b>
                                </label>
                            </div>
                            <% } %>
                            <% }) %>
                            <% }); %>

                            <% } %>
                            <% if(typeof form.withholdingTaxTotal!='undefined'){ %>
                            <% if(form.withholdingTaxTotal.length>0) { %>
                            <div class="row">
                                <label for="" class="col-12 text-center bold">Tevkifat</label>
                            </div>
                            <% } %>
                            <% form.withholdingTaxTotal.forEach((taxTotalItem)=>{ %>
                            <% taxTotalItem.taxSubtotal.forEach((taxSubtotalItem)=>{ %>
                            <div class="row">
                                <label for="" class="col-6 text-md-right pt-1">
                                    <% 
                                    var vergiAdi=taxSubtotalItem.taxCategory.name.value || taxSubtotalItem.taxCategory.taxScheme.name.value || '';
                                    %>
                                    <%=vergiAdi%> % <%=taxSubtotalItem.percent.value %>
                                </label>
                                <input type="text" class="col-6 form-control text-right" value="<%=taxSubtotalItem.taxAmount.value.formatMoney()%>" readonly="true">
                            </div>
                            <% if(taxSubtotalItem.taxCategory.taxExemptionReasonCode.value!=''){ %>
                            <div class="row">
                                <label for="" class="col-12 text-md-right pt-1 text-secondary">
                                    Vergi istisna kodu:<%=taxSubtotalItem.taxCategory.taxExemptionReasonCode.value %>, Sebebi: <%=taxSubtotalItem.taxCategory.taxExemptionReason.value %>
                                </label>
                            </div>
                            <% } %>
                            <% }) %>
                            <% }); %>

                            <% } %>
                        </div>
                        <div class="col-md-3 border-right">
                            <div class="row">
                                <label for="" class="col-12 text-center bold">Alt Iskontolar</label>
                            </div>
                            <div class="row">
                                <label for="" class="col-3 text-right bold">Isk. Oran</label>
                                <label for="" class="col-3 text-right bold">Isk. Tutar</label>
                                <label for="" class="col-6 text-center bold">Isk. Aciklama</label>
                            </div>
                            <% 
                            var icindeMasrafVar=false;
                            form.allowanceCharge.forEach((allowanceChargeItem)=>{ 
	                            if(allowanceChargeItem.chargeIndicator==false){
	                            %>
	                            <div class="row">
	                                <input type="text" class="col-3 form-control text-right" value="<% if(allowanceChargeItem.multiplierFactorNumeric.value>0){%><%=(allowanceChargeItem.multiplierFactorNumeric.value<1?allowanceChargeItem.multiplierFactorNumeric.value*100:allowanceChargeItem.multiplierFactorNumeric.value)%><%}%>" readonly="true">
	                                <input type="text" class="col-3 form-control text-right" value="<%=allowanceChargeItem.amount.value.formatMoney()%>" readonly="true">
	                                <input type="text" class="col-3 form-control text-left" value="<%=allowanceChargeItem.allowanceChargeReason.value%>" readonly="true">
	                            </div>
	                            <% }else{
	                            	icindeMasrafVar=true;
		                        } %>
	                        <% }); %>
	                        <% if(icindeMasrafVar){ %>
		                        <div class="row mt-2">
		                            <label for="" class="col-12 text-center bold">Artirimlar</label>
		                        </div>
		                        <div class="row">
		                            <label for="" class="col-3 text-right bold">Oran</label>
		                            <label for="" class="col-3 text-right bold">Tutar</label>
		                            <label for="" class="col-6 text-center bold">Aciklama</label>
		                        </div>
		                        <% 
		                        form.allowanceCharge.forEach((allowanceChargeItem)=>{ 
		                        	if(allowanceChargeItem.chargeIndicator==true){
		                        %>
			                        <div class="row">
			                            <input type="text" class="col-3 form-control text-right" value="<% if(allowanceChargeItem.multiplierFactorNumeric.value>0){%><%=(allowanceChargeItem.multiplierFactorNumeric.value<1?allowanceChargeItem.multiplierFactorNumeric.value*100:allowanceChargeItem.multiplierFactorNumeric.value)%><%}%>" readonly="true">
			                            <input type="text" class="col-3 form-control text-right" value="<%=allowanceChargeItem.amount.value.formatMoney()%>" readonly="true">
			                            <input type="text" class="col-3 form-control text-left" value="<%=allowanceChargeItem.allowanceChargeReason.value%>" readonly="true">
			                        </div>
			                        <% } %>
		                        <% }); %>

	                        <% } %>
                    	</div>
                	</div>
            	</div>
            </div>

            <div class="card mt-2">
                <div class="card-header p-1 text-primary">Notlar</div>
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-12">
                            <textarea name="notes" class="form-control" rows="<% if(form.note.length>3){%><%=form.note.length%><%}else{%>3<%}%>"><% form.note.forEach((e)=>{%><%=(e.value + '\r\n')%><%});%></textarea>

                        </div>
                    </div>
                </div>
            </div>

		</div>

		<!-- IDtab2 -->
		<div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="IDtab2">
			<table id="grid1" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
				<thead>
					<tr class="text-nowrap">
						<th width="30" class=""><input type="checkbox" class="mt-1" value="true" name="selectAll" id="selectAll"></th>
						<th width="50" class="">No</th>
						<th width="30%" class="">Mal/Hizmet</th>
						<th width="5%" class="text-right">Miktar</th>
						<th width="7%">Birim</th>
						<th width="7%" class="text-right">B.Fiyat</th>
						<th width="7%" class="text-right">Isk.%</th>
						<th width="9%" class="text-right">Isk.Tutar</th>
						<th width="10%" class="text-right">Tutar</th>
						<th width="7%" class="text-right">Kdv%</th>
						<th width="10%" class="text-right">Kdv Tutar</th>
						<th width="10%" class="text-right">Kdv Dahil</th>
						<th width="60" class="">
                            <a href="javascript:addNewLine();" class="btn btn-primary far fa-plus-square"  title="Yeni satir"></a>                  
                        </th>
					</tr>
				</thead>
				<tbody id="lineGrid">
					
				</tbody>
			</table>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$('select[name="profileId[value]"]').change(function(){
			if($('select[name="profileId[value]"]').val()=='IHRACAT'){
				$('select[name="invoiceTypeCode[value]"]').val('ISTISNA');
			}
		});
		$('.input-group.date').datepicker({
			format: 'yyyy-mm-dd',
			language: "tr",
			orientation: "bottom auto",
			// todayBtn: "linked",
			autoclose: true,
			todayHighlight: true,
			clearBtn: true

			// startDate: -4,
			// endDate: +8,
		});

		$('#selectAll').change(function(e){
			$('.checkSingle').not(this).prop('checked', this.checked);
		});

		$('.form-tabs a').on('shown.bs.tab', function(event){
			localStorage.setItem('eInvoiceForm.activeTab',$(this).attr('id'));
		});

		if(localStorage.getItem('eInvoiceForm.activeTab')){
			$('#' + localStorage.getItem('eInvoiceForm.activeTab')).tab('show');
		}

        reloadLineGrid();
	});

	function removeLine(index){
        if(index<0 || index>invoice.invoiceLine.length-1) return;
		if(!confirm('Satiri silmek istediginizden emin misiniz?')) return;
        index>invoice.invoiceLine.splice(index,1);
		saveInvoice((err)=>{
            if(!err){
                reloadLineGrid();
            }else{
                alert('Hata:' + err.message);
            }
        });
	}

	function openBack(){
		if(localStorage.getItem('returnUrl')){
			var returnUrl=localStorage.getItem('returnUrl');
			
			localStorage.removeItem('returnUrl');

			if(returnUrl.indexOf('db=<%=db%>')>0 && returnUrl.indexOf('sid=<%=sid%>')>0){
				window.location.href=returnUrl;
			}else{
				history.back(1);
			}
		}else{
			history.back(1);
		}
	}
    
    function reloadLineGrid(){
        $("#lineGrid tr").remove();
        var lineGrid=document.getElementById('lineGrid');
        
        if(!invoice) return;
        if(invoice.invoiceLine){
            invoice.invoiceLine.forEach((line,index)=>{
                var newRow=lineGrid.insertRow(lineGrid.rows.length-1);
                newRow.classList.add('text-nowrap');
                newRow.insertCell(0).innerHTML='<input type="hidden" class="invoiceLine" id="invoiceLine[' + index + ']" name="invoiceLine[' + index + ']" value="' + (JSON.stringify(line)) + '">';
                newRow.insertCell(1).innerHTML=line.ID.value;
                
                var itemName=line.item.name.value + '<br>';
                itemName +='<span class="text-primary">';
                if(line.item.buyersItemIdentification.ID.value!='') itemName +=line.item.buyersItemIdentification.ID.value + ' ';
                if(line.item.sellersItemIdentification.ID.value!='') itemName +=line.item.sellersItemIdentification.ID.value + ' ';
                if(line.item.manufacturersItemIdentification.ID.value!='') itemName +=line.item.manufacturersItemIdentification.ID.value + ' ';
                itemName +='</span>';
                newRow.insertCell(2).innerHTML = itemName;

                var cell3=newRow.insertCell(3);
                cell3.classList.add('text-right');
                cell3.innerHTML=line.invoicedQuantity.value;

                var cell4=newRow.insertCell(4);
                if(line.invoicedQuantity.attr){
                    cell4.innerHTML=line.invoicedQuantity.attr.unitCode;
                    var found=unitCodeList.find((e)=>{
                        return e.value==line.invoicedQuantity.attr.unitCode;
                    });
                    if(found) cell4.innerHTML=found.text;
                    
                }

                var cell5=newRow.insertCell(5);
                cell5.classList.add('text-right');
                cell5.innerHTML=line.price.priceAmount.value;
                var iskontoOran='', iskontoTutar='';
                if(line.allowanceCharge)
                    line.allowanceCharge.forEach((allowanceChargeItem,index2)=>{
                        if(allowanceChargeItem.amount.value>0){
                            if(allowanceChargeItem.chargeIndicator==true){
                                iskontoOran +='(M) ';
                                iskontoTutar +='(M) ';
                            }

                            if(allowanceChargeItem.multiplierFactorNumeric.value>1){
                                iskontoOran += '% ' + allowanceChargeItem.multiplierFactorNumeric.value;
                            } else if(allowanceChargeItem.multiplierFactorNumeric.value>0 && allowanceChargeItem.multiplierFactorNumeric.value<1){
                                iskontoOran += '% ' + (allowanceChargeItem.multiplierFactorNumeric.value*100)
                            }
                            iskontoTutar += allowanceChargeItem.amount.value.formatMoney();
                            if(index2<line.allowanceCharge.length-1){
                                iskontoOran +='<br>';
                                iskontoTutar +='<br>';
                            }
                        }
                    });
                var cell6=newRow.insertCell(6);
                cell6.classList.add('text-right');
                cell6.innerHTML=iskontoOran;

                var cell7=newRow.insertCell(7);
                cell7.classList.add('text-right');
                cell7.innerHTML=iskontoTutar;

                var cell8=newRow.insertCell(8);
                cell8.classList.add('text-right');
                cell8.innerHTML=line.lineExtensionAmount.value.formatMoney();

                var kdvOrani='', kdvTutar=''; 
                var kdvDahilTutar=line.lineExtensionAmount.value;
                if(line.taxTotal.taxSubtotal.length>0){
                    kdvOrani='% ' + line.taxTotal.taxSubtotal[0].percent.value;
                    kdvTutar=line.taxTotal.taxAmount.value.formatMoney();
                    kdvDahilTutar +=line.taxTotal.taxAmount.value;
                }
                if(line.withholdingTaxTotal.length>0){
                    line.withholdingTaxTotal.forEach((wTax)=>{
                        if(wTax.taxSubtotal.length>0){
                            kdvOrani +='<br>Tevk:% ' + wTax.taxSubtotal[0].percent.value;
                            kdvTutar +='<br>Tevk.:' + wTax.taxAmount.value.formatMoney();
                            kdvDahilTutar -=wTax.taxAmount.value;
                        }
                    });
                }

                var cell9=newRow.insertCell(9);
                cell9.classList.add('text-right');
                cell9.innerHTML=kdvOrani;

                var cell10=newRow.insertCell(10);
                cell10.classList.add('text-right');
                cell10.innerHTML=kdvTutar;

                var cell11=newRow.insertCell(11);
                cell11.classList.add('text-right');
                cell11.innerHTML=kdvDahilTutar.formatMoney();

                newRow.insertCell(12).innerHTML='<a href="javascript:editLine(' + index + ');"  class="btn btn-primary btn-sm fas fa-edit" title="Düzenle"></a>' +
                    '<a href="javascript:removeLine(' + index + ');"  class="btn btn-danger btn-sm fas fa-trash-alt" title="Sil"></a>';
            });
        }
    }
</script>
<%- partial('./einvoice-form-line.ejs') %>