
<script type="text/javascript" src="/js/einvoice-form-line.js"></script>
<div class="modal" id="invoiceLineModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="invoiceLineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 ">
                <label class="modal-title" id="invoiceLineModalLabel">Fatura Satiri</label>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <ul class="nav nav-tabs" id="invoiceLineTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="invoiceLineTab1" data-toggle="tab" href="#invoiceLineTab1Content" role="tab" aria-controls="invoiceLineTab1Content" aria-selected="true">Genel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="invoiceLineTab2" data-toggle="tab" href="#invoiceLineTab2Content" role="tab" aria-controls="invoiceLineTab2Content" aria-selected="false">Diğer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="invoiceLineTab3" data-toggle="tab" href="#invoiceLineTab3Content" role="tab" aria-controls="invoiceLineTab3Content" aria-selected="false">Paketler</a>
                    </li>
                </ul>
                <div class="tab-content p-1" id="invoiceLineTabContent" style="height: 40em;overflow: auto;">
                    <!-- Genel -->
                    <div class="tab-pane show active" id="invoiceLineTab1Content" role="tabpanel" aria-labelledby="invoiceLineTab1">
                        <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                            <label class="checkbox-inline border">
                              <input type="checkbox" data-toggle="collapse" id="cbIskontoPanel" data-target="#iskontoPanel" aria-expanded="false" aria-controls="iskontoPanel"> Iskonto
                            </label>
                            <label class="checkbox-inline border ml-3">
                              <input type="checkbox" checked data-toggle="collapse" id="cbKdvPanel" data-target="#kdvPanel" aria-expanded="true" aria-controls="kdvPanel"> Kdv
                            </label>
                            <label class="checkbox-inline border ml-3">
                              <input type="checkbox" data-toggle="collapse" id="cbTevkifatPanel" data-target="#tevkifatPanel" aria-expanded="false" aria-controls="tevkifatPanel"> Tevkifat
                            </label>
                            <label class="checkbox-inline border ml-3">
                              <input type="checkbox" data-toggle="collapse" id="cbArtirimPanel" data-target="#artirimPanel" aria-expanded="false" aria-controls="artirimPanel"> Artirim
                            </label>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" class="m-0">Mal/Hizmet</label>
                                <input type="text" class="form-control" id="invoiceLine-item-name" autocomplete="off" placeholder="" value="">
                                <input type="hidden" class="form-control" id="invoiceLine-item-id" autocomplete="off" value="">

                            </div>
                            <div class="form-group col-md-2">
                                <label for="" class="m-0">Miktar</label>
                                <input type="number" class="form-control" id="invoiceLine-invoicedQuantity" placeholder="" value="" onchange="calculateInvoiceLine()">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Birim</label>
                                <select id="invoiceLine-invoicedQuantity-unitCode" class="form-control">
                                    <% staticValues.unitCodeList.forEach((e)=>{ %>
                                    <option value="<%=e.value%>"><%=e.text%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Fiyat</label>
                                <input type="number" class="form-control text-right" id="invoiceLine-price-priceAmount" placeholder=""  value="0.00000000" onchange="calculateInvoiceLine()">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Tutar</label>
                                <input type="text" class="form-control text-right" id="invoiceLine-lineExtensionAmount" placeholder="" value="0.00" readonly="true">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Kdv Dahil Tutar</label>
                                <input type="text" class="form-control text-right" id="invoiceLine-taxInclusiveAmount" placeholder="" value="0.00" readonly="true">
                            </div>
                        </div>
                        <div id="kdvPanel" class="row collapse show">
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Kdv Oran</label>
                                <input type="number" class="form-control text-right" id="invoiceLine-KDV-percent" placeholder="" value="0" onchange="calculateInvoiceLine()">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Kdv Tutar</label>
                                <input type="text" class="form-control text-right" id="invoiceLine-KDV-amount" placeholder="" value="0.00" readonly="true">
                            </div>
                            <div id="kdvMuafiyetSebebi" class="form-group col-md-6" style="display: none;">
                                <label for="" class="w-100 m-0">Kdv Muafiyet Sebebi</label>
                                <select id="invoiceLine-taxExemptionReasonCode" class="form-control">
                                <% staticValues.taxExtemptionCodeList.forEach((e)=>{ %>
                                    <option value="<%=e.value%>"><%=e.text%></option>
                                <% }) %>
                                </select> 
                            </div>
                        </div>
                        <div id="tevkifatPanel" class="row collapse">
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Tevkifat Oran</label>
                                <input type="number" class="form-control text-right" id="invoiceLine-Tevkifat-percent" placeholder="" value="" onchange="calculateInvoiceLine()">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="" class="m-0">Tevkifat Tutar</label>
                                <input type="text" class="form-control text-right" id="invoiceLine-Tevkifat-amount" placeholder="" value="" readonly="true">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="" class="w-100 m-0">Vergi Kodu</label>
                                <select id="invoiceLine-tevkifat-taxTypeCode" class="form-control">
                                    <% staticValues.withholdingTaxTypeCodeList.forEach((e)=>{ %>
                                    <option value="<%=e.value%>"><%=e.text%></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        
                        <div id="iskontoPanel" class="collapse">
                            <div class="row">
                                <div class="col-3 text-center">İskonto Oranı %</div>
                                <div class="col-3 text-center">İskonto Tutarı</div>
                                <div class="col-4 text-center">İskonto Açıklama</div>
                                <div class="col-1 text-center">#</div>
                            </div>
                            <div id="iskontoRows">
                                <div class="row" id="iskontoRow0">
                                    <div class="form-group col-3"><input type="number" class="form-control text-right satirIskontoOran" value="" onchange="calculateInvoiceLineAllowanceRate()"></div>
                                    <div class="form-group col-3"><input type="number" class="form-control text-right satirIskontoTutar" value="" onchange="calculateInvoiceLineAllowanceAmount()"></div>
                                    <div class="form-group col-4"><input type="text" class="form-control satirIskontoAciklama" value=""></div>
                                    <div class="form-group col-1"><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:addIskontoRow()" title="iskonto ekle"></a></div>
                                </div>
                            </div>
                        </div>
                        <div id="artirimPanel" class="collapse">
                            <div class="row">
                                <div class="col-3 text-center">Artırım Oranı %</div>
                                <div class="col-3 text-center">Artırım Tutarı</div>
                                <div class="col-4 text-center">Artırım Açıklama</div>
                                <div class="col-1 text-center">#</div>
                            </div>
                            <div id="artirimRows">
                                <div class="row" id="artirimRow0">
                                    <div class="form-group col-3"><input type="number" class="form-control text-right satirArtirimOran" value="" onchange="calculateInvoiceLineChargeRate()"></div>
                                    <div class="form-group col-3"><input type="number" class="form-control text-right satirArtirimTutar" value="" onchange="calculateInvoiceLineChargeAmount()"></div>
                                    <div class="form-group col-4"><input type="text" class="form-control satirArtirimAciklama" value=""></div>
                                    <div class="form-group col-1"><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:addArtirimRow()" title="Artırım ekle"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Genel -->

                    <!-- Diger -->
                    <div class="tab-pane" id="invoiceLineTab2Content" role="tabpanel" aria-labelledby="invoiceLineTab2">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Satıcı Mal/Hizmet Kodu</label>
                                <input type="text" class="form-control" id="invoiceLine-item-sellersItemIdentification" placeholder="" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Alıcı Mal/Hizmet Kodu</label>
                                <input type="text" class="form-control" id="invoiceLine-item-buyersItemIdentification" placeholder="" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Üretici Kodu(Barkod)</label>
                                <input type="text" class="form-control" id="invoiceLine-item-manufacturersItemIdentification" placeholder="" value="">
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Marka</label>
                                <input type="text" class="form-control" id="invoiceLine-item-brandName" placeholder="" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Model</label>
                                <input type="text" class="form-control" id="invoiceLine-item-modelName" placeholder="" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Açıklama</label>
                                <input type="text" class="form-control" id="invoiceLine-item-description" placeholder="" value="">
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Menşei</label>
                                <select id="invoiceLine-originCountry-identificationCode" class="form-control">
                                    <% staticValues.countryList.forEach((e)=>{ %>
                                    <option value="<%=e.value%>"><%=e.text%></option>
                                    <% }) %>
                                </select>
                            </div>
                            
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">GTIPNO</label>
                                <input type="text" class="form-control" id="invoiceLine-GTIPNO" placeholder="" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Sınıflandırma Kodu</label>
                                <input type="text" class="form-control" id="invoiceLine-item-itemClassificationCode" placeholder="" value="">
                            </div>
                            <div class="w-100"></div>
                           
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Teslimat Şartı(Delivery Terms)</label>
                                <select id="invoiceLine-deliveryTerms" class="form-control">
                                    <% staticValues.deliveryTerms.forEach((e)=>{ %>
                                    <option value="<%=e%>"><%=e%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="" class="m-0">Taşıma Modu(Transport mode)</label>
                                <select id="invoiceLine-transportModeCode" class="form-control">
                                    <% staticValues.transportModeCodeList.forEach((e)=>{ %>
                                    <option value="<%=e.value%>"><%=e.text%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="w-100"></div>
                            <div class="form-group col-12">
                                <label for="" class="m-0">Anahtar Kelimeler(keywords)</label>
                                <input type="text" class="form-control" id="invoiceLine-item-keyword" placeholder="" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="" class="m-0">Satır notları</label>
                                <textarea class="form-control" id="invoiceLine-notes" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- End of Diger -->

                    <!-- Paketler -->
                    <div class="tab-pane" id="invoiceLineTab3Content" role="tabpanel" aria-labelledby="invoiceLineTab3">
                        <table id="invoiceLinePackageGrid" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
                            <thead>
                                <tr class="text-nowrap">
                                    <th width="50" class="">ID(Paket No)</th>
                                    <th width="25%" class="text-right">Miktar</th>
                                    <th width="65%">Paketleme Turu</th>
                                    <th width="50">#</th>
                                </tr>
                            </thead>
                            <tbody id="invoiceLinePackageGridBody">
                                <tr>
                                    <td><input type="text" class="form-control" id="invoiceLinePackageGrid-ID" value="1" readonly="true"></td>
                                    <td><input type="text" class="form-control text-right" id="invoiceLinePackageGrid-Quantity" value=""></td>
                                    <td>
                                        <select id="invoiceLinePackageGrid-packagingTypeCode" class="form-control">
                                            <% staticValues.packagingTypeCodeList.forEach((e)=>{ %>
                                            <option value="<%=e.value%>"><%=e.text%></option>
                                            <% }) %>
                                        </select>
                                    </td>
                                    <td><a class="btn btn-secondary btn-sm fas fa-plus-square" href="javascript:invoiceLinePackageGrid_AddRow()" title="Paket Ekle"></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End of Paketler -->
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
                <a id="invoiceLineModalSaveButton" class="btn btn-primary" href="javascript:saveInvoiceLine(-1)">Tamam</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var bCalculating=false;

    function calculateInvoiceLine(){
        if(bCalculating) return;
        bCalculating=true;
        try{
            var kdvOran=Number($('#invoiceLine-KDV-percent').val());
            var tevkifatOran=Number($('#invoiceLine-Tevkifat-percent').val());
            var miktar=Number($('#invoiceLine-invoicedQuantity').val());
            var fiyat=Number($('#invoiceLine-price-priceAmount').val());
            var kdvAmount=Math.floor(kdvOran*miktar*fiyat/100);
            var tevkifatAmount=Math.floor(100*tevkifatOran*kdvAmount/100)/100;
            var lineExtensionAmount=Math.floor(100*miktar*fiyat)/100;
            var taxInclusiveAmount=lineExtensionAmount + kdvAmount - tevkifatAmount;
            //if(!isNaN(miktar) && !isNaN(fiyat)  && !isNaN(kdvOran)) 
            $('#invoiceLine-KDV-amount').val(kdvAmount.formatMoney());
            $('#invoiceLine-Tevkifat-amount').val(tevkifatAmount.formatMoney());
            $('#invoiceLine-lineExtensionAmount').val(lineExtensionAmount.formatMoney());
            $('#invoiceLine-taxInclusiveAmount').val(taxInclusiveAmount.formatMoney());
            if(kdvOran<=0){
                $('#kdvMuafiyetSebebi').show();
            }else{
                $('#kdvMuafiyetSebebi').hide();
            }
        }catch(tryErr){

        }

        bCalculating=false;
    }
    function calculateInvoiceLineAllowanceRate(){

        if(bCalculating) return;
        bCalculating=true;
        try{
            var miktar=Number($('#invoiceLine-invoicedQuantity').val());
            var fiyat=Number($('#invoiceLine-price-priceAmount').val());
            var lineExtensionAmount=Math.floor(100*miktar*fiyat)/100;
            var iskontoToplam=0;

            var iskontoRows=document.getElementById('iskontoRows');
            for(var i=0;i<iskontoRows.getElementsByClassName('row').length;i++){
                var row=iskontoRows.getElementsByClassName('row')[i];
                
                var oran=Number(row.getElementsByClassName('satirIskontoOran')[0].value);
                var iskTutar=Math.floor((lineExtensionAmount-iskontoToplam)*oran)/100;
                row.getElementsByClassName('satirIskontoTutar')[0].value=iskTutar;
                iskontoToplam+=iskTutar;
            }
            
        }catch(tryErr){

        }

        bCalculating=false;
    }

    function calculateInvoiceLineAllowanceAmount(){
        if(bCalculating) return;
        bCalculating=true;
        try{
            var miktar=Number($('#invoiceLine-invoicedQuantity').val());
            var fiyat=Number($('#invoiceLine-price-priceAmount').val());
            var lineExtensionAmount=Math.floor(100*miktar*fiyat)/100;
            var iskontoToplam=0;

            var iskontoRows=document.getElementById('iskontoRows');
            
            for(var i=0;i<iskontoRows.getElementsByClassName('row').length;i++){
                var row=iskontoRows.getElementsByClassName('row')[i];
                
                var iskTutar=Number(row.getElementsByClassName('satirIskontoTutar')[0].value);

                var oran=0;
                if((lineExtensionAmount-iskontoToplam)>0){
                    oran=Math.floor(100*100* iskTutar/(lineExtensionAmount-iskontoToplam))/100;
                }
                
                row.getElementsByClassName('satirIskontoOran')[0].value=oran;
                iskontoToplam+=iskTutar;
                
            }
            
        }catch(tryErr){

        }

        bCalculating=false;
    }

     function calculateInvoiceLineChargeRate(){

        if(bCalculating) return;
        bCalculating=true;
        try{
            var miktar=Number($('#invoiceLine-invoicedQuantity').val());
            var fiyat=Number($('#invoiceLine-price-priceAmount').val());
            var lineExtensionAmount=Math.floor(100*miktar*fiyat)/100;
            var artirimToplam=0;

            var artirimRows=document.getElementById('artirimRows');
            for(var i=0;i<artirimRows.getElementsByClassName('row').length;i++){
                var row=artirimRows.getElementsByClassName('row')[i];
                
                var oran=Number(row.getElementsByClassName('satirArtirimOran')[0].value);
                var artirimTutar=Math.floor(lineExtensionAmount*oran)/100;
                row.getElementsByClassName('satirArtirimTutar')[0].value=artirimTutar;
                artirimToplam+=artirimTutar;
            }
            
        }catch(tryErr){

        }

        bCalculating=false;
    }

    function calculateInvoiceLineChargeAmount(){
        if(bCalculating) return;
        bCalculating=true;
        try{
            var miktar=Number($('#invoiceLine-invoicedQuantity').val());
            var fiyat=Number($('#invoiceLine-price-priceAmount').val());
            var lineExtensionAmount=Math.floor(100*miktar*fiyat)/100;
            var artirimToplam=0;

            var artirimRows=document.getElementById('artirimRows');
            
            for(var i=0;i<artirimRows.getElementsByClassName('row').length;i++){
                var row=artirimRows.getElementsByClassName('row')[i];
                
                var artirimTutar=Number(row.getElementsByClassName('satirArtirimTutar')[0].value);

                var oran=0;
                if((lineExtensionAmount)>0){
                    oran=100*artirimTutar/lineExtensionAmount;
                }
                
                row.getElementsByClassName('satirArtirimOran')[0].value=oran;
                artirimToplam+=artirimTutar;
                
            }
            
        }catch(tryErr){

        }

        bCalculating=false;
    }

    function invoiceLineItemNameAutoComplete(){
        $('#invoiceLine-item-name').autocomplete({
            source:function(request,response){
                    
                    $.ajax({
                    url:'/dbapi/items?itemType=all&name=' +  encodeURIComponent(request.term) + '&db=<%=db%>&sid=<%=sid%>',
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.docs.length;i++){
                                    var item=result.data.docs[i];
                                    
                                    dizi.push({name:item.name.value, label:(getItemTypeName(item.itemType) + ' - ' + item.name.value),value:item._id});
                                }
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#invoiceLine-item-name").val(ui.item.name); 
                    $("#invoiceLine-item-id").val(ui.item.value); 
                    return false;
                }
        });
    }

    function getItemTypeName(itemType){
        switch(itemType){
            case 'item': return 'Envanter';
            case 'raw-material': return 'Hammadde';
            case 'helper-material': return 'Yardımcı Malzeme';
            case 'product': return 'Mamul';
            case 'semi-product': return 'Yarı Mamul';
            case 'sales-service': return 'Hizmet Satış';
            case 'purchasing-service': return 'Hizmet Satış';
            case 'asset': return 'Demirbaş';
            case 'expense': return 'Masraf/Gider';
            default: return 'Envanter';
        }
    }
</script>