
<%
var showInfoRow=false

if(locals.options.show.filter || locals.options.show.pageSize || locals.options.show.pageCount || locals.options.show.pagerButtons)
	showInfoRow=true


%>
<%- programButtons(locals.data.session,locals.data.urlPath) %>
<div class="table-responsive <%- showInfoRow?'mt-1':''%>">
	<div class="table-responsive">
		<!-- info row -->
		<% if(showInfoRow){ %>
		<div class="row m-0 border">
			<div class="col-12 pt-1 px-1">
				<div class="float-left form-inline m-0 p-0 mt-1 mb-1">
					<%- locals.options.show.filter?`<a class="btn btn-secondary btn-sm mr-3" data-toggle="collapse" href="#filterRow" role="button" aria-expanded="false" aria-controls="filterRow" title="Filtre satırını göster/gizle"><i class="fas fa-filter"></i></a>`:``%>
					<%- locals.options.show.pageSize?`${builder.control('grid/pagesize',locals)}`:``%>
					<%- locals.options.show.pageCount?`${builder.control('grid/pageinfo',locals)}`:``%>
				</div>
				<%- locals.options.show.pagerButtons?`<div class="float-right">${builder.control('grid/pagerbuttons',locals)}</div>`:``%>
			</div>
		</div>
		<%}%>
		<!-- ./info row -->

		<!-- table -->
		<table id="grid<%-locals.id%>" class="table table-striped border m-0 <%- locals.options.insideForm?'table-bordered':''%>"  cellspacing="0">
			<%- locals.options.show.header?`${builder.control('grid/header',locals)}`:``%>
			<%- builder.control('grid/body',locals) %>
			<%- locals.options.show.footer?`${builder.control('grid/footer',locals)}`:``%>
		</table>
		<!-- ./table -->

		<!-- info row -->
		<% if(showInfoRow){ %>
		<div class="row m-0 border">
			<div class="col-12 pt-1 px-1">
				<div class="float-left form-inline m-0 p-0 mt-1 mb-1">
					<div class="">
						buraya butonlar geliyor
					</div>
					<%- locals.options.show.pageCount?`${builder.control('grid/pageinfo',locals)}`:``%>
				</div>
				<%- locals.options.show.pagerButtons?`<div class="float-right">${builder.control('grid/pagerbuttons',locals)}</div>`:``%>
			</div>
		</div>
		<%}%>
		<!-- ./info row -->
	</div>
</div>


<script type="text/javascript">
	$(document).ready(()=>{
		gridHelper.init(<%- locals.id %>,<%-JSON.stringify(locals.fields)%>,<%-JSON.stringify(locals.options)%>)
		
		
	})
	

</script>