
<div class="mt-1 align-items-center" style="display: inline-flex">
	Sayfada
	<select class="form-control input-inline input-sm" name="pageSize" id="pageSize">
		<option value="10" <%-locals.data.pageSize==10?'selected':''%>>10</option>
		<option value="20" <%-locals.data.pageSize==20?'selected':''%>>20</option>
		<option value="50" <%-locals.data.pageSize==50?'selected':''%>>50</option>
		<option value="100" <%-locals.data.pageSize==100?'selected':''%>>100</option>
		<option value="250" <%-locals.data.pageSize==250?'selected':''%>>250</option>
		<option value="500" <%-locals.data.pageSize==500?'selected':''%>>500</option>
	</select>
</div>