<%

%>
<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
	<div class="row m-0 mt-2">
		<div class="col-12 p-0">
			<%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>

			<div class="float-left form-inline ml-md-4">
				<label class="text-primary">Senaryo:</label>
				<select class="form-control input-inline input-sm" name="profileId">
					<% docProfileIdList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-left form-inline ml-md-2">
				<label class="text-primary">Sipariş Türü:</label>
				<select class="form-control input-inline input-sm" name="despatchAdviceTypeCode">
					<% docTypeCodeList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.despatchAdviceTypeCode!='undefined') if(filter.despatchAdviceTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-md-right">
				<button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
			</div>
		</div>
	</div>
</form>

<%- formError(message) %>

<%- partial('../../_common/components/grid2',{
	fields:[
	{name:'despatchNo',text:'İrs.No',type:'label', filterField:'despatchNo', filter:true,orderable:true},
	{name:'issueDate',text:'İrs. Tarihi',type:'label', orderable:true},
	{name:'partyName',text:'Unvan',type:'label', filter:true, orderable:true},
	{name:'doc.ID',text:'ID',type:'label', visible:false},
	{name:'doc.despatchStatus',text:'despatchStatus',type:'label', visible:false},
	{name:'despatchStatusHtml',text:'Durumu', width:'100px',type:'lookup',filter:true, lookupList:docStatusTypes, textField:'text', valueField:'value', orderable:false , dontUseLookup:true}
	],
	caption:'İrsaliyeler',
	addNewButton:true,
	viewButton:false,
	editButton:true,
	deleteButton:true,
	selection:true,
	customButtons:[
	{inline:true, class:'btn-secondary', href:`javascript:popupCenter('/despatch/inbox/view/{_id}?db=${db}&sid=${sid}','Yazdir','900','600');`, title:'Yazdir',icon:'fas fa-print'},
	{inline:true, class:'btn-info', href:`javascript:approve('{_id}','{doc.despatchStatus}');`, title:'Onayla',icon:'fas fa-check'}
	],
	deleteUrl:'/dbapi/despatch/{_id}?db='+db+'&sid=' + sid
}) 
%>

<script type="text/javascript">

	var despatchDoc
	var receiptAdvice

	function showErrors(_id){
		var url=`${window.location.origin}/despatch/outbox/errors/${_id}?db=${q.db}&sid=${q.sid}`
		popupCenter(url,"Hatalar","900","600")
	}

	function approve(_id){
		despatchDoc=null
		receiptAdvice=null
		$.ajax({
			url:`/dbapi/despatch/${_id}?db=${q.db}&sid=${q.sid}`,
			type:'GET',
			dataType: 'json',
			success:function(result){
				if(result.success){
					despatchDoc=result.data
					$.ajax({
						url:`/dbapi/despatch-receipt-advice/${_id}?db=${q.db}&sid=${q.sid}`,
						type:'GET',
						dataType: 'json',
						success:function(result){
							if(result.success){
								receiptAdvice=result.data
							}
							showModal()
						},
						error:function(err){
							console.log(`err:`,err)
							alert('hata2:' + err)
						}
					});
					
				}else{
					alert(result.error.code + ' - ' + result.error.message);
				}
			},
			error:function(err){
				console.log(`err:`,err)
				alert('hata1:' + err)
			}
		});
	}

	function showModal(){
		console.log(`receiptAdvice:`,receiptAdvice)
		$('#docNo').val(despatchDoc.ID.value)
		$('#issueDate').val(despatchDoc.issueDate.value)
		$('#profileId').val(despatchDoc.profileId.value)
		$('#despatchAdviceTypeCode').val(despatchDoc.despatchAdviceTypeCode.value)
		if(receiptAdvice){
			$('#DeliveryContactName').val(receiptAdvice.deliveryContactName.value)
			$('#DespatchContactName').val(receiptAdvice.despatchContactName.value)
			$('#ActualDeliveryDate').val(receiptAdvice.actualDeliveryDate.value)
			$('#Note').val(receiptAdvice.note.value)
		}

		$('#approveGrid tr').remove()
		var approveGrid=document.getElementById('approveGrid')
		despatchDoc.despatchLine.forEach((e,index)=>{
			var receivedQuantity=0, rejectedQuantity=0, timingComplaint='', lineId=`${index+1}`

			if(receiptAdvice){
				if(receiptAdvice.receiptAdviceLineInfo.length>index){
					receivedQuantity=receiptAdvice.receiptAdviceLineInfo[index].receivedQuantity.value
					rejectedQuantity=receiptAdvice.receiptAdviceLineInfo[index].rejectedQuantity.value
					timingComplaint=receiptAdvice.receiptAdviceLineInfo[index].timingComplaint.value
					lineId=receiptAdvice.receiptAdviceLineInfo[index].lineId.value
				}
			}
			var newRow=approveGrid.insertRow(approveGrid.rows.length);
			var cell0=newRow.insertCell(0)
			cell0.classList.add('text-right')
			cell0.innerHTML=lineId

			newRow.insertCell(1).innerHTML=`${e.item.name.value} ${e.item.description?e.item.description.value:''}`
			var cell2=newRow.insertCell(2)
			cell2.classList.add('text-right')
			cell2.innerHTML=`${e.deliveredQuantity?e.deliveredQuantity.value:0}`

			var cell3=newRow.insertCell(3)
			cell3.classList.add('text-right')
			cell3.innerHTML=`${e.oversupplyQuantity?e.oversupplyQuantity.value:0}`

			var cell4=newRow.insertCell(4)
			cell4.classList.add('text-right')
			cell4.innerHTML=`${e.outstandingQuantity?e.outstandingQuantity.value:0}`

			newRow.insertCell(5).innerHTML=`<input type="number" class="form-control text-right" name="receiptAdviceLineInfo[${index}][receivedQuantity]" value="${receivedQuantity}" min="0" onchange="receivedQuantityChange(${index})" />`
			newRow.insertCell(6).innerHTML=`<input type="number" class="form-control text-right" name="receiptAdviceLineInfo[${index}][rejectedQuantity]" value="${rejectedQuantity}" min="0" onchange="rejectedQuantityChange(${index})" />`
			newRow.insertCell(7).innerHTML=`<input type="text" class="form-control" name="receiptAdviceLineInfo[${index}][timingComplaint]" value="${timingComplaint}" />`
		})

		$('#approveModal').modal('show')
		
	}

	var bChanging=false

	function receivedQuantityChange(index){
		if(bChanging)
			return
		bChanging=true
		var deliveredQuantity=despatchDoc.despatchLine[index].deliveredQuantity?despatchDoc.despatchLine[index].deliveredQuantity.value:0
		var oversupplyQuantity=despatchDoc.despatchLine[index].oversupplyQuantity?despatchDoc.despatchLine[index].oversupplyQuantity.value:0
		var outstandingQuantity=despatchDoc.despatchLine[index].outstandingQuantity?despatchDoc.despatchLine[index].outstandingQuantity.value:0

		var receivedQuantity=Number($(`input[name="receiptAdviceLineInfo[${index}][receivedQuantity]"]`).val())
		var value=deliveredQuantity-receivedQuantity;
		if(value<0)
			value=0
		$(`input[name="receiptAdviceLineInfo[${index}][rejectedQuantity]"]`).val(value)

		bChanging=false
	}

	function rejectedQuantityChange(index){
		if(bChanging)
			return
		bChanging=true
		var deliveredQuantity=despatchDoc.despatchLine[index].deliveredQuantity?despatchDoc.despatchLine[index].deliveredQuantity.value:0
		var oversupplyQuantity=despatchDoc.despatchLine[index].oversupplyQuantity?despatchDoc.despatchLine[index].oversupplyQuantity.value:0
		var outstandingQuantity=despatchDoc.despatchLine[index].outstandingQuantity?despatchDoc.despatchLine[index].outstandingQuantity.value:0

		var rejectedQuantity=Number($(`input[name="receiptAdviceLineInfo[${index}][rejectedQuantity]"]`).val())

		var value=deliveredQuantity-rejectedQuantity;
		if(value<0)
			value=0

		$(`input[name="receiptAdviceLineInfo[${index}][receivedQuantity]"]`).val(value)

		bChanging=false
	}


	function approveAdvice(approveType){
		if(!receiptAdvice){
			receiptAdvice=clone(dbType.receiptAdviceInfoType)
		}
		
		receiptAdvice.despatch=despatchDoc._id
		receiptAdvice.inboxDespatchId.value=despatchDoc.uuid.value
		receiptAdvice.receiptAdviceNumber.value=''
		receiptAdvice.localDocumentId=despatchDoc.localDocumentId
		receiptAdvice.note.value=$('#Note').val()
		receiptAdvice.deliveryContactName.value=$('#DeliveryContactName').val()
		receiptAdvice.despatchContactName.value=$('#DespatchContactName').val()
		receiptAdvice.actualDeliveryDate.value=$('#ActualDeliveryDate').val()
		receiptAdvice.receiptAdviceLineInfo=[]

		despatchDoc.despatchLine.forEach((e,index)=>{
			var line=clone(dbType.receiptAdviceLineInfoType)
			line.lineId.value=e.ID.value
			if(approveType=='all'){
				line.receivedQuantity.value=e.deliveredQuantity.value
				line.rejectedQuantity.value=0
				line.timingComplaint.value=$(`input[name="receiptAdviceLineInfo[${index}][timingComplaint]"]`).val()
			}else if(approveType=='partial'){
				line.receivedQuantity.value=Number($(`input[name="receiptAdviceLineInfo[${index}][receivedQuantity]"]`).val())
				line.rejectedQuantity.value=Number($(`input[name="receiptAdviceLineInfo[${index}][rejectedQuantity]"]`).val())
				line.timingComplaint.value=$(`input[name="receiptAdviceLineInfo[${index}][timingComplaint]"]`).val()
			}else if(approveType=='declineAll'){
				line.receivedQuantity.value=0
				line.rejectedQuantity.value=e.deliveredQuantity.value
				line.timingComplaint.value=$(`input[name="receiptAdviceLineInfo[${index}][timingComplaint]"]`).val()
			}
			receiptAdvice.receiptAdviceLineInfo.push(line)
		})

		var url=`/dbapi/despatch-receipt-advice?db=${q.db}&sid=${q.sid}`
		var method='POST'
		if((receiptAdvice._id || '')!=''){
			method='PUT'
			url=`/dbapi/despatch-receipt-advice/${receiptAdvice._id}?db=${q.db}&sid=${q.sid}`
		}
		$.ajax({
			url:url,
			data:receiptAdvice,
			type:method,
			success:function(result){
				if(result.success){
					//$('#approveModal').modal('hide')
					window.location.reload()
				}else{
					alert(result.error.message)
				}
			}
		});
	}
</script>

<div class="modal" id="approveModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="approveModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="approveModalLabel"><i class="fas fa-check-double"></i> Onay/Kısmi onay/Red</label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2">
				<div class="row">
					<div class="form-group col-md-3">
						<label for="" class="m-0">Belge No</label>
						<input type="text" class="form-control" id="docNo" value="" readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Tarih</label>
						<input type="text" class="form-control" id="issueDate" value=""  readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Senaryo</label>
						<input type="text" class="form-control" id="profileId" value=""  readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Belge Tipi</label>
						<input type="text" class="form-control" id="despatchAdviceTypeCode" value=""  readonly="true">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Eden</label>
						<input type="text" class="form-control" id="DespatchContactName" value="">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Alan</label>
						<input type="text" class="form-control" id="DeliveryContactName" value="">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Tarihi</label>
						<div class="input-group date">
							<input type="text" id="ActualDeliveryDate" id="" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>">
							<div class="input-group-addon">
								<i class="fa fa-calendar fa-2x"></i>
							</div>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Not</label>
						<input type="text" class="form-control" id="Note" value="">
					</div>
				</div>
				<div style="width:100%; overflow: scroll;">
					<table class="table form-table table-bordered table-striped m-0 rounded"  cellspacing="0">
						<thead>
							<tr class="">
								<th width="40">#</th>
								<th>Mal/Hizmet adı</th>
								<th class="text-center">Gönderilen</th>
								<th class="text-center">Fazla Gönderilen</th>
								<th class="text-center">Sonra Gönderilecek</th>
								<th class="text-center">Kabul Edilen</th>
								<th class="text-center">Kabul Edilmeyen</th>
								<th class="text-center">Açıklama</th>
							</tr>
						</thead>
						<tbody id="approveGrid">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" href="javascript:approveAdvice('all');" title=""><i class="fas fa-check-double"></i> Tümünü Onayla</a>
				<a class="btn btn-warning" href="javascript:approveAdvice('partial');" title=""><i class="fas fa-check"></i> Kısmi onay Onayla</a>
				<a class="btn btn-danger" href="javascript:approveAdvice('declineAll');" title=""><i class="fas fa-times"></i> Tümünü reddet</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>