<%

%>
<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
	<div class="row m-0 mt-2">
		<div class="col-12 p-0">
			<%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>

			<div class="float-left form-inline ml-md-4">
				<label class="text-primary">Senaryo:</label>
				<select class="form-control input-inline input-sm" name="profileId">
					<% docProfileIdList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-left form-inline ml-md-2">
				<label class="text-primary">Sipariş Türü:</label>
				<select class="form-control input-inline input-sm" name="despatchAdviceTypeCode">
					<% docTypeCodeList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.despatchAdviceTypeCode!='undefined') if(filter.despatchAdviceTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-md-right">
				<button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
			</div>
		</div>
	</div>
</form>

<div class="row m-0 mt-2 button-bar">
	<div class="col-12 p-1 m-0">
		<div style="display: inline-flex;">
			<a class="btn btn-primary btn-sm" href="javascript:sendReceiptAdvice()" ><i class="fas fa-cloud-upload-alt"></i> Teslim yanıtını gönder</a>
		</div>
	</div>
</div>


<%- partial('../../_common/components/grid2',{
	fields:[
	{name:'despatchNo',text:'İrs.No',type:'label', filterField:'despatchNo', filter:true,orderable:true},
	{name:'issueDate',text:'İrs. Tarihi',type:'label', orderable:true},
	{name:'partyName',text:'Unvan',type:'label', filter:true, orderable:true},
	{name:'doc.ID',text:'ID',type:'label', visible:false},
	{name:'doc.despatchStatus',text:'despatchStatus',type:'label', visible:false},
	{name:'receiptStatusHtml',text:'Teslim Durumu', width:'150px',type:'lookup',filter:true, lookupList:receiptStatusTypes, orderable:false , dontUseLookup:true},
	{name:'receiptStatus',text:'receiptStatus',type:'label', visible:false},
	{name:'despatchStatusHtml',text:'Durumu', width:'100px',type:'lookup',filter:true, lookupList:docStatusTypes, orderable:false , dontUseLookup:true}
	],
	caption:'İrsaliyeler',
	addNewButton:true,
	viewButton:false,
	editButton:true,
	deleteButton:true,
	selection:true,
	customButtons:[
	{inline:true, class:'btn-secondary', href:`javascript:popupCenter('/despatch/inbox/view/{_id}?sid=${sid}','Yazdir','900','600');`, title:'Yazdir',icon:'fas fa-print'},
	// {inline:true, class:'btn-info', href:`javascript:setReceiptAdviceInformation('{_id}','{doc.despatchStatus}');`, title:'Onayla',icon:'fas fa-check'}
	],
	deleteUrl:`/dbapi/despatch/{_id}?sid=${sid}`
}) 
%>

<script type="text/javascript">
	function sendReceiptAdvice(receiptAdviceId=undefined){
		var data={list:[]}

		if(receiptAdviceId){
			data.list.push({_id:receiptAdviceId})
		}else{
			$(".checkSingle").each(function() {
				if(this.checked){
					var satir=JSON.parse(decodeURIComponent(this.value))
					if(satir.doc.receiptAdvice.receiptStatus=='Draft' || satir.doc.receiptAdvice.receiptStatus=='Error'){
						data.list.push({_id:satir.doc.receiptAdvice._id})
					}
				}
			})
		}
		
		if(data.list.length==0)
			return alert('Kayit secilmemis! Teslim durumu: "Taslak" veya "Hata" olanlar gonderilebilir')
		if(!confirm(data.list.length + ' adet irsaliye teslim bilgisi gönderilecektir. Onayliyor musunuz?'))
			return

		$.ajax({
			url:`/dbapi/despatch-receipt-advice/send?sid=${q.sid}`,
			data:data,
			type:'POST',
			success:function(result){
				if(result.success){
					alert(result.data)
					window.location.reload()
				}else{
					alert(result.error.code + '\n' + result.error.message)
				}
			},
			error:function(err){
				alert(err)
			}
		})
	}
	var despatchDoc
	var receiptAdvice

	function showErrors(_id){
		var url=`${window.location.origin}/despatch/outbox/errors/${_id}?sid=${q.sid}`
		popupCenter(url,"Hatalar","900","600")
	}

	function setReceiptAdviceInformation(_id){
		despatchDoc=null
		receiptAdvice=null
		$.ajax({
			url:`/dbapi/despatch/${_id}?sid=${q.sid}`,
			type:'GET',
			dataType: 'json',
			success:function(result){
				if(result.success){
					despatchDoc=result.data
					if((despatchDoc.receiptAdvice || '')!=''){
						$.ajax({
							url:`/dbapi/despatch-receipt-advice/${despatchDoc.receiptAdvice}?sid=${q.sid}`,
							type:'GET',
							dataType: 'json',
							success:function(result){
								if(result.success){
									receiptAdvice=result.data
								}
								showModal()
							},
							error:function(err){
								console.log(`err:`,err)
								alert('hata2:' + err)
							}
						});
					}else{
						showModal()
					}
					
					
				}else{
					alert(result.error.code + ' - ' + result.error.message);
				}
			},
			error:function(err){
				console.log(`err:`,err)
				alert('hata1:' + err)
			}
		});
	}

	function showModal(){
		$('#docNo').val(despatchDoc.ID.value)
		$('#issueDate').val(despatchDoc.issueDate.value)
		$('#profileId').val(despatchDoc.profileId.value)
		$('#despatchAdviceTypeCode').val(despatchDoc.despatchAdviceTypeCode.value)
		$('#deliveryContactName').val('')
		$('#despatchContactName').val('')
		$('#actualDeliveryDate').val((new Date()).yyyymmdd())
		$('#note').val('')


		if(receiptAdvice){
			$('#deliveryContactName').val(receiptAdvice.deliveryCustomerParty.deliveryContact.name.value)
			$('#despatchContactName').val(receiptAdvice.despatchSupplierParty.despatchContact.name.value)
			$('#actualDeliveryDate').val(receiptAdvice.shipment.delivery.actualDeliveryDate.value)
			var note=''
			receiptAdvice.note.forEach((e)=>{note+=e.value})
			$('#note').val(note.trim())
		}

		$('#approveGrid tr').remove()
		var approveGrid=document.getElementById('approveGrid')
		despatchDoc.despatchLine.forEach((e,index)=>{
			var receivedQuantity=0, rejectedQuantity=0, timingComplaint='', lineId=`${index+1}`

			if(receiptAdvice){
				if(receiptAdvice.receiptLine.length>index){
					receivedQuantity=receiptAdvice.receiptLine[index].receivedQuantity.value
					rejectedQuantity=receiptAdvice.receiptLine[index].rejectedQuantity.value
					timingComplaint=receiptAdvice.receiptLine[index].timingComplaint.value
					if(receiptAdvice.receiptLine[index])
						if(receiptAdvice.receiptLine[index].lineId)
							lineId=receiptAdvice.receiptLine[index].lineId.value
				}
			}
			var newRow=approveGrid.insertRow(approveGrid.rows.length);
			var cell0=newRow.insertCell(0)
			cell0.classList.add('text-right')
			cell0.innerHTML=lineId

			newRow.insertCell(1).innerHTML=`${e.item.name.value} ${e.item.description?e.item.description.value:''}`
			var cell2=newRow.insertCell(2)
			cell2.classList.add('text-right')
			cell2.innerHTML=`${e.deliveredQuantity?e.deliveredQuantity.value:0}`

			var cell3=newRow.insertCell(3)
			cell3.classList.add('text-right')
			cell3.innerHTML=`${e.oversupplyQuantity?e.oversupplyQuantity.value:0}`

			var cell4=newRow.insertCell(4)
			cell4.classList.add('text-right')
			cell4.innerHTML=`${e.outstandingQuantity?e.outstandingQuantity.value:0}`

			newRow.insertCell(5).innerHTML=`<input type="number" class="form-control text-right" name="receiptLine[${index}][receivedQuantity]" value="${receivedQuantity}" min="0" onchange="receivedQuantityChange(${index})" />`
			newRow.insertCell(6).innerHTML=`<input type="number" class="form-control text-right" name="receiptLine[${index}][rejectedQuantity]" value="${rejectedQuantity}" min="0" onchange="rejectedQuantityChange(${index})" />`
			newRow.insertCell(7).innerHTML=`<input type="text" class="form-control" name="receiptLine[${index}][timingComplaint]" value="${timingComplaint}" />`
		})

		$('#approveModal').modal('show')
	}

	function saveReceiptAdvice(action){
		if($('#actualDeliveryDate').val().trim()=='')
			return alert('Teslim Tarihini giriniz')

		if(!receiptAdvice){
			receiptAdvice=clone(dbType.receiptAdviceType)
			receiptAdvice.despatch=despatchDoc._id
			receiptAdvice.ioType=despatchDoc.ioType
			receiptAdvice.eIntegrator=despatchDoc.eIntegrator
			receiptAdvice.profileId=despatchDoc.profileId
			receiptAdvice.receiptAdviceTypeCode=despatchDoc.despatchAdviceTypeCode
			receiptAdvice.orderReference=despatchDoc.orderReference
			receiptAdvice.despatchSupplierParty=despatchDoc.despatchSupplierParty
			receiptAdvice.deliveryCustomerParty=despatchDoc.deliveryCustomerParty
			receiptAdvice.sellerSupplierParty=despatchDoc.sellerSupplierParty
			receiptAdvice.buyerCustomerParty=despatchDoc.buyerCustomerParty
			receiptAdvice.shipment=despatchDoc.shipment
			receiptAdvice.localDocumentId=despatchDoc.localDocumentId
			receiptAdvice.issueTime.value='13:00:00'
		}
		receiptAdvice.despatchDocumentReference={
			ID:{value:despatchDoc.uuid.value},
			issueDate:{value:despatchDoc.issueDate.value}
		}
		receiptAdvice.despatchSupplierParty.despatchContact=clone(dbType.contactType)
		receiptAdvice.despatchSupplierParty.despatchContact.name.value=$('#despatchContactName').val()
		receiptAdvice.issueDate.value=$('#actualDeliveryDate').val()
		
		receiptAdvice.note=[{value:$('#note').val()}]

		receiptAdvice.deliveryCustomerParty.deliveryContact=clone(dbType.contactType)
		receiptAdvice.deliveryCustomerParty.deliveryContact.name.value=$('#deliveryContactName').val()

		receiptAdvice.receiptLine=[]

		despatchDoc.despatchLine.forEach((e,index)=>{
			var line=clone(dbType.receiptLineType)
			line.ID.value=(index+1).toString()
			line.item=e.item
			line.note=e.note
			line.receivedDate.value=$('#actualDeliveryDate').val()
			line.despatchLineReference.lineId.value=e.ID.value
			line.shortQuantity=e.shortQuantity
			line.oversupplyQuantity=e.oversupplyQuantity
			line.orderLineReference=e.orderLineReference
			line.timingComplaint.value=$(`input[name="receiptLine[${index}][timingComplaint]"]`).val()
			line.shipment=e.shipment

				line.receivedQuantity.value=Number($(`input[name="receiptLine[${index}][receivedQuantity]"]`).val())
				line.rejectedQuantity.value=Number($(`input[name="receiptLine[${index}][rejectedQuantity]"]`).val())
				if(line.receivedQuantity.value==0 && line.rejectedQuantity.value==0){
					alert(`Satir:${line.ID.value} Kabul ve Red miktarlari ikisi birden sifir olamaz`)
				}
			receiptAdvice.receiptLine.push(line)
		})
		
		var url=`/dbapi/despatch-receipt-advice?sid=${q.sid}`
		var method='POST'
		if((receiptAdvice._id || '')!=''){
			method='PUT'
			url=`/dbapi/despatch-receipt-advice/${receiptAdvice._id}?sid=${q.sid}`
		}
		$.ajax({
			url:url,
			data:receiptAdvice,
			type:method,
			success:function(result){
				if(result.success){
					//$('#approveModal').modal('hide')
					if(action=='Send'){
						sendReceiptAdvice(result.data._id)
					}else{
						window.location.reload()
					}
					
				}else{
					alert(result.error.message)
				}
			}
		})
	}

	var bChanging=false

	function btnApproveAll(){
		bChanging=true
		despatchDoc.despatchLine.forEach((e,index)=>{
			$(`input[name="receiptLine[${index}][receivedQuantity]"]`).val(e.deliveredQuantity.value)
			$(`input[name="receiptLine[${index}][rejectedQuantity]"]`).val(0)
		})
		bChanging=false
	}

	function btnRejectAll(){
		bChanging=true
		despatchDoc.despatchLine.forEach((e,index)=>{
			$(`input[name="receiptLine[${index}][receivedQuantity]"]`).val(0)
			$(`input[name="receiptLine[${index}][rejectedQuantity]"]`).val(e.deliveredQuantity.value)
		})
		bChanging=false
	}
	

	function receivedQuantityChange(index){
		if(bChanging)
			return
		bChanging=true
		var deliveredQuantity=despatchDoc.despatchLine[index].deliveredQuantity?despatchDoc.despatchLine[index].deliveredQuantity.value:0
		var oversupplyQuantity=despatchDoc.despatchLine[index].oversupplyQuantity?despatchDoc.despatchLine[index].oversupplyQuantity.value:0
		var outstandingQuantity=despatchDoc.despatchLine[index].outstandingQuantity?despatchDoc.despatchLine[index].outstandingQuantity.value:0

		var receivedQuantity=Number($(`input[name="receiptLine[${index}][receivedQuantity]"]`).val())
		var value=deliveredQuantity-receivedQuantity;
		if(value<0)
			value=0
		$(`input[name="receiptLine[${index}][rejectedQuantity]"]`).val(value)

		bChanging=false
	}

	function rejectedQuantityChange(index){
		if(bChanging)
			return
		bChanging=true
		var deliveredQuantity=despatchDoc.despatchLine[index].deliveredQuantity?despatchDoc.despatchLine[index].deliveredQuantity.value:0
		var oversupplyQuantity=despatchDoc.despatchLine[index].oversupplyQuantity?despatchDoc.despatchLine[index].oversupplyQuantity.value:0
		var outstandingQuantity=despatchDoc.despatchLine[index].outstandingQuantity?despatchDoc.despatchLine[index].outstandingQuantity.value:0

		var rejectedQuantity=Number($(`input[name="receiptLine[${index}][rejectedQuantity]"]`).val())

		var value=deliveredQuantity-rejectedQuantity;
		if(value<0)
			value=0

		$(`input[name="receiptLine[${index}][receivedQuantity]"]`).val(value)

		bChanging=false
	}
</script>

<div class="modal" id="approveModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="approveModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="approveModalLabel"><i class="fas fa-check-double"></i> Onay/Kısmi onay/Red</label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2">
				<div class="row">
					<div class="form-group col-md-3">
						<label for="" class="m-0">Belge No</label>
						<input type="text" class="form-control" id="docNo" value="" readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Tarih</label>
						<input type="text" class="form-control" id="issueDate" value=""  readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Senaryo</label>
						<input type="text" class="form-control" id="profileId" value=""  readonly="true">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Belge Tipi</label>
						<input type="text" class="form-control" id="despatchAdviceTypeCode" value=""  readonly="true">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Eden</label>
						<input type="text" class="form-control" id="despatchContactName" value="">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Alan</label>
						<input type="text" class="form-control" id="deliveryContactName" value="">
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Teslim Tarihi</label>
						<div class="input-group date">
							<input type="text" id="actualDeliveryDate" id="" class="form-control" value="<%=moment().format('YYYY-MM-DD')%>">
							<div class="input-group-addon">
								<i class="fa fa-calendar fa-2x"></i>
							</div>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label for="" class="m-0">Not</label>
						<input type="text" class="form-control" id="note" value="">
					</div>
				</div>
				<div style="width:100%; overflow: scroll;">
					<table class="table form-table table-bordered table-striped m-0 rounded"  cellspacing="0">
						<thead>
							<tr class="">
								<th width="40">#</th>
								<th>Mal/Hizmet adı</th>
								<th class="text-center">Gönderilen</th>
								<th class="text-center">Fazla Gönderilen</th>
								<th class="text-center">Sonra Gönderilecek</th>
								<th class="text-center">Kabul Edilen</th>
								<th class="text-center">Kabul Edilmeyen</th>
								<th class="text-center">Açıklama</th>
							</tr>
						</thead>
						<tbody id="approveGrid">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-info float-left" href="javascript:btnApproveAll();" title=""><i class="fas fa-check-double"></i> Tümünü kabul et</a>
				<a class="btn btn-danger float-left" href="javascript:btnRejectAll();" title=""><i class="fas fa-times"></i> Tümünü reddet</a>
				<button class="btn btn-secondary float-right" type="button" data-dismiss="modal">Vazgeç</button>
				<a class="btn btn-info float-right" href="javascript:saveReceiptAdvice('Send');" title="Teslim bilgisini kaydet ve gönder"><i class="fas fa-cloud-upload-alt"></i> Kaydet ve Gönder</a>
				<a class="btn btn-primary float-right" href="javascript:saveReceiptAdvice('Draft');" title="Teslim bilgisini daha sonra göndermek için kaydet (Taslak)"><i class="fas fa-save"></i> Kaydet</a>
			</div>
		</div>
	</div>
</div>