<%
	if(typeof form.files=='undefined') form.files=[];
	
	if(typeof form['fileId']=='undefined') fileId='';
	if(typeof newFile=='undefined') newFile=false;


	var fileUploadAcceptList='';
	fileTypes.forEach((e,index)=>{
		fileUploadAcceptList +=e.value + (index<fileTypes.length-1?',':'');
	});
%>

<div class="form-group">
	<div class="row">
		<ul class="nav flex-column col-md-2">
		  <li class="nav-item">
		    	<a class="nav-link <% if(form.fileId=='yenidosya'){%>active<%}%>" href="<%=urlPath%>?newFile=true&sid=<%=sid%>"><i class="fa fa-plus"></i> Yeni dosya</a>
		  </li>
		  <% form.files.forEach((f,index)=>{ %>
			<li class="nav-item">
				<a class="nav-link <% if(form.fileId==f._id){%>active<%}%>" href="<%=urlPath%>?fileId=<%=f._id%>&sid=<%=sid%>"><% if(f.isStart){%><b><i class="fa fa-check"></i> <%}%><i class="fa fa-<%- (typeof f.icon!='undefined')?f.icon:'file'%>"></i> <%=f.fileName%><% if(f.isStart){%></b><%}%></a>
			</li>
			<%});%>
		</ul>
		
		<% if(fileId=='' && newFile==false) { %>
		<div class="card col-md-10">
			<div class="card-body">
				<h5 class="card-title">Etulia Local Connector</h5>
				<h6 class="card-subtitle mb-2 text-muted">Remote executable files definition page</h6>
				<p>Bu bolumde kendi bilgisayar veya networkunuzdeki sunucunuz ile baglanti kurulup calistirilacak dosyalarin tanimlamasi yapilir.</p>
				<p><b>Desteklenen sistemler</b></p>
				<p>MsSQL , MySQL, dosya sistemi, csv aktarimi ... </p>
			</div>
		</div>
		<% } else { %>
		<div class="card col-md-10">
			<div class="">
				<input type="hidden" name="fileId" id="fileId" value="<%=form.fileId%>">
				<div class="row mt-1">
					<div class="col-md-8">
						<input type="text" name="fileName" id="fileName" class="form-control" value="<%- (typeof form['fileName']!='undefined')?form['fileName']:''%>">
					</div>
					<div class="col-md-4">
					    <select name="fileExtension" class="form-control" id="fileExtension">
					      <% fileTypes.forEach(function(e){ %>
					        <option value="<%=e.value%>" <% if(typeof form['fileExtension']!='undefined'){ if(e.value==form['fileExtension']){%>selected<%} } %> ><%=e.text%></option>
					      <% }); %>
					    </select>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-6">
						<button type="submit" form="<%=formName%>" class="btn btn-primary" title="Kaydet" name="btnSaveFile" value="true"><i class="fa fa-save"></i> Kaydet</button>	
						<a href="<%=urlPath%>?sid=<%=sid%>" class="btn btn-dark"><i class="fa fa-reply"></i> Vazgeç</a>
					</div>
					<div class="col-md-6 text-right">
						<input type="hidden" name="fileDataBase64" id="fileDataBase64" value="<%=form.fileDataBase64%>">
						<input type="hidden" name="fileType" id="fileType" value="<%=form.fileType%>">
						<% if(newFile){ %>
						<label for="fileToUpload" class="btn btn-primary"><i class="fa fa-file"></i> Dosya seçiniz</label>
			    		<input type="file" name="fileToUpload" id="fileToUpload" style="visibility:hidden;" accept="<%=fileUploadAcceptList%>" >
			    		<% } else{  %>
			    		
			    		<a href="<%=urlPath%>?setStart=true&fileId=<%=form.fileId%>&sid=<%=sid%>" class="btn btn-primary" title="Baslangic olarak ayarla" onclick="return confirmSetStart();"><i class="fa fa-check"></i> Baslangic dosyasi olarak ayarla</a>
			    		<% } %>
					</div>
					
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<textarea name="fileData" id="fileData" class="form-control code-area" rows="10"><%=form.fileData%></textarea>
					<img id="fileImage" src="">
					<a id="fileOther" href="" download="<%- (typeof form['fileFullName']!='undefined')?form['fileFullName']:''%>"><i class="fa fa-<%- (typeof fileIcon!='undefined')?fileIcon:'file'%>"></i> <%- (typeof form['fileFullName']!='undefined')?form['fileFullName']:''%></a>
				</div>
				<% if(!newFile){ %>
				<div class="form-group text-right">
					<a href="<%=urlPath%>?deleteFile=true&fileId=<%=form.fileId%>&sid=<%=sid%>" class="btn btn-danger" title="Dosyayi sil" onclick="return confirmDelete();"><i class="fa fa-trash"></i></a>
				</div>
				<% } %>
			</div>
		</div>
		<% } %>
	</div>
</div>
<script type="text/javascript">
	var editorFileTypes=['text/plain', 'application/json','text/javascript','text/html']

	$("#fileToUpload").change(function() {
	  var filename = this.files[0].name;
	  if(filename.split('.').length<2)	return alert('yanlis dosya uzantisi');

	  var name=filename.split('.')[0];
	  var extension=filename.split('.')[1];
	  var acceptList="<%=fileUploadAcceptList%>";
	  if(acceptList.indexOf(extension)<0) return alert('yanlis dosya uzantisi');
	  $('#fileName').val(name);
	  $('#fileExtension').val(extension);

	  var file =this.files[0]; 
	  var reader  = new FileReader();
	  reader.addEventListener("load", function () {
	    
	    if(editorFileTypes.indexOf($('#fileType').val())>-1 ){
	    	$('#fileDataBase64').val('');
	    	$('#fileData').val(reader.result);
	    	$('#fileImage').hide();
			$('#fileOther').hide();
	    	$('#fileData').show();
		}else{
			$('#fileDataBase64').val(reader.result);
			$('#fileData').val('');
			$('#fileData').hide();
			showDataBase64($('#fileDataBase64').val());
			
		}

	  }, false);

	  if (file) {

	  	if(extension=='ejs') {
	  		file.type='text/plain';
	  	}else{
	  		$('#fileType').val(file.type);
	  	}
	  	
	  	
  		if(editorFileTypes.indexOf($('#fileType').val())>-1){

  			reader.readAsText(file, 'UTF-8');
  		}else{
	  		reader.readAsDataURL(file);
	  	}
	  }
	});

	var textCode=document.getElementById('fileData');
	textCode.onkeydown=function(e){
		if (e.keyCode === 9 ) { 

            var val = this.value,
                start = this.selectionStart,
                end = this.selectionEnd;

            this.value = val.substring(0, start) + '\t' + val.substring(end);

            this.selectionStart = this.selectionEnd = start + 1;

            return false;

        }
	}

	$(document).ready(function(){
		if(editorFileTypes.indexOf($('#fileType').val())>-1){
			$('#fileImage').hide();
			$('#fileOther').hide();
			$('#fileData').show();

		}else{
			$('#fileData').hide();
			showDataBase64($('#fileDataBase64').val());
		}
		
		
	})

	function showDataBase64(base64Data){
		$('#fileImage').hide();
		$('#fileOther').hide();
		if(base64Data){
			if(base64Data.indexOf('data:image')>-1){
				$('#fileImage').attr('src',base64Data);
				$('#fileImage').show();
			}else{
				$('#fileOther').attr('href',base64Data);
				var downloadFileName= $('#fileName').val() + '.' + $('#fileExtension').val();
				$('#fileOther').attr('download',downloadFileName);
				//$('#fileOther').html(downloadFileName);
				$('#fileOther').show();
			}
		}else{
			$('#fileData').show();
		}
	}


	function confirmDelete(){
        return confirm("Dosya silinecektir! Onayliyor musunuz?");
    }

    function confirmSetStart(){
        return confirm("Baslangic dosyasi olarak ayarlanacaktir! Onayliyor musunuz?");
    }
</script>