<%layout('../../_common/layouts/general')%>
<%
headerButtons='';
headerButtons +='<a href="javascript:save();" class="btn btn-primary btn-form-header" title="Kaydet"><i class="fas fa-save"></i></a>';
headerButtons +='<a href="javascript:cancelForm();" class="btn btn-dark  btn-form-header ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>';
%>
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism.css') %>" />
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism-live.css') %>" />


<form action="" method="POST" id="form1" role="form">
	<div class="row m-0 p-0">
		<div class="col-md-6 m-0 p-1">
			<div class="card">
				<div class="card-header p-1 text-primary">Varsayilan Parametreler</div>
				<div class="card-body p-0">
					<pre class="language-js fill" style="min-height: 33rem;max-height: 33rem;margin:0;"><code><%- form.default%></code></pre>
				</div>
			</div>
		</div>
		<div class="col-md-6 m-0 p-1">
			<div id="settings" class="card">
				<div class="card-header p-1 text-primary">Özelleştirilen Parametreler</div>
				<div class="card-body p-0">
					<pre class="prism-live language-js fill" style="min-height: 33rem;max-height: 33rem;"><code><%- form.settings%></code></pre>
					<input type="hidden" name="settings" value="<%- form.settings%>">
				</div>
			</div>
			<div class="float-left"><a href="javascript:hataDenetimi()" class="btn btn-primary btn-sm" title="JSON format icin hata denetimi yap"><i class="fas fa-check"></i> Hata denetimi yap</a></div>
			<div class="float-left"><a href="javascript:deneme('danger')" class="btn btn-primary btn-sm ml-2" title="qwerty"> danger</a></div>
			<div class="float-left"><a href="javascript:deneme('warning')" class="btn btn-primary btn-sm ml-2" title="qwerty"> warning</a></div>
			<div class="float-left"><a href="javascript:deneme('info')" class="btn btn-primary btn-sm ml-2" title="qwerty"> info</a></div>
		</div>
	</div>
</form>

<script type="text/javascript" src="<%- assetVersion('/vendor/js/bliss.shy.min.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-markup.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-css.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-javascript.js') %>"></script>

<script type="text/javascript">
	function deneme(type){
		var msj=`Merhaba dunya
nasilsin? iyisin mi?`
		confirmX(msj,type,(e)=>{
			console.log(`confirmX e:`,e)
		})
	}

	var headerButtons=document.getElementById('headerButtons');
	if(headerButtons){
		headerButtons.innerHTML='<%- headerButtons %>';
	}

	function cancelForm(){
	
		window.location.reload()
	}

	function save(){
		if(!jsonControl())
			return
		var s=document.getElementById('settings').getElementsByTagName('textarea')[0]
		$('input[name="settings"]').val(s.value)
	
		document.getElementById("form1").submit()
	}

	function hataDenetimi(){
		if(jsonControl()){
			alertX(`Hata denetimi basarili :-)`,'Başarılı')
		}
	}

	function jsonControl(){
		var s=document.getElementById('settings').getElementsByTagName('textarea')[0].value
		try{
			var obj=JSON.parse(s)
			
			return true
		}catch(e){
			alertX((err.message || err.name || 'Hata oluştu'),'HATA','danger',()=>{
				return false
			})
			
		}

	}
</script>