<% layout('../../../_common/layouts/general') %>
<%
    
%>          
    <style type="text/css">
        body{
            background-color: #007bff!important;
        }
        footer.footer {
          padding-top: 3rem;
          padding-bottom: 4rem;
          background-color: #007bff;
        }

        footer.footer a{
          color:#f8f9fa;
        }
        footer.footer li{
          color:#f8f9fa;
        }
    </style>
    <nav class="navbar static-top">
        <div class="container">
            <div class="float-left" style="width: 50%;">
                <a href="/" class="mb-4"><img src="<%- assetVersion('/img/logo-white.png') %>" style="max-width: 100%; max-height: 40px;"></a>
            </div>
            
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><div class="text-center login-title text-primary"><i class="fas fa-user-plus mr-1"></i> {{Sign up}}</div></div>
                    <div class="card-body">
                        <%- formError(message) %>
                        <form action="" method="POST" role="form" name="form1" id="form1" autocomplete="off">
                            <div class="form-group">
                                <label class="small mb-1" for="inputTelephone">{{Telephone Number}}</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <select class="form-control" id="basic-addon1" name="countryCode">
                                        <% staticValues.countryTelCodes.forEach((e)=>{ %>
                                        <option value="<%- e.value %>"<% if(form.countryCode==e.value){%> selected<% } %>><%- e.text %></option>
                                        <% }) %>
                                    </select>
                                  </div>
                                  <input class="form-control" id="inputTelephone" aria-describedby="basic-addon1"  name="phoneNumber" type="tel" placeholder="{{Enter your phone number}}" required="true" />
                                </div>
                                
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="firstName">{{First Name}}</label>
                                        <input class="form-control" id="firstName" name="firstName" type="text" placeholder="{{Enter first name}}" required="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="lastName">{{Last Name}}</label>
                                        <input class="form-control" id="lastName" name="lastName" type="text" placeholder="{{Enter last name}}" required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="email">{{Email}}</label>
                                <input class="form-control" id="email" name="email" type="email" aria-describedby="emailHelp" autocomplete="off" placeholder="Enter email address" />
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="password">{{Password}}</label>
                                        <input class="form-control" id="password" name="password" type="password" autocomplete="off" placeholder="{{Enter password}}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="rePassword">{{Confirm Password}}</label>
                                        <input class="form-control" id="rePassword" name="rePassword" type="password" autocomplete="off" placeholder="{{Retype Password}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <input class="btn btn-primary btn-block" type="submit" value="{{Create Account}}">
                            </div>

                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="/login">{{Have an account? Go to login}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- indent(partial('../../_common/layouts/footer'),4) %>