<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
	<div class="row m-0 mt-2">
		<div class="col-12 p-0">
			<%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>

			<div class="float-left form-inline ml-md-4">
				<label class="text-primary">Senaryo:</label>
				<select class="form-control input-inline input-sm" name="profileId" id="profileId">
					<% docProfileIdList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-left form-inline ml-md-2">
				<label class="text-primary">Fatura Türü:</label>
				<select class="form-control input-inline input-sm" name="invoiceTypeCode" id="invoiceTypeCode">
					<% docTypeCodeList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.invoiceTypeCode!='undefined') if(filter.invoiceTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-md-right">
				<button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
			</div>
		</div>
	</div>
</form>

<%
panelButtons=`
<button type="button" class="btn btn-primary mr-2" id="btnApprove">Onayla</button>
<button type="button" class="btn btn-danger mr-2" id="btnDecline">Reddet</button>
<button type="button" class="btn btn-info mr-2" id="btnExportToLocal" title="Faturalari Serverınıza gönder "><i class="fas fa-plug"></i> Entegrasyon</button>
`
%>

<%- partial('../../_common/components/grid2',{
	fields:[
	{field:'invoiceNo',title:'Fat.No',type:'string', filterField:'invoiceNo', filter:true,orderable:true},
	{field:'issueDate',title:'Fat. Tarihi',type:'string', orderable:true},
	{field:'partyName',title:'Unvan',type:'string', filter:true, orderable:true},
	{field:'amount',title:'Tutar',type:'string'},
	{field:'tax',title:'Vergi',type:'string' },
	{field:'currency',title:'Döviz',type:'lookup',filter:true, filterField:'documentCurrencyCode', lookup:currencyList,textField:'text', valueField:'value', dontUseLookup:true },
	{field:'invoiceStatus',title:'Durumu', width:'100px',type:'lookup',filter:true, lookup:docStatusTypes, textField:'text', valueField:'value', orderable:false , dontUseLookup:true}
	],
	title:'Gelen Faturalar',
	addNewButton:true,
	viewButton:false,
	editButton:true,
	deleteButton:true,
	selection:true,
	customButtons:[
	{href:`javascript:popupCenter('/e-invoice/inbox/view/{_id}?sid=${sid}','Ön izleme','900','600');`, title:'Goruntule',icon:'fas fa-search-plus'},
	]
	,
	deleteUrl:`/dbapi/e-invoice/invoice/{_id}?sid=${sid}`
}) 
%>

<script type="text/javascript">

	$(document).ready(function(){

		$('#btnExportToLocal').click(function(){
			$.ajax({
				url:`/dbapi/e-invoice/transfer/export?sid=${q.sid}`,
				data:{},
				type:'POST',
				success:function(result){
					if(result.success){
						window.location.reload();
					}else{

						alert(result.error.code + '\n' + result.error.message);

					}
				}
			});

		});

		$('#btnApprove').click(function(){
			var data={list:[]};
			$(".checkSingle").each(function() {
				if(this.checked){
					var satir=JSON.parse(decodeURIComponent(this.value));
					if(satir.doc.invoiceStatus=='WaitingForApprovement'){
						data.list.push({_id:satir._id, ID:satir.doc.ID});
					}

				}
			});
			if(data.list.length==0)
				return alertX('Kayit secilmemis!','Uyarı')

			confirmX(`${data.list.length} adet ticari faturayi Onaylıyor musunuz?`,(resp)=>{
				if(resp){
					$.ajax({
						url:`/dbapi/e-invoice/approve?sid=${q.sid}`,
						data:data,
						type:'POST',
						success:function(result){
							if(result.success){
								window.location.reload()
							}else{
								alertX(result.error.message,'HATA','warning')
							}
						}
					})
				}
			})


		});

		$('#btnDecline').click(function(){
			var data={list:[]};
			$(".checkSingle").each(function() {
				if(this.checked){
					var satir=JSON.parse(decodeURIComponent(this.value));
					if(satir.doc.invoiceStatus=='WaitingForApprovement'){
						data.list.push({_id:satir._id, ID:satir.doc.ID});
					}

				}
			});
			if(data.list.length==0)
				return alertX('Kayit secilmemis!','Uyarı')

			confirmX(`${data.list.length} adet ticari faturayi reddediyor musunuz?`,(resp)=>{
				if(resp){
					$.ajax({
						url:`/dbapi/e-invoice/decline?sid=${q.sid}`,
						data:data,
						type:'POST',
						success:function(result){
							if(result.success){

								window.location.reload();
							}else{
								alertX(result.error.message,'HATA','warning')
							}
						}
					})
				}
			})
		})
	})

	function showErrors(_id){
		var url=`<%- urlPath %>/errors/${_id}?sid=${q.sid}';
		popupCenter(url,'Goster','900','600');
	}
</script>