<%
headerButtons=''
headerButtons +='<a href="javascript:save()" class="btn btn-primary btn-form-header" title="Kaydet"><i class="fas fa-save"></i></a>'
headerButtons +='<a href="javascript:cancelForm()" class="btn btn-dark  btn-form-header ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>'
%>
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism.css') %>" />
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism-live.css') %>" />
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="IDtab1" href="#formTab1" role="tab" data-toggle="tab" aria-controls="formTab1" aria-selected="true">Program</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="IDtab2" href="#formTab2" role="tab" data-toggle="tab" aria-controls="formTab2" aria-selected="false">Çalıştır</a>
	</li>
</ul>
<div class="tab-content" style="min-height: 35rem;overflow: auto;">
	<div class="tab-pane show active" id="formTab1" role="tabpanel" aria-labelledby="IDtab1">
		<div class="row m-0 p-0  ">
			<div class="col-12 m-0 p-1">
				<label class="float-left mt-1">Program adı:</label>
				<input type="text" class="form-control float-left ml-md-2" name="name" value="<%- form.name %>" style="width: 150px;max-width: 100%;">
				<label class="float-left mt-1 ml-md-2">
					<input type="checkbox" class="" name="passive" value="true" <%- (form.passive?'checked':'')%> />
					Pasif?
				</label>
			</div>
		</div>
		<div class="row m-0 p-0">
			<div class="col-md-3 m-0 p-1">
				<div class="card">
					<div class="card-header p-1 text-primary">Dosyalar</div>
					<div class="card-body p-0">
						<div class="list-group"  role="list">
							<div id="file-list"></div>
							<a id="btnAddNewFile" class="list-group-item list-group-item-action text-center text-primary" href="javascript:addNewFile()" title="yeni dosya ekle">
								<i class="fas fa-plus-square fa-2x"></i>
							</a>
						</div>
					</div>
				</div>
				<a class="btn btn-sm btn-secondary mt-4" href="javascript:$('#fileUpload').trigger('click')" title="Dosyadan içeri al">
					<i class="fas fa-file-import"></i> İçeri al
				</a>
				<input type="file" name="fileUpload" id="fileUpload" style="visibility:hidden;" accept="*.*" multiple>

			</div>
			<div class="col-md-9 m-0 p-1">
				<div class="card"  id="code" >
					<div class="card-header p-1 text-primary bold">
						<div class="float-left"><input id="fileName" type="text" class="form-control" value=""></div>
						<div class="float-right">
							<a class="btn btn-sm btn-light border" href="javascript:copyToClipboard()" title="Kopyala"><i class="far fa-copy"></i></a>
						</div>

					</div>
					<div class="card-body p-0">
						<pre class="prism-live language-js fill" style="min-height: 33rem;max-height: 33rem;"><code>var obj={}</code></pre>
					</div>
					<div class="card-footer">
						<div class="float-left">
							<p>Çalışacak programlar her zaman <b>index.ejs</b> dosyası ile başlar.<br>
								Diğer dosyaları dahil etmek için <b>&#32;&lt;&percnt;&#45;&#32;&#105;&#110;&#99;&#108;&#117;&#100;&#101;&lpar;&apos;&#121;&#101;&#110;&#105;&#49;&period;&#101;&#106;&#115;&apos;&comma;&lcub;&#100;&#101;&#103;&#101;&#114;&colon;&apos;&#111;&#114;&#110;&#101;&#107;&apos;&comma;&#115;&#97;&#121;&#105;&colon;&#49;&#53;&rcub;&rpar;&#32;&percnt;&gt;</b> kullanabilirsiniz.
							</p>
						</div>
						<div class="float-right"><a href="javascript:deleteFile()" class="btn btn-danger btn-sm" title="Dosyayi sil"><i class="fas fa-trash-alt"></i></a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane" id="formTab2" role="tabpanel" aria-labelledby="IDtab2">
		kod calistir
	</div>
</div>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/bliss.shy.min.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-markup.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-css.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-javascript.js') %>"></script>


<script type="text/javascript">
	var headerButtons=document.getElementById('headerButtons')
	if(headerButtons){
		headerButtons.innerHTML='<%- headerButtons %>'
	}
	var doc=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(form)) %>'))
	var activeIndex=-1


	function addNewFile(obj,show=true){

		if(obj==undefined){
			obj={
				fileName:nextNewFileName(),
				code:btoa(`// EJS Embedded Javascript\r\n// https://ejs.co/\r\n// author: <%- username %>\r\n// date: ${(new Date()).yyyymmdd()}\r\n<\%\r\n\t// ejs kodlarinizi bu sekilde yazabilirsiniz\r\n%>\r\n`)
			}
		}
		doc.files.push(obj)
		var fileList=document.getElementById('file-list')
		var listHtml=`<a class="list-group-item list-group-item-action" id="list-file${doc.files.length-1}"  href="javascript:showFile(${doc.files.length-1});" aria-controls="">${obj.fileName}</a>`
		fileList.innerHTML = fileList.innerHTML + listHtml
		if(show){
			showFile(doc.files.length-1)
		}
	}

	function reloadFiles(){
		var fileList=document.getElementById('file-list')
		fileList.innerHTML=''
		doc.files.forEach((e,index)=>{
			var listHtml=`<a class="list-group-item list-group-item-action" id="list-file${index}"  href="javascript:showFile(${index});" aria-controls="">${e.fileName}</a>`
			fileList.innerHTML+=listHtml
		})
		if(activeIndex>=0 && activeIndex<doc.files.length){
			showFile(activeIndex)
		}else if(doc.files.length>0){
			showFile(0)
		}else{
			document.getElementById('code').style.display='none'
		}
	}

	reloadFiles()

	function showFile(index){
		document.getElementById('code').getElementsByTagName('code')[0].innerHTML=atob(doc.files[index].code)
		document.getElementById('fileName').value=doc.files[index].fileName
		activeIndex=index
		document.getElementById('code').style.display='flex'
		var fileList=document.getElementById('file-list').getElementsByTagName('a')
		console.log(`fileList.length:`,fileList.length)
		console.log(`activeIndex:`,activeIndex)
		for(let i=0;i<fileList.length;i++){
			fileList[i].classList.remove('active')
		}

		fileList[activeIndex].classList.add('active')
	}
	function nextNewFileName(){
		if(doc.files.length==0){
			return 'index.ejs'
		}
		var fileName='yeni0'
		var bFound=false
		do{
			bFound=false
			fileName=incString(fileName)
			doc.files.forEach((e)=>{
				if(e.fileName==fileName + '.ejs'){
					bFound=true
					return
				}
			})
		}while(bFound)

		return fileName + '.ejs'
	}

	function deleteFile(){
		if(activeIndex<0)
			return
		if(!confirm('Dosyayi silmek istediginizden emin misiniz?'))
			return
		doc.files.splice(activeIndex,1)
		if(doc.files.length>0){
			activeIndex=0
		} else{
			activeIndex=-1
		}

		reloadFiles()
	}
	function cancelForm(){
		if(!confirm('Yaptığınız değişiklikler kaydedilmeyecektir. Emin misiniz?'))
			return
		goBack()
	}

	function copyToClipboard(){
		var copyText =document.getElementById('code').getElementsByTagName('textarea')[0]

		copyText.select()
		copyText.setSelectionRange(0, 99999)
		document.execCommand("copy")
	}

	function save(){
		doc.name=$('input[name="name"]').val()
		doc.passive=$('input[name="passive"]').prop('checked')
		if(doc.name==''){
			alert('isim bos olamaz!')
			return;
		}
		var type='POST';
		var url='';
		url=`/dbapi/programs?db=${q.db}&sid=${q.sid}`
		if(doc._id!=undefined){
			type='PUT';
			url=`/dbapi/programs/${doc._id}?db=${q.db}&sid=${q.sid}`
		}

		$.ajax({
			url:url,
			data:doc,
			type:type,
			success:function(result){
				if(result.success){
					goBack()
				}else{
					alert(result.error.message)
				}
			},
			error:function(err){
				alert(err)
				console.log(err)
			}
		})
	}

	$(document).ready(()=>{
		$('#fileName').on('change',()=>{
			if(activeIndex<0)
				return
			doc.files[activeIndex].fileName=$('#fileName').val()
			$(`#list-file${activeIndex}`).html($('#fileName').val())
		})

		document.getElementById("code").getElementsByTagName('textarea')[0].addEventListener("change", function(){
			if(activeIndex<0)
				return
			doc.files[activeIndex].code=btoa(document.getElementById("code").getElementsByTagName('textarea')[0].value)
		})

		$('#fileName').on('change',()=>{
			if(activeIndex<0)
				return
			doc.files[activeIndex].fileName=$('#fileName').val()
			$(`#list-file${activeIndex}`).html($('#fileName').val())
		})

		$("#fileUpload").change(function() {

			var reader  = new FileReader()
			var fileIndex=0
			var files=this.files
			var importFiles=[]
			reader.addEventListener("load", function(){

				if(reader.result){
					importFiles[importFiles.length-1].base64Data=reader.result.split('base64,')[1]
				}
				fileIndex++
				runReader()
			})

			function runReader(){
				if(fileIndex>=files.length){
					saveImportFiles(importFiles)
					return
				}
				var file=files[fileIndex]
				importFiles.push({name:file.name,modifiedDate:file.lastModifiedDate,size:file.size,base64Data:''})
				reader.readAsDataURL(file)
			}

			runReader()
		})

		function saveImportFiles(files){
			if(files.length==0) 
				return

			if(!confirm(files.length + ' adet dosya iceri alinacaktir. Onayliyor musunuz?'))
				return
			files.forEach((e)=>{
				var obj={
					fileName:e.name,
					code:e.base64Data
				}

				addNewFile(obj,false)
			})
		}
	})

</script>
