<%
	title='Bekleyen Şiparişler';
%>
<%layout('../../_common/layouts/general')%>
<form action="" method="POST" role="form" name="form1">
	<div class="row m-0 mt-2">
		<div class="col-12 p-0">
			<%- partial('../../_common/components/date-filter',{includeForm:false,includeFilterButton:false}) %>
			
			<div class="float-left form-inline ml-md-4">
				<label class="text-primary">Senaryo:</label>
				<select class="form-control input-inline input-sm" name="profileId" id="profileId">
					<% docProfileIdList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.profileId!='undefined') if(filter.profileId==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-left form-inline ml-md-2">
				<label class="text-primary">Sipariş Türü:</label>
				<select class="form-control input-inline input-sm" name="orderTypeCode" id="orderTypeCode">
					<% docTypeCodeList.forEach((e)=>{ %> 
					<option value="<%=e.value%>"<% if(typeof filter.orderTypeCode!='undefined') if(filter.orderTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
					<% }) %>
				</select>
			</div>
			<div class="float-md-right">
				<button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
			</div>
		</div>
	</div>
</form>

<div class="btn-toolbar mt-2 border p-1 rounded justify-content-start" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="">
		<button type="button" class="btn btn-primary" id="btnProductionOrder">Üretim Emri ver</button>
	</div>
	<div class="btn-group mr-2" role="group" aria-label="">
		<button type="button" class="btn btn-info" id="btnSendToCustomer">Sevk et</button>
	</div>
</div>

<% if(typeof message!='undefined') { %>
<% if(message!='') { %>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			<%=message %>
		</div>
	</div>
</div>
<% } %>
<% } %>

<%- partial('../../_common/components/grid2',{
	fields:[
		{name:'orderTypeCode.value',text:'Türü',type:'label', orderable:true},
		{name:'sipNo',text:'Sip.No',type:'label', filterField:'orderNo', filter:true,orderable:true},
		{name:'issueDate.value',text:'Sip. Tarihi',type:'label', orderable:true},
		{name:'termin',text:'Termin',type:'label', orderable:true},
		{name:'buyerCustomerParty.party.partyName.name.value',text:'Musteri',type:'label', filter:true, orderable:true},
		{name:'orderLine.item.name.value',text:'Ürün',type:'label'},
		{name:'orderLine.orderedQuantity.value',text:'Sip. Miktar',type:'label'},
		{name:'deliveredRemaining',text:'Kalan',type:'label' },
		{name:'producedRemaining',text:'Üretilecek',type:'label' },
		{name:'salesOrderId.value',text:'Müşteri Sip. No',filterField:'salesOrderId',filter:true,type:'label' }
	],
	caption:'Bekleyen Siparisler',
	//addNewButton:true,
	viewButton:false,
	//editButton:true,
	//deleteButton:true,
	selection:true,
	//customButtons:[
	//	{href:'javascript:popupCenter("/order/outbox/view/{_id}?db=' + db + '&sid=' + sid + '","Ön izleme","900","600");', text:'Goruntule',icon:'fas fa-search-plus'},
	//	{href:'/order/outbox/pdf/{_id}?db=' + db + '&sid=' + sid, text:'Pdf',icon:'fas fa-file-pdf'}
	//],
	//deleteUrl:'/dbapi/order/order/{_id}?db='+db+'&sid=' + sid
}) 
%>

<script type="text/javascript">
	var q=getAllUrlParams();
	$(document).ready(function(){
		$('#btnProductionOrder').click(function(){
            var data={list:[]};
            var bFarkliUrunVar=false;
            var toplamUretilecek=0;
            var itemId='';
            var orderLineId='';

            $(".checkSingle").each(function() {
                if(this.checked){
                	var doc=JSON.parse(decodeURIComponent(this.value));
                	data.list.forEach(function(e){
						if(e.itemId!=doc.orderLine.item._id){
							bFarkliUrunVar=true;
							return;
						}
					})
					if(bFarkliUrunVar) return;
					toplamUretilecek+=doc.producedRemaining;
                    data.list.push({itemId:doc.orderLine.item._id, _id:doc._id,producedRemaining:doc.producedRemaining});
                    itemId=doc.orderLine.item._id;
                    orderLineId+=doc.orderLine._id + ',';
                }
            });
            if(data.list.length==0) return alert('secili kayit yok!');
            if(bFarkliUrunVar) return alert('Uretim emrine ayni urunden olan siparisleri ekleyebilirsiniz.');
            

            if(!confirm(data.list.length + ' siparis uretilecektir. Onayliyor musunuz?')) return;

            var url=window.location.origin + '/mrp/production-orders/addnew?db=' + q.db + '&sid=' + q.sid + '&itemId=' + itemId + '&orderLineId=' + orderLineId;
   			window.location.href=url;

            
        });

        $('#btnSendToCustomer').click(function(){
        	alert('qwerty siparisten sevk')
        });
	});
</script>