<% if(locals.options.form){%>
<form method="POST" action="<%- locals.action %>" name="<%- locals.name || 'form-general' %>" id="<%- locals.id || locals.name || 'form-general' %>" >
	<%}%>
<%- locals.options.row?'<div class="row">':'' %>
<%- (locals.controls || '') %>

<%- locals.options.row?'</div>':'' %>
<% if(locals.options.form){%>
</form>
<%}%>
<script type="text/javascript">
	$(document).ready(function(){
		$('#<%- locals.id || locals.name || 'form-general' %>').disableAutoFill({
		})
	})
</script>