<div class="col-12">
<ul class="nav nav-tabs" role="tablist">
	<% locals.tabs.forEach((tab,tabIndex)=>{ %>
	<li class="nav-item">
		<a class="nav-link <%- tab.active?'active':'' %>" href="#formTab<%-tabIndex%>" role="tab" data-toggle="tab" id="IDformTab<%-tabIndex%>" aria-controls="formTab<%-tabIndex%>" aria-selected="<%-tab.active?'true':'false'%>">
			<%- tab.icon?'<i class="' + tab.icon + '"></i>':'' %> <%- tab.title %>
		</a>
	</li>
	<% }) %>
</ul>
<div class="tab-content" style="min-height: 70vh;overflow: auto;">
	<% locals.tabs.forEach((tab,tabIndex)=>{ %>
	<div class="tab-pane <%- tab.active?'show active':''%>" id="formTab<%-tabIndex%>" role="tabpanel" aria-labelledby="IDformTab<%-tabIndex%>">
		<div class="row">
		<%- tab.controls %>
		</div>
	</div>
	<% }) %>
</div>
</div>