<%
    var headerButtons='';
    headerButtons +='<button type="button" class="btn btn-primary" title="Kaydet" onclick="formKaydet()"><i class="fas fa-save"></i></button>';
    
    headerButtons +='<a href="javascript:goBack();" class="btn btn-dark ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>';
%>


<form action="" method="POST" role="form" name="form1" id="form1">
    <% if(typeof message!='undefined'){ if(message!=''){ %>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-danger" role="alert">
                <%=message %>
            </div>
        </div>
    </div>
    <% } } %>

    <div class="card">
        <div class="card-header p-1">
            <div class="float-left bold text-primary">Ambalaj/Kutu/Koli Bilgileri</div>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="">Adı</label>
                        <input type="text" class="form-control" name="name" placeholder="adı veya kodu" autocomplete="off" value="<%=form.name%>" required="true" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="" class="">Açıklama</label>
                        <input type="text" class="form-control" name="description" placeholder="açıklama" autocomplete="off" value="<%=form.description%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">En</label>
                        <input type="number" class="form-control" name="width" autocomplete="off" value="<%=form.width%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Boy</label>
                        <input type="number" class="form-control" name="length" autocomplete="off" value="<%=form.length%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Yükseklik</label>
                        <input type="number" class="form-control" name="height" autocomplete="off" value="<%=form.height%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Gramajı/ağırlığı gr</label>
                        <input type="number" class="form-control" name="weight" autocomplete="off" value="<%=form.weight%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Max. Ağırlık(kg) Kapasite</label>
                        <input type="number" class="form-control" name="maxWeight" autocomplete="off" value="<%=form.maxWeight%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="">Pasif?</label>
                        <input type="checkbox" class="" name="passive" value="true" <%=(form.passive?'checked':'')%> <% if(mode=='view'){%>disabled<%}%> />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header p-1">
            <div class="float-left bold text-primary">Kullanılan Malzemeler</div>
        </div>
        <div class="card-body p-1">
            <table id="grid1" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
                <thead>
                    <tr class="text-nowrap">
                        <th width="40" class="">No</th>
                        <th width="200" class="">Stok Karti</th>
                        <th class="text-right" style="min-width:120px;">Miktar</th>
                        <th>Brm</th>
                        <th>Renk</th>
                        <th>Desen</th>
                        <th>Beden</th>
                        <th width="80" class="text-center">#</th>
                    </tr>
                </thead>
                <tbody id="lineGrid">

                    <% if(mode!='view'){ %>
                    <tr>
                        <td>#</td>
                        <td>
                            <input type="text" class="form-control" id="content-item-name" autocomplete="off" placeholder="" value="" title="Stok karti sec">
                            <input type="hidden" class="form-control" id="content-item-id" autocomplete="off" value=""></td>
                        <td>
                            <input type="number" class="form-control" id="content-quantity" placeholder="" autocomplete="off" value="0" title="Miktar">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="content-unitCodeText" autocomplete="off" placeholder="" value="" title="Birim" readonly="true">
                            <input type="hidden" class="form-control" id="content-unitCode" autocomplete="off" value="">
                        </td>
                        <td>
                            <select name="content-color" id="content-color" class="form-control" title="Renk"></select>
                        </td>
                        <td><select name="content-pattern"  id="content-pattern" class="form-control" title="Desen"></select></td>
                        <td><select name="content-size"  id="content-size" class="form-control" title="Beden/Size"></select></td>
                        <td class="text-center">
                            <a href="javascript:addNewLine();" class="btn btn-primary far fa-plus-square"  title="Ekle"></a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    
</form>


<script type="text/javascript">
    var headerButtons=document.getElementById('headerButtons');
    if(headerButtons){
      headerButtons.innerHTML='<%- headerButtons %>';
    }
    var db='<%=db%>';
    var sid='<%=sid%>';
    var _id='<%=(form._id || '')%>';
    var doc={
        name:'',
        description:'',
        width:0,
        length:0,
        height:0,
        maxWeight:0,
        content:[],
        passive:false
    }


    var unitCodeList=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(staticValues.unitCodeList)) %>'));

    <% 
        if(typeof form._id!='undefined'){
        if((form._id || '')!=''){ 
    %>
    doc=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(form))%>'));
    
    <%  }
    } %>


    function addNewLine(obj){
        var lineGrid=document.getElementById('lineGrid');
        var index=lineGrid.rows.length-1;
        var newRow=lineGrid.insertRow(lineGrid.rows.length-1);
        doc.content.forEach(function(e,sira){
            e.sequence=sira+1;
        })
        if(obj==undefined){
            if($('#content-item-id').val()=='') return;
            
            if(($('#content-color').prop('disabled') || false)==false){
                if(!$('#content-color').val()){
                    alert('Lutfen renk seciniz.');
                    $('#content-color').focus();
                    return;
                }
            }

            if(($('#content-pattern').prop('disabled') || false)==false){
                if(!$('#content-pattern').val()){
                    alert('Lutfen desen seciniz.');
                    $('#content-pattern').focus();
                    return;
                }
            }

            if(($('#content-size').prop('disabled') || false)==false){
                if(!$('#content-size').val()){
                    alert('Lutfen beden/size seciniz.');
                    $('#content-size').focus();
                    return;
                }
            }


            obj={
                sequence:doc.content.length+1,
                item:{_id: $('#content-item-id').val() , name:{value:$('#content-item-name').val()}} ,
                quantity:Number($('#content-quantity').val()),
                quantity2:Number($('#content-quantity').val()),  //qwerty
                quantity3:Number($('#content-quantity').val()),  //qwerty
                unitCode:$('#content-unitCode').val(),
                color:{_id: $('#content-color').val() , name:$('#content-color option:selected').text()} ,
                pattern:{_id: $('#content-pattern').val() , name:$('#content-pattern option:selected').text()} ,
                size:{_id: $('#content-size').val() , name:$('#content-size option:selected').text()}
            }
            
            doc.content.push(obj);
            
            $('#content-item-id').val('');
            $('#content-item-name').val('');
            $('#content-quantity').val(0);
            $('#content-color').val('');
            $('#content-pattern').val('');
            $('#content-size').val('');
        }

        var cell0=newRow.insertCell(0);
        cell0.classList.add('text-right');
        cell0.innerHTML=obj.sequence;

        var cell1=newRow.insertCell(1);
        cell1.innerHTML=obj.item==undefined?'':obj.item.name.value;

        var cell2=newRow.insertCell(2);
        cell2.classList.add('text-right');
        cell2.innerHTML=Number(obj.quantity).formatQuantity();

        var cell3=newRow.insertCell(3);
        cell3.innerHTML=getUnitCodeText(obj.unitCode);


        var cell4=newRow.insertCell(4);
        cell4.innerHTML=obj.color?obj.color.name:'';

        var cell5=newRow.insertCell(5);
        cell5.innerHTML=obj.pattern?obj.pattern.name:'';

        var cell6=newRow.insertCell(6);
        cell6.innerHTML=obj.size?obj.size.name:'';

        var cell7=newRow.insertCell(7);
        <% if(mode=='view'){%>
        cell7.innerHTML='';
        <%}else{%>
        cell7.innerHTML='<a href="javascript:removeLine(' + index + ');" class="btn btn-danger fas fa-trash-alt"  title="Satir sil"></a>';
        <% } %>
        cell7.classList.add('text-center');
    }

    function removeLine(index){
        if(confirm('Satiri silmek istedinizden emin misiniz?')==false) return;
        doc.content.splice(index,1);
        refreshContent();
    }

    function refreshContent(){
        var lineGrid=document.getElementById('lineGrid');
        while(lineGrid.rows.length>1){
            lineGrid.deleteRow(0);
        }
        doc.content.forEach(function(e){
            addNewLine(e);
        })
    }

    function contentItemNameAutoComplete(){
        var q=getAllUrlParams();

        $('#content-item-name').autocomplete({
            source:function(request,response){
                $("#content-item-id").val(''); 
                $("#content-item-unitCode").val(''); 
                
                $.ajax({
                    url:`/dbapi/items?itemType=all&name=' +  encodeURIComponent(request.term) + '&db=' + q.db + '&sid=' + q.sid,
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.docs.length;i++){
                                    var item=result.data.docs[i];
                                    dizi.push({
                                        name:item.name.value, 
                                        label:(getItemTypeName(item.itemType) + ' - ' + item.name.value),
                                        value:item._id,
                                        itemType:item.itemType,
                                        unitPacks:item.unitPacks,
                                        tracking:(item.tracking!=undefined?item.tracking:{lotNo:false,serialNo:false,color:false,pattern:false,size:false})
                                    });
                                }
                                
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#content-item-name").val(ui.item.name); 
                    $("#content-item-id").val(ui.item.value);
                    $("#content-unitCode").val('');
                    if(ui.item.unitPacks){
                        if(ui.item.unitPacks.length){
                            $("#content-unitCode").val(ui.item.unitPacks[0].unitCode);
                            $("#content-unitCodeText").val(getUnitCodeText(ui.item.unitPacks[0].unitCode));
                        }
                    }


                    $('#content-color').val('');
                    if(!ui.item.tracking.color){
                        $('#content-color').prop('disabled',true);
                    }else{
                        $('#content-color').prop('disabled',false);
                    }

                    $('#content-pattern').val('');
                    if(!ui.item.tracking.pattern){
                        $('#content-pattern').prop('disabled',true);
                    }else{
                        $('#content-pattern').prop('disabled',false);
                    }

                    $('#content-size').val('');
                    if(!ui.item.tracking.size){
                        $('#content-size').prop('disabled',true);
                    }else{
                        $('#content-size').prop('disabled',false);
                    }
                    return false;
                }
        });
    }

    contentItemNameAutoComplete();

    refreshContent();


    function formKaydet(){
        var q=getAllUrlParams();
        doc.name=$('input[name="name"]').val();
        doc.description=$('input[name="description"]').val();
        doc.width=Number($('input[name="width"]').val());
        doc.length=Number($('input[name="length"]').val());
        doc.height=Number($('input[name="height"]').val());
        doc.weight=Number($('input[name="weight"]').val());
        doc.maxWeight=Number($('input[name="maxWeight"]').val());
        doc.passive=$('checkbox[name="passive"]').prop('checked')?true:false;
        var url='';
        var type='PUT';
        if((doc._id || '')=='') type='POST';
        if((doc._id || '')=='')
            url='/dbapi/packing-types?sid=${sid}`;
        else
            url='/dbapi/packing-types/' + doc._id + '?sid=${sid}`;
        $.ajax({
            url:url,
            data:doc,
            type:type,
            success:function(result){
                if(result.success){
                    goBack();
                }else{
                    alert(result.error.message)
                }
            }
        });
    }


</script>
