<%layout('../../_common/layouts/general')%>
<%
headerButtons='';
headerButtons +='<a href="javascript:save();" class="btn btn-primary btn-form-header" title="Kaydet"><i class="fas fa-save"></i></a>';
headerButtons +='<a href="javascript:cancelForm();" class="btn btn-dark  btn-form-header ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>';
%>
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism.css') %>" />
<link type="text/css" rel="stylesheet" href="<%- assetVersion('/vendor/css/prism-live.css') %>" />


<form action="" method="POST" id="form1" role="form">
	<div class="row m-0 p-0">
		<div class="col-md-6 m-0 p-1">
			<div class="card">
				<div class="card-header p-1 text-primary">Varsayilan Parametreler</div>
				<div class="card-body p-0">
					<pre class="language-js fill" style="min-height: 33rem;max-height: 33rem;margin:0;"><code><%- form.default%></code></pre>
				</div>
			</div>
		</div>
		<div class="col-md-6 m-0 p-1">
			<div id="user" class="card">
				<div class="card-header p-1 text-primary">Özelleştirilen Parametreler</div>
				<div class="card-body p-0">
					<pre class="prism-live language-js fill" style="min-height: 33rem;max-height: 33rem;"><code><%- form.user%></code></pre>
					<input type="hidden" name="user" value="<%- form.user%>">
				</div>
			</div>
			<div class="float-left"><a href="javascript:hataDenetimi()" class="btn btn-primary btn-sm" title="JSON format icin hata denetimi yap"><i class="fas fa-check"></i> Hata denetimi yap</a></div>
		</div>
	</div>
</form>

<script type="text/javascript" src="<%- assetVersion('/vendor/js/bliss.shy.min.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-markup.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-css.js') %>"></script>
<script type="text/javascript" src="<%- assetVersion('/vendor/js/prism-live-javascript.js') %>"></script>

<script type="text/javascript">
	var headerButtons=document.getElementById('headerButtons');
	if(headerButtons){
		headerButtons.innerHTML='<%- headerButtons %>';
	}

	function cancelForm(){
		// if(!confirm('Degisiklikleriniz eski haline donecektir. Emin misiniz?'))
		// 	return
		window.location.reload()
	}

	function save(){
		if(!jsonControl())
			return
		var s=document.getElementById('user').getElementsByTagName('textarea')[0]
		$('input[name="user"]').val(s.value)
		// if(!confirm('Ayarlari saklamak istediginizden emin misiniz?'))
		// 	return
		document.getElementById("form1").submit()
	}

	function hataDenetimi(){
		if(jsonControl()){

			alert(`Hata denetimi basarili :-)`)
		}
	}

	function jsonControl(){
		var s=document.getElementById('user').getElementsByTagName('textarea')[0].value
		try{
			var obj=JSON.parse(s)
			
			return true
		}catch(e){
			alert('Hata:' + (e))
			return false
		}

	}
</script>