<%
// if(locals.staticValues!=undefined && locals.lookup==undefined){
// 	locals.lookup=staticValues[locals.staticValues]
// }
console.log(`locals value ${locals.id}:`,locals.value)
%>
<div class="form-group <%- locals.col %> <%- locals.visible==false?'hidden':'' %>">
	<label class="m-0 p-0 <%- locals.required?'form-required':''%>"><%- locals.title || locals.label || '' %><%- helpButton(locals) %></label>
	<select type="text" class="form-control <%- locals.class %>" id="<%- locals.id %>" name="<%- locals.name %>" placeholder="<%- locals.placeholder || locals.title || locals.label %>" autocomplete="chrome-off" <%- locals.required?'required="required"':'' %> <%- locals.readonly==true?'disabled':'' %> onchange="<%- locals.onchange %>" value="<%- locals.value %>">
		<option value="" <%- locals.value==''?'selected':'' %>>-- Seç --</option>
		<% Object.keys(locals.lookup).forEach((key)=>{ %>
		<option value="<%-key%>" <%- key==locals.value?'selected':''%> ><%- locals.lookup[key]%></option>
		<%})%>
	</select>
</div>
<% if(locals.lookupTextField){%>

<input type="hidden" id="<%-generateFormId(locals.lookupTextField)%>" name="<%-generateFormName(locals.lookupTextField)%>" value="">
<script type="text/javascript">

$(document).ready(()=>{
	$('#<%-locals.id%>').on('change',()=>{
		if($('#<%-locals.id%>').val()!=''){
			$('#<%-generateFormId(locals.lookupTextField)%>').val($('#<%-locals.id%> option:selected').text())
		}else{
			$('#<%-generateFormId(locals.lookupTextField)%>').val('')
		}
		
	})
})
</script>


<%}%>
