<div class="modal" id="modalRow<%-locals.id%>" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true" aria-labelledby="modalRow<%-locals.id%>Label" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header p-2 ">
				<label class="modal-title" id="modalRow<%-locals.id%>Label"></label>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-2" style="overflow: auto;">
				<%- locals.controls %>
			</div>
			<div class="modal-footer">
				<a class="btn btn-primary" href="javascript:gridHelper.modalRowOK('<%-locals.id%>')" title="Kaydet"><i class="fas fa-check"></i> Tamam</a>
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
			</div>
		</div>
	</div>
</div>