<%
var lookupTextField_id=generateFormId(locals.field) + '-autocomplete-text'
var lookupTextField_name=generateFormName(locals.field)+ '-autocomplete-text'
var lookupTextValue=locals.value
if(locals.lookupTextField!=undefined){

	lookupTextField_id=generateFormId(locals.lookupTextField)
	lookupTextField_name=generateFormName(locals.lookupTextField)
	if(locals.data!=undefined){
		lookupTextValue=getPropertyByKeyPath(locals.data,locals.lookupTextField)
		if((lookupTextValue || '')=='')
			lookupTextValue=''
	}
}

%>
<div class="form-group <%- locals.col %> <%- locals.visible==false?'hidden':'' %>">
	<label class="m-0 p-0 <%- locals.required?'form-required':''%>"><%- locals.title || locals.label || '' %><%- helpButton(locals) %></label>
	<div class="input-group">
		<input type="search" class="form-control <%- locals.class %>" id="<%-lookupTextField_id %>" name="<%-lookupTextField_name%>" placeholder="<%- locals.placeholder || locals.title || locals.label %>" value="<%-lookupTextValue %>" <%- locals.required?'required="required"':'' %> <%- locals.readonly?'readonly':'' %> >
		
		<div class="input-group-prepend">
			<div class="input-group-text"><i class="fas fa-ellipsis-v"></i></div>
		</div>
	</div>
	<input type="hidden" id="<%- locals.id %>" name="<%- locals.name %>" value="<%- locals.value %>">
	<input type="hidden" id="<%- locals.id %>-obj"  value="">
	<% if(locals.lookupTextField!=undefined){ %>
	<!-- <input type="hidden" id="<%-generateFormId(locals.lookupTextField)%>" name="<%-generateFormName(locals.lookupTextField)%>" value="<%-lookupTextValue%>"> -->
	<%}%>
</div>




<% 
var searchUrl=''
if((locals.dataSource.search || '')!=''){
	searchUrl=replaceUrlCurlyBracket(locals.dataSource.search, {_id:locals.value})
	if(searchUrl.indexOf('sid=')<0){
		if(searchUrl.indexOf('?')<0){
			searchUrl+='?sid={sid}'
		}else{
			searchUrl+='&sid={sid}'
		}
	}
}else if((locals.dataSource.url || '')!=''){
	searchUrl=replaceUrlCurlyBracket(locals.dataSource.url, {_id:locals.value})
	if(searchUrl.indexOf('?')<0){
		searchUrl+='?search={search}'
	}else{
		searchUrl+='&search={search}'
	}

	if(searchUrl.indexOf('sid=')<0){
		searchUrl+='&sid={sid}'
	}
}


var idUrl=''
if(locals.dataSource.id || locals.dataSource.idUrl){
	idUrl=replaceUrlCurlyBracket(locals.dataSource.id  || locals.dataSource.idUrl, {_id:locals.value})
	if(idUrl.indexOf('sid=')<0){
		if(idUrl.indexOf('?')<0){
			idUrl+='?sid={sid}'
		}else{
			idUrl+='&sid={sid}'
		}
	}

}else if(locals.dataSource.url){
	idUrl=replaceUrlCurlyBracket(locals.dataSource.url, {_id:locals.value})
	if(idUrl.indexOf('?')<0){
		idUrl+=`/${locals.value}?sid={sid}`
	}else{
		idUrl+=`&id=${locals.value}`
	}

	if(searchUrl.indexOf('sid=')<0){
		searchUrl+='&sid={sid}'
	}
}


if(searchUrl=='' || idUrl==''){
	return
}
var labelStr=(locals.dataSource.label || '{name}')

%>


<script type="text/javascript">
	$(document).ready(()=>{

		$('#<%-lookupTextField_id%>').autocomplete({
			source:function(request,response){
				console.log(`request.term:`,request.term)
				var typedText=encodeURIComponent2(request.term)
				var url=('<%-searchUrl%>').replace('{search}',typedText).replace('{search}',typedText).replace('{sid}',q.sid).replace('{mid}',q.mid)

				// getAjax(url,'<%-labelStr%>','<%- locals.value || ''%>',(err,result)=>{
				getAjax(url,'<%-labelStr%>','',(err,result)=>{
					if(!err){
						console.log(`result:`,result)
						response(result)
					}else{
						console.error(err)
						response([])
					}
				})
			},
			select: function (event, ui) {

				$("#<%-lookupTextField_id%>").val((ui.item.label || ''))
				$("#<%-locals.id %>").val(ui.item.obj._id.toString())
				$("#<%-locals.id %>-obj").val(encodeURIComponent2(JSON.stringify(ui.item.obj)))
				<%- locals.onchange || '' %>
				return false
			}
		})


		$('#<%-lookupTextField_id%>').on('change',()=>{
			if($('#<%-lookupTextField_id%>').val()==''){
				$('#<%-locals.id %>').val('')
				$('#<%-locals.id %>-obj').val('')
			}
		})

		<% if((locals.value || '')!=''){ %>

			var url=('<%-idUrl %>').replace('{sid}',q.sid).replace('{mid}',q.mid)
			getAjax(url,'<%-labelStr%>','', (err,result)=>{
				if(!err){
					if(result.length>0){
						$('#<%-lookupTextField_id%>').val((result[0].label || ''))
						$('#<%-locals.id %>').val(result[0].obj._id.toString())
						$("#<%-locals.id %>-obj").val(encodeURIComponent2(JSON.stringify(result[0].obj)))
					}else{
						$('#<%-lookupTextField_id%>').val('')
						$('#<%-locals.id %>').val('')
						$('#<%-locals.id %>-obj').val('')
					}

				}else{
					$('#<%-lookupTextField_id%>').val(err.message)
				}
			})
			
		<%}%>


	})
</script>

