<%

var controlId=generateFormId(locals.field)
var controlName=generateFormName(locals.field)
var controlNameTextField=''
var valueText=locals.valueText || ''
if(locals.lookupTextField){
	controlNameTextField=generateFormName(locals.lookupTextField)
}
%>
<div class="form-group <%- locals.col %> <%- locals.visible==false?'hidden':'' %>">
	<label class="m-0 p-0 <%- locals.required?'form-required':''%>"><%- locals.title || '' %><%- helpButton(locals) %> <%- controlNameTextField?`<span class="ml-3 bold small text-success" id="${controlId}-original-text"></span>`:`` %></label>
	<div class="input-group">
		<input type="search" class="form-control <%- locals.class %>" id="<%-controlId %>-autocomplete-text"  placeholder="<%- locals.placeholder || locals.title || ''%>" value="<%-valueText %>" autocomplete="off" autofill="off" spellcheck="false" <%- locals.required?'required="required"':'' %> <%- locals.readonly?'readonly':'' %> >
		<div class="input-group-prepend">
			<div class="input-group-text"><i class="fas fa-ellipsis-v"></i></div>
		</div>
	</div>
	<input type="hidden" name="<%- controlName %>" value="<%- locals.value %>">
	<input type="hidden" id="<%- controlId %>-obj"  value="">
	<% if(controlNameTextField){ %>
	<input type="hidden" name="<%-controlNameTextField%>" value="<%-valueText%>">
	
	<%}%>
</div>

<script type="text/javascript">
	var locals_<%- controlId.replaceAll('-','_')%> =<%- JSON.stringify(locals) %>

	$(document).ready(()=>{
		remoteLookupAutocomplete(locals_<%- controlId.replaceAll('-','_')%>)
	})
</script>


