<%layout('../../_common/layout')%>
<form action="" method="POST" role="form" name="form1">
    <div class="row m-0 mt-2">
        <div class="col-12 p-0">
<%- partial('../../_common/date-filter',{includeForm:false,includeFilterButton:false}) %>
            <div class="float-left form-inline ml-md-4">
                <label class="text-primary">Fiş Türü:</label>
                <select class="form-control input-inline input-sm" name="docTypeCode" id="docTypeCode" onchange="docTypeCodeChange()">
                    <% inventoryFicheTypeCodeList.forEach((e)=>{ %> 
                    <option value="<%=e.value%>"<% if(typeof filter.docTypeCode!='undefined') if(filter.docTypeCode==e.value){%>selected<% } %>><%=e.text%></option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-12 p-0">
            <div class="float-left form-inline">
                <label class="text-primary">Lokasyon:</label>
                <select class="form-control" name="location">
                    <% locationList.forEach((e)=>{ %>
                        <option value="<%=e._id%>" <% if(typeof filter.location!='undefined'){ if(e._id==filter.location){%>selected<% }} %> ><%=e.locationName%></option>
                    <% }); %>
                </select>
            </div>
            <div id="divLocation2" class="float-left form-inline ml-md-2" style="display: none;">
                <label class="text-primary">Hedef Lokasyon:</label>
                <select class="form-control" name="location2">
                    <% locationList.forEach((e)=>{ %>
                        <option value="<%=e._id%>" <% if(typeof filter.location2!='undefined'){ if(e._id==filter.location2){%>selected<% }} %> ><%=e.locationName%></option>
                    <% }); %>
                </select>
            </div>
            <div class="float-md-right">
                <button type="submit" name="btnFilter" class="btn btn-primary" value="true"><i class="fa fa-filter"></i> Filtrele</button>
            </div>
        </div>
    </div>
</form>
<%- partial('../../_common/grid2',{
    fields:[
        {name:'docId',text:'Fiş No',type:'label' , filter:true, orderable:true, align:'left'},
        {name:'issueDate',text:'Tarih',type:'label' ,  orderable:true },
        {name:'description',text:'Açıklama',type:'label' , filter:true, filterField:'description', orderable:true},
        {name:'subLocation',text:'Lokasyon',type:'label', filter:true, placeholder:'alt lokasyon', orderable:true},
        {name:'subLocation2',text:'Lokasyon2',type:'label', filter:true, placeholder:'alt lokasyon2', orderable:true}
    ],
    caption:'Stok Fisleri',
    addNewButton:true,
    editButton:true,
    deleteButton:true,
    viewButton:true,
    deleteUrl:'/dbapi/inventory-fiches/{_id}?db=' + db + '&sid=' + sid
    }) 
%>

<script type="text/javascript">
    function docTypeCodeChange(){
        if($('select[name="docTypeCode"]').val()=='TRANSFER'){
            $('#divLocation2').show();
        }else{
            $('#divLocation2').hide();
        }
    }

    docTypeCodeChange();
</script>