<%
    var headerButtons='';
    headerButtons +='<button type="button" class="btn btn-primary" title="Kaydet" onclick="formKaydet()"><i class="fas fa-save"></i></button>';
    
    headerButtons +='<a href="javascript:goBack();" class="btn btn-dark ml-2" title="Vazgeç"><i class="fas fa-reply"></i></a>';
%>


<form action="" method="POST" role="form" name="form1" id="form1">
    <% if(typeof message!='undefined'){ if(message!=''){ %>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="alert alert-danger" role="alert">
                <%=message %>
            </div>
        </div>
    </div>
    <% } } %>

    <div class="card">
        <div class="card-header p-1">
            <div class="float-left bold text-primary">Fiş Bilgileri</div>
        </div>
        <div class="card-body p-1">
            <div class="row">
                <div class="col-12">
                    <div class="form-group float-left">
                        <label for="" class="m-0">Fiş No</label>
                        <input type="text" class="form-control" name="docId" placeholder="Boş ise otomatik verilir" autocomplete="off" value="<%=form.docId%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                    </div>
                    <div class="form-group float-left ml-md-2">
                        <label for="" class="m-0">Tarih</label>
                        <div class="input-group date">
                            <input type="text" name="issueDate" id="issueDate" class="form-control" value="<% if(typeof form.issueDate=='undefined'){%><%=moment().format('YYYY-MM-DD')%><%}else{%><%=form.issueDate%><%}%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                            <div class="input-group-addon">
                                <i class="fa fa-calendar fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-left ml-md-2">
                        <label for="" class="m-0">Saat</label>
                        <div class="input-group" id="issueTime1">
                            <input type="text" name="issueTime" id="issueTime" class="form-control" value="<% if(typeof form.issueTime=='undefined'){%><%=moment().format('mm:hh:ss')%><%}else{%><%=form.issueTime.substr(0,8)%><%}%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                            <div class="input-group-addon">
                                <i class="fa fa-clock fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-left ml-md-2">
                        <label for="" class="m-0">Fiş Tipi</label>
                        <div class="form-inline">
                            <select name="docTypeCode" class="form-control float-left" <% if(mode!='addnew'){%>disabled<%}%> onchange="docTypeCodeChange()">
                                <% staticValues.inventoryFicheTypeCodeList.forEach(function(e){ %>
                                    <option value="<%=e.value%>" <% if(e.value==form.docTypeCode){%>selected<%} %> ><%=e.text%></option>
                                <% }); %>
                            </select>
                            <div id="btnUretimSec" class="float-left ml-2" style="display: none;">
                                <a class="btn btn-primary" href="javascript:modalProductionOrders()"><i class="fas fa-industry"></i> Üretim Seç</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="" class="m-0">Fiş açıklaması</label>
                    <input type="text" class="form-control" name="description" placeholder="Fiş açıklaması" autocomplete="off" value="<%=form.description%>" <% if(mode=='view'){%>readonly="true"<%}%> >
                </div>
                <div class="col-md-8">
                    
                    <div class="float-left">
                        <%- partial('../../_common/location-selection',{name:'location',subLocationName:'subLocation',inputTitle:'Lokasyon',form:form}) %>
                    </div>
                    <div id="divLocation2" class="float-left ml-2" style="display: none;">
                        <%- partial('../../_common/location-selection',{name:'location2',subLocationName:'subLocation2',inputTitle:'Hedef Lokasyon',form:form}) %>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row m-0 p-0 mt-2">
        <div id="divUretimDetay" class="col-md-4 m-0 p-0 pr-md-2" style="display: none;">
            <div class="card">
                <div class="card-header p-1">
                    <div class="float-left bold text-primary">Üretim emri detayları</div>
                </div>
                <div class="card-body p-1">
                    <div id="productionOrderInfo"></div>

                    <label id="divUretimDetay-UretimeCikis" class="text-primary bold m-0 mt-2" title="Üretime çıkacak hammadde ve yardımcı malzemeler">Gerekli malzemeler</label>
                    <label id="divUretimDetay-UretimdenGiris" class="text-primary bold m-0 mt-2" title="Ürün ve Yan ürünler">Ürün ve Yan ürünler</label>
                    <table id="gridProOrderMaterials" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
                        <thead>
                            <tr class="text-nowrap">
                                <th width="40" class="">No</th>
                                <th class="">Stok Karti</th>
                                <th class="text-right">Miktar</th>
                                <th class="text-right">Kalan</th>
                            </tr>
                        </thead>
                        <tbody id="lineGridProOrder">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col m-0 p-0">
            <div class="card">
                <div class="card-header p-1">
                    <div class="float-left bold text-primary">Satırlar</div>
                </div>
                <div class="card-body p-1">
                    <table id="grid1" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
                        <thead>
                            <tr class="text-nowrap">
                                <th width="40" class="">No</th>
                                <th width="200" class="">Stok Karti</th>
                                <th class="text-right" style="min-width:120px;">Miktar</th>
                                <th>Brm</th>
                                <th>Palet</th>
                                <th>Lot No</th>
                                <th>Seri No</th>
                                <th>Renk</th>
                                <th>Desen</th>
                                <th>Beden</th>
                                <th width="80" class="text-center">#</th>
                            </tr>
                        </thead>
                        <tbody id="lineGrid">

                            <% if(mode!='view'){ %>
                            <tr>
                                <td>#</td>
                                <td>
                                    <input type="text" class="form-control" id="docLine-item-name" autocomplete="off" placeholder="" value="" title="Stok karti sec">
                                    <input type="hidden" class="form-control" id="docLine-item-id" autocomplete="off" value=""></td>
                                <td>
                                    <input type="number" class="form-control" id="docLine-quantity" placeholder="" autocomplete="off" value="0" title="Miktar">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="docLine-unitCodeText" autocomplete="off" placeholder="" value="" title="Birim" readonly="true">
                                    <input type="hidden" class="form-control" id="docLine-unitCode" autocomplete="off" value="">
                                </td>

                                <td>
                                    <select name="docLine-pallet" class="form-control" title="Palet"></select>
                                </td>
                                <td><input type="text" class="form-control" id="docLine-lotNo" autocomplete="off" placeholder="" value="" title="lot numarasi"></td>
                                <td><input type="text" class="form-control" id="docLine-serialNo" autocomplete="off" placeholder="" value="" title="seri numarasi"></td>
                                <td>
                                    <select name="docLine-color" id="docLine-color" class="form-control" title="Renk"></select>
                                </td>
                                <td><select name="docLine-pattern"  id="docLine-pattern" class="form-control" title="Desen"></select></td>
                                <td><select name="docLine-size"  id="docLine-size" class="form-control" title="Beden/Size"></select></td>
                                <td class="text-center">
                                    <a href="javascript:addNewLine();" class="btn btn-primary far fa-plus-square"  title="Ekle"></a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div id="divSayimKesinlestir" class="card mt-2" style="display: none;">
        <div class="card-header p-1">
            <div class="float-left bold text-primary">Sayım Kesinleştirme</div>
        </div>
        <div class="card-body p-1">
            <h3>sayim kesinlestirme islemleri eklenecek qwerty</h3>
        </div>
    </div>
</form>

<div class="modal" id="productionOrdersModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="productionOrdersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 ">
                <label class="modal-title" id="productionOrdersModalLabel">Üretim emri seç</label>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2" style="overflow: auto;">
                <div class="row m-0 mb-2">
                    <div class="col-12 p-0">
                        <%- partial('../../_common/components/date-filter',{isModal:true, date1Name:'date1Modal', date2Name:'date2Modal', cboEasyDateName:'cboEasyDateModal'}) %>
                        <div class="float-md-right">
                            <a href="javascript:loadProductionOrders();" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrele</a>
                        </div>
                    </div>
                </div>
                <table id="gridProductionOrders" class="table form-table table-bordered table-striped m-0"  cellspacing="0">
                    <thead>
                        <tr class="text-nowrap">
                            <th class="">Uretim No</th>
                            <th class="">Tarih</th>
                            <th class="">Müşteri</th>
                            <th class="">Mamül</th>
                            <th width="100" class="text-right">Miktar</th>
                            <th width="100" class="text-center">#</th>
                            
                        </tr>
                    </thead>
                    <tbody id="gridProductionOrdersLineGrid">
                        
                    </tbody>
                </table>
                <div id="gridProductionOrdersPages">
                    <nav aria-label="">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">|&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                        <li class="page-item"><a class="page-link" href="#">&gt;|</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var headerButtons=document.getElementById('headerButtons');
    if(headerButtons){
      headerButtons.innerHTML='<%- headerButtons %>';
    }
    var db='<%=db%>';
    var sid='<%=sid%>';
    var _id='<%=(form._id || '')%>';
    var q=getAllUrlParams();
    var docInventoryFiche={
        docTypeCode:'',
        docId:'',
        issueDate: '',
        issueTime: '',
        location: '',
        subLocation: '',
        palletId: '',
        location2: '',
        subLocation2: '',
        palletId2:'',
        description:'',
        docLine:[]
    }


    docInventoryFiche.issueDate.value=(new Date()).yyyymmdd();
    docInventoryFiche.issueTime.value=(new Date()).hhmm();

    var unitCodeList=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(staticValues.unitCodeList)) %>'));

    <% 
        if(typeof form._id!='undefined'){
        if((form._id || '')!=''){ 
    %>
    docInventoryFiche=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(form))%>'));
    
    <%  }
    } %>

    function modalProductionOrders(){
        loadProductionOrders(1,function(err){
            if(!err){
                $('#productionOrdersModal').modal('show');
            }else{
                alert((err.message || 'HATA'));
            }
        })
    }

    

    function loadProductionOrders(page=1,cb=undefined){
        $("#gridProductionOrdersLineGrid tr").remove();
        var gridProductionOrdersPages=document.getElementById('gridProductionOrdersPages');
        var date1=$('#date1Modal').val();
        var date2=$('#date2Modal').val();
        
        var url='/dbapi/production-orders?status=Approved&date1=' + date1 + '&date2=' + date2 + '&page=' + page + '&pageSize=10&db=' + q.db + '&sid=' + q.sid;
        console.log('url:',url);
        $.ajax({
            url:url,
            type:'GET',
            dataType: 'json',
            success: function(result) {
                console.log('result:',result);
                if(result.success){
                    
                    var lineGrid=document.getElementById('gridProductionOrdersLineGrid');
                    result.data.docs.forEach(function(proOrder,index){
                        var newRow=lineGrid.insertRow(lineGrid.rows.length);
                        newRow.insertCell(0).innerHTML=proOrder.productionId + '<br>' + proOrder.status;
                        newRow.insertCell(1).innerHTML=proOrder.issueDate;
                        var musteri='';
                        if(proOrder.productionTypeCode=='DEPO'){
                            musteri='DEPO';
                        }else{
                            proOrder.orderLineReference.forEach(function(e,index2){
                                musteri +=e.orderReference.ID.value + ' - ' + e.orderReference.buyerCustomerParty.party.partyName.name.value;
                                if(index2<proOrder.orderLineReference.length-1) musteri +='<br>';
                            });
                        }
                        
                        newRow.insertCell(2).innerHTML=musteri;
                        newRow.insertCell(3).innerHTML=proOrder.item.name.value + ' - ' + proOrder.item.description.value;
                        var cell4=newRow.insertCell(4);
                        cell4.classList.add('text-right');
                        cell4.innerHTML=Number(proOrder.plannedQuantity).formatDecimal();
                        var cell5=newRow.insertCell(5);
                        cell5.classList.add('text-center');
                        cell5.innerHTML='<a href="javascript:uretimEmriSec(\'' + proOrder._id + '\');" class="btn btn-sm btn-primary"><i class="fas fa-check"></i> Seç</a>';
                        
                    });
                    gridProductionOrdersPages.innerHTML = '';
                    gridProductionOrdersPages.appendChild(generatePagination(page,result.data.pageCount,'javascript:loadProductionOrders({page});'));
                    if(cb){
                        return cb(null);
                    }
                    

                }
            },
            error:function(err){
                gridProductionOrdersPages.innerHTML = '';
                console.log('err:',err);
                if(cb){
                    return cb(err);
                }
                
            }
        });
    }

    var proOrderDoc;


    function uretimEmriSec(_id){
        loadUretimEmri(_id);
        $('select[name="docTypeCode"]').attr('disabled','true');
        $('#productionOrdersModal').modal('hide');
    }

    function showUretimEmriDetaylar(proOrder){
        var productionOrderInfo=document.getElementById('productionOrderInfo');
        var musteri='';
        if(proOrder.productionTypeCode=='DEPO'){
            musteri='DEPO';
        }else{
            proOrder.orderLineReference.forEach(function(e,index2){
                musteri +=e.orderReference.ID.value + ' - ' + e.orderReference.buyerCustomerParty.party.partyName.name.value;
                if(index2<proOrder.orderLineReference.length-1) musteri +='<br>';
            });
        }
        productionOrderInfo.innerHTML='';
        productionOrderInfo.innerHTML+='<span class="text-primary">Mamul: <b>' + proOrder.item.name.value + ' - ' + proOrder.item.description.value + '</b></span><br>';
        productionOrderInfo.innerHTML+='Uretim No: <b>' + proOrder.productionId + '</b><br>';
        productionOrderInfo.innerHTML+='Musteri: <b>' + musteri + '</b><br>';
        productionOrderInfo.innerHTML+='Evrak Tar.: <b>' + proOrder.issueDate + '</b><br>';
        productionOrderInfo.innerHTML+='Planlama Tar.: <b>[' + proOrder.plannedPeriod.startDate + '] - [' + proOrder.plannedPeriod.endDate + ']</b>';

        if($('select[name="docTypeCode"]').val()=='URETIMECIKIS'){
            $("#lineGridProOrder tr").remove();
            var lineGridProOrder=document.getElementById('lineGridProOrder');

            proOrder.materialSummary.forEach(function(e,index){
                var kalan=0;
                var toplam=0;
                docInventoryFiche.docLine.forEach(function(e2){
                    if(e.item._id.toString()==e2.item._id.toString()){
                        toplam +=e2.quantity;
                    }
                })
                kalan=e.quantity-toplam;
                
                var newRow=lineGridProOrder.insertRow(lineGridProOrder.rows.length);
                if(kalan<0){
                    newRow.classList.add('text-danger');
                    newRow.classList.add('bold');
                     
                }
                newRow.insertCell(0).innerHTML=(index+1).n2();
                newRow.insertCell(1).innerHTML=e.item.name.value + ' - ' + e.item.description.value;
                var cell2=newRow.insertCell(2);
                cell2.classList.add('text-right');
                cell2.innerHTML=Number(e.quantity).formatDecimal();
                var cell3=newRow.insertCell(3);
                cell3.classList.add('text-right');
                if(kalan>=0){
                    cell3.innerHTML=Number(kalan).formatDecimal();
                }else{
                    cell3.innerHTML='(' + Number(kalan).formatDecimal() + ')';
                }
                
            });
        }else if($('select[name="docTypeCode"]').val()=='URETIMDENGIRIS'){
            $("#lineGridProOrder tr").remove();

            var lineGridProOrder=document.getElementById('lineGridProOrder');
            var kalan=0;
            var toplam=0;
            docInventoryFiche.docLine.forEach(function(e2){
                if(proOrder.item._id.toString()==e2.item._id.toString()){
                    toplam +=e2.quantity;
                }
            })
            kalan=proOrder.plannedQuantity-toplam;
            
            var newRow=lineGridProOrder.insertRow(lineGridProOrder.rows.length);
            if(kalan<0){
                newRow.classList.add('text-danger');
                newRow.classList.add('bold');
            }
            newRow.insertCell(0).innerHTML='01';
            newRow.insertCell(1).innerHTML=proOrder.item.name.value + ' - ' + proOrder.item.description.value;
            var cell2=newRow.insertCell(2);
            cell2.classList.add('text-right');
            cell2.innerHTML=Number(proOrder.plannedQuantity).formatDecimal();
            var cell3=newRow.insertCell(3);
            cell3.classList.add('text-right');
            if(kalan>=0){
                cell3.innerHTML=Number(kalan).formatDecimal();
            }else{
                cell3.innerHTML='(' + Number(kalan).formatDecimal() + ')';
            }

            proOrder.outputSummary.forEach(function(e,index){
                var kalan=0;
                var toplam=0;
                docInventoryFiche.docLine.forEach(function(e2){
                    if(e.item._id.toString()==e2.item._id.toString()){
                        toplam +=e2.quantity;
                    }
                })
                kalan=e.quantity-toplam;
                
                var newRow=lineGridProOrder.insertRow(lineGridProOrder.rows.length);
                if(kalan<0){
                    newRow.classList.add('text-danger');
                    newRow.classList.add('bold');
                }
                newRow.insertCell(0).innerHTML=(index+1+1).n2();
                newRow.insertCell(1).innerHTML=e.item.name.value + ' - ' + e.item.description.value;
                var cell2=newRow.insertCell(2);
                cell2.classList.add('text-right');
                cell2.innerHTML=Number(e.quantity).formatDecimal();
                var cell3=newRow.insertCell(3);
                cell3.classList.add('text-right');
                if(kalan>=0){
                    cell3.innerHTML=Number(kalan).formatDecimal();
                }else{
                    cell3.innerHTML='(' + Number(kalan).formatDecimal() + ')';
                }
                
            });

        }
    }
    

    function docTypeCodeChange(){
        //docInventoryFiche.docTypeCode=$('select[name="docTypeCode"]').val();

        if($('select[name="docTypeCode"]').val()=='TRANSFER'){
            $('#divLocation2').show();
        }else{
            $('#divLocation2').hide();
        }
        if($('select[name="docTypeCode"]').val()=='SAYIM'){
            $('#divSayimKesinlestir').show();
        }else{
            $('#divSayimKesinlestir').hide();
        }
        if($('select[name="docTypeCode"]').val()=='URETIMECIKIS' || $('select[name="docTypeCode"]').val()=='URETIMDENGIRIS'){
            $('#btnUretimSec').show();
            $('#divUretimDetay').show();
            if($('select[name="docTypeCode"]').val()=='URETIMECIKIS'){
                $('#divUretimDetay-UretimeCikis').show();
                $('#divUretimDetay-UretimdenGiris').hide();
            }
            if($('select[name="docTypeCode"]').val()=='URETIMDENGIRIS'){
                $('#divUretimDetay-UretimeCikis').hide();
                $('#divUretimDetay-UretimdenGiris').show();
            }
        }else{
            $('#btnUretimSec').hide();
            $('#divUretimDetay').hide();
        }

        if($('select[name="docTypeCode"]').val()=='URETIMECIKIS'){
            
        }else{
            
        }
        
    }

   

    $('select[name="pallet"]').change(function(){
        console.log('qwrerty palet stogunu detaylara ekleyelim.');
    });

    function addNewLine(obj){
        var lineGrid=document.getElementById('lineGrid');
        var index=lineGrid.rows.length-1;
        var newRow=lineGrid.insertRow(lineGrid.rows.length-1);
        docInventoryFiche.docLine.forEach(function(e,sira){
            e.sequence=sira+1;
        })
        if(obj==undefined){
            if($('#docLine-item-id').val()=='') return;
            if(($('#docLine-lotNo').prop('readonly') || false)==false){
                if(($('#docLine-lotNo').val() || '').trim()==''){
                    alert('Lutfen lot numarasi giriniz.');
                    $('#docLine-lotNo').focus();
                    return;
                }
            }
            if(($('#docLine-serialNo').prop('readonly') || false)==false){
                if(($('#docLine-serialNo').val() || '').trim()==''){
                    alert('Lutfen seri numarasi giriniz.');
                    $('#docLine-serialNo').focus();
                    return;
                }
            }
            if(($('#docLine-color').prop('disabled') || false)==false){
                if(!$('#docLine-color').val()){
                    alert('Lutfen renk seciniz.');
                    $('#docLine-color').focus();
                    return;
                }
            }

            if(($('#docLine-pattern').prop('disabled') || false)==false){
                if(!$('#docLine-pattern').val()){
                    alert('Lutfen desen seciniz.');
                    $('#docLine-pattern').focus();
                    return;
                }
            }

            if(($('#docLine-size').prop('disabled') || false)==false){
                if(!$('#docLine-size').val()){
                    alert('Lutfen beden/size seciniz.');
                    $('#docLine-size').focus();
                    return;
                }
            }


            obj={
                sequence:docInventoryFiche.docLine.length+1,
                item:{_id: $('#docLine-item-id').val() , name:{value:$('#docLine-item-name').val()} , description:{value:''}},
                quantity:Number($('#docLine-quantity').val()),
                quantity2:Number($('#docLine-quantity').val()),  //qwerty
                quantity3:Number($('#docLine-quantity').val()),  //qwerty
                unitCode:$('#docLine-unitCode').val(),
                pallet:{_id: $('#docLine-pallet').val() , name:$('#docLine-pallet option:selected').text()} ,
                lotNo:$('#docLine-lotNo').val(),
                serialNo:$('#docLine-serialNo').val(),
                color:{_id: $('#docLine-color').val() , name:$('#docLine-color option:selected').text()} ,
                pattern:{_id: $('#docLine-pattern').val() , name:$('#docLine-pattern option:selected').text()} ,
                size:{_id: $('#docLine-size').val() , name:$('#docLine-size option:selected').text()}
            }
            
            docInventoryFiche.docLine.push(obj);
            
            $('#docLine-item-id').val('');
            $('#docLine-item-name').val('');
            $('#docLine-quantity').val(0);
            $('#docLine-pallet').val('');
            $('#docLine-lotNo').val('');
            $('#docLine-serialNo').val('');
            $('#docLine-color').val('');
            $('#docLine-pattern').val('');
            $('#docLine-size').val('');

            if($('select[name="docTypeCode"]').val()=='URETIMECIKIS' || $('select[name="docTypeCode"]').val()=='URETIMDENGIRIS'){
                if(proOrderDoc){
                    showUretimEmriDetaylar(proOrderDoc);
                }
            }
        }else{
            if(obj.item!=undefined){
                obj.item.name.value ='[' + getItemTypeShortName(obj.item.itemType) + '] ' + obj.item.name.value;
            }
        }

        var cell0=newRow.insertCell(0);
        cell0.classList.add('text-right');
        cell0.innerHTML=obj.sequence;

        var cell1=newRow.insertCell(1);
        cell1.innerHTML=obj.item==undefined?'':obj.item.name.value + (obj.item.description.value!=''?' - ' + obj.item.description.value:'');

        var cell2=newRow.insertCell(2);
        cell2.classList.add('text-right');
        cell2.innerHTML=Number(obj.quantity).formatQuantity();

        var cell3=newRow.insertCell(3);
        cell3.innerHTML=getUnitCodeText(obj.unitCode);

        var cell4=newRow.insertCell(4);
        cell4.innerHTML=obj.pallet?obj.pallet.name:'';

        var cell5=newRow.insertCell(5);
        cell5.innerHTML=obj.lotNo;

        var cell6=newRow.insertCell(6);
        cell6.innerHTML=obj.serialNo;

        var cell7=newRow.insertCell(7);
        cell7.innerHTML=obj.color?obj.color.name:'';

        var cell8=newRow.insertCell(8);
        cell8.innerHTML=obj.pattern?obj.pattern.name:'';

        var cell9=newRow.insertCell(9);
        cell9.innerHTML=obj.size?obj.size.name:'';

        var cell10=newRow.insertCell(10);
        <% if(mode=='view'){%>
        cell10.innerHTML='';
        <%}else{%>
        cell10.innerHTML='<a href="javascript:removeLine(' + index + ');" class="btn btn-danger fas fa-trash-alt"  title="Satir sil"></a>';
        <% } %>
        cell10.classList.add('text-center');
    }

    function removeLine(index){
        if(confirm('Satiri silmek istedinizden emin misiniz?')==false) return;
        docInventoryFiche.docLine.splice(index,1);
        refreshLines();
    }

    function refreshLines(){
        var lineGrid=document.getElementById('lineGrid');
        while(lineGrid.rows.length>1){
            lineGrid.deleteRow(0);
        }
        docInventoryFiche.docLine.forEach(function(e){
            addNewLine(e);
        });
        if((docInventoryFiche.docTypeCode=='URETIMECIKIS' || docInventoryFiche.docTypeCode=='URETIMDENGIRIS') && (docInventoryFiche.productionOrderId || '')!=''){
            if(proOrderDoc){
                showUretimEmriDetaylar(proOrderDoc);
            }
        }
    }
    function docLineItemNameAutoComplete(){

        $('#docLine-item-name').autocomplete({
            source:function(request,response){
                $("#docLine-item-id").val(''); 
                $("#docLine-item-unitCode").val(''); 
                
                $.ajax({
                    url:'/dbapi/items?itemType=all&name=' +  encodeURIComponent(request.term) + '&db=' + q.db + '&sid=' + q.sid,
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.docs.length;i++){
                                    var item=result.data.docs[i];
                                    dizi.push({
                                        // name:item.name.value, 
                                        //name:('[' + getItemTypeShortName(item.itemType) + '] ' + item.name.value + (item.description.value!=''? ' - ' + item.description.value:'')), 
                                        label:('[' + getItemTypeShortName(item.itemType) + '] ' + item.name.value + (item.description.value!=''? ' - ' + item.description.value:'')),
                                        obj:item
                                        // value:item._id,
                                        // itemType:item.itemType,
                                        // unitPacks:item.unitPacks,
                                        // tracking:(item.tracking!=undefined?item.tracking:{lotNo:false,serialNo:false,color:false,pattern:false,size:false})
                                    });
                                }
                                
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#docLine-item-name").val(ui.item.label); 
                    $("#docLine-item-id").val(ui.item.obj._id);
                    $("#docLine-unitCode").val('');
                    if(ui.item.obj.unitPacks){
                        if(ui.item.obj.unitPacks.length){
                            $("#docLine-unitCode").val(ui.item.obj.unitPacks[0].unitCode);
                            $("#docLine-unitCodeText").val(getUnitCodeText(ui.item.obj.unitPacks[0].unitCode));
                        }
                    }

                    $('#docLine-lotNo').val('');
                    if(!ui.item.obj.tracking.lotNo){
                        $('#docLine-lotNo').prop('readonly',true);
                    }else{
                        $('#docLine-lotNo').prop('readonly',false);
                    }

                    $('#docLine-serialNo').val('');
                    if(!ui.item.obj.tracking.serialNo){
                        $('#docLine-serialNo').prop('readonly',true);
                    }else{
                        $('#docLine-serialNo').prop('readonly',false);
                    }

                    $('#docLine-color').val('');
                    if(!ui.item.obj.tracking.color){
                        $('#docLine-color').prop('disabled',true);
                    }else{
                        $('#docLine-color').prop('disabled',false);
                    }

                    $('#docLine-pattern').val('');
                    if(!ui.item.obj.tracking.pattern){
                        $('#docLine-pattern').prop('disabled',true);
                    }else{
                        $('#docLine-pattern').prop('disabled',false);
                    }

                    $('#docLine-size').val('');
                    if(!ui.item.obj.tracking.size){
                        $('#docLine-size').prop('disabled',true);
                    }else{
                        $('#docLine-size').prop('disabled',false);
                    }
                    return false;
                }
        });


    }

    function loadUretimEmri(_id){
        
        docInventoryFiche.productionOrderId=_id;
        $.ajax({
            url:'/dbapi/production-orders/' + _id + '?db=' + q.db + '&sid=' + q.sid,
            type:'GET',
            dataType: 'json',
            success: function(result) {
                if(result.success){
                    var obj=result.data;

                    $.ajax({
                        url:'/dbapi/items/' + result.data.item + '?&db=' + q.db + '&sid=' + q.sid,
                        type:'GET',
                        dataType: 'json',
                        success: function(itemResult) {
                            obj['item']=itemResult.data;
                            proOrderDoc=obj;
                            showUretimEmriDetaylar(proOrderDoc);
                        },
                        error:function(err){
                            gridProductionOrdersPages.innerHTML = '';
                            console.log('err:',err);
                            
                        }
                    });
                    
                }
            },
            error:function(err){
                gridProductionOrdersPages.innerHTML = '';
                console.log('err:',err);
                
            }
        });
    }
    

    function loadForm(){
        docLineItemNameAutoComplete();
        if((q.docTypeCode || '')!=''){
            $('select[name="docTypeCode"]').val(q.docTypeCode);
        }
        docTypeCodeChange();
        refreshLines();
        if((q.productionOrderId || '')!=''){
            $('#btnUretimSec').hide();
            uretimEmriSec(q.productionOrderId);
        }else{
            
            if((docInventoryFiche.docTypeCode=='URETIMECIKIS' || docInventoryFiche.docTypeCode=='URETIMDENGIRIS') && (docInventoryFiche.productionOrderId || '')!=''){
                loadUretimEmri(docInventoryFiche.productionOrderId);
            }
        }
        
        
    }

    loadForm();

    function formKaydet(){
        
        docInventoryFiche.docId=$('input[name="docId"]').val();
        docInventoryFiche.docTypeCode=$('select[name="docTypeCode"]').val();
        docInventoryFiche.issueDate=$('input[name="issueDate"]').val();
        docInventoryFiche.issueTime=$('input[name="issueTime"]').val();
        docInventoryFiche.location=$('select[name="location"]').val().split(';')[0];
        docInventoryFiche.subLocation=$('select[name="subLocation"]').val();
        docInventoryFiche.location2=$('select[name="location2"]').val().split(';')[0];
        docInventoryFiche.subLocation2=$('select[name="subLocation2"]').val();
        docInventoryFiche.description=$('input[name="description"]').val();

        if((docInventoryFiche.docTypeCode=='URETIMECIKIS' || docInventoryFiche.docTypeCode=='URETIMDENGIRIS') && (docInventoryFiche.productionOrderId || '')==''){
            alert('uretim emri secilmemis.');
            return;
        }

        var url='';
        var type='PUT';
        if((docInventoryFiche._id || '')==''){
            type='POST';
            url='/dbapi/inventory-fiches?db=' + db + '&sid=' + sid;
        }else{
            url='/dbapi/inventory-fiches/' + docInventoryFiche._id + '?db=' + db + '&sid=' + sid;
        }

        $.ajax({
            url:url,
            data:docInventoryFiche,
            type:type,
            success:function(result){
                if(result.success){
                    goBack();
                }else{
                    alert('HATA from Server:' + result.error.message)
                }
            }
        });
    }


</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.input-group.date').datepicker({
            format: 'yyyy-mm-dd',
            language: "tr",
            orientation: "bottom auto",
            // todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            clearBtn: true

            // startDate: -4,
            // endDate: +8,
        });



    });
</script>