<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TR216 - Portal</title>

    <link href="/css/fontawesome.v5.8.2.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.v3.4.1.min.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="<%- assetFile('/js/functions.js') %>"></script>
    
    <link href="<%- assetFile('/css/portal.css') %>" rel="stylesheet">
</head>
<body class="bg-gradient-primary">


    <div class="container">
        <div class="row justify-content-md-center my-1 my-md-4">
            <div class="card col-md-5">
              <div class="text-center"><img src="/images/tr216-logo.png" class="card-img-top" alt="tr216 logo" style="max-width: 300px;"></div>
              <hr>
              <h1 class="text-primary text-center"><%=title%></h1>
              <div class="card-body">
                <%- body %>
              </div>
            </div>
        </div>
    </div>
  
<script type="text/javascript" src="/js/bootstrap.bundle.v4.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker-locales/bootstrap-datepicker.tr.min.js"></script>
<script type="text/javascript" src="<%- assetFile('/js/ui/portal.js') %>"></script>
 
</body>
</html>