<%


%>
<div class="row">
    <div class="form-group col-md-6">
        <label for="" class="m-0">Ürüne ait reçeteler</label>
        <select class="form-control" name="productRecipes" id="productRecipes" onchange="productRecipesChange()">
        </select>
    </div>
    <div class="form-group col-md-6 form-inline">
        <label for="recipeIsDefault" class="m-0">Varsayılan?</label>
        <input type="checkbox" class="ml-3" value="true" name="recipeIsDefault" id="recipeIsDefault">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label for="" class="m-0">Recete Adı</label>
        <input type="text" class="form-control" name="recipeName" id="recipeName" placeholder="Recete Adı"  value="">
    </div>
    <div class="form-group col-md-2">
        <label for="" class="m-0">Revizyon</label>
        <input type="number" class="form-control" name="recipeRevision" id="recipeRevision"  value="1">
    </div>
    <div class="form-group col-md-12">
        <label for="" class="m-0">Açıklama</label>
        <input type="text" class="form-control" name="recipeDescription" id="recipeDescription" placeholder="Açıklama" value="">
    </div>
</div>

<table class="table form-table table-bordered table-striped m-0"  cellspacing="0">
    <thead>
        <tr class="text-nowrap">
            <th width="30" class=""><input type="checkbox" class="mt-1" value="true" name="selectAll" id="selectAll"></th>
            <th width="50" class="">No</th>
            <th width="15%" class="">Istasyon</th>
            <th width="15%" class="">Adım</th>
            <th width="20%" class="">Malzeme</th>
            <th width="30%">Parametreler</th>
            <th width="80" class="text-center">
                <a href="javascript:addNewLine();" class="btn btn-primary far fa-plus-square"  title="Yeni satir"></a>                  
            </th>
        </tr>
    </thead>
    <tbody id="recipe1">
        <tr>
            <td><input type="checkbox" class="mt-1" value="true" name="chk[0]"></td>
            <td>#01</td>
            <td>Kireclik</td>
            <td>ilave et</td>
            <td>
                <p>Kalsiyum  10kg</p>
                <p>Amonyum 5kg</p>
            </td>
            <td>Sicaklik 120C, PH 9</td>
            <td>
                <a href="javascript:editLine();" class="btn btn-primary btn-sm fas fa-edit"  title="Duzenle"></a>
                <a href="javascript:removeLine();" class="btn btn-danger btn-sm fas fa-trash-alt"  title="Sil"></a>
                
            </td>
        </tr>
    </tbody>
</table>


<div class="modal" id="recipeLineModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="recipeLineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-2 ">
                <label class="modal-title" id="recipeLineModalLabel">Recete/Proses Adım</label>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="" class="m-0">Üretim İstasyonu/Prosess</label>
                        <select class="form-control" name="station" id="station">
                            <% stationList.forEach((e)=>{ %>
                            <option value="<%=e._id%>"><% if(e._id==''){%>---<%}else{%><%=e.name%><%}%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="" class="m-0">İşlem/Adım</label>
                        <select class="form-control" name="processStep" id="processStep" onchange="processStepChange()">
                            <% stepList.forEach((e)=>{ %>
                            <option value="<%=e._id%>"><% if(e._id==''){%>---<%}else{%><%=e.name%><%}%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="" class="m-0">Parametreler/Notlar</label>
                        <textarea id="parameters" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div id="material" style="display: none;">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="" class="m-0">Malzeme</label>
                            <select class="form-control" name="itemType" id="itemType" onchange="itemTypeChange()">
                                <option value="raw-material">Hammadde</option>
                                <option value="helper-material">Yardimci Malzeme</option>
                                <option value="product">Mamul/Yari mamul</option>
                                <option value="item">Stok Envanter</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="" class="m-0">Seç</label>
                            <input type="text" form="form-general" name="itemName" id="itemName" placeholder="ara"  class="form-control" autocomplete="off" value="">
                            <input type="text" form="form-general" name="itemId"  id="itemId" hidden="true" value="">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="" class="m-0">Miktar</label>
                            <input type="number" class="form-control" name="quantity" id="quantity" placeholder="" value="0">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="" class="m-0">#</label>
                            <a href="javascript:addInputMaterial();" class="btn btn-primary fas fa-plus-square"  title="Malzeme Ekle"></a>
                        </div>
                    </div>
                    <table class="table form-table table-bordered table-striped m-0 "  cellspacing="0" style="display: grid;overflow-y:scroll; max-height: 15rem;">
                        
                        <tbody id="materialInputGrid">
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
                <a id="recipeLineModalSaveButton" class="btn btn-primary" href="javascript:saveRecipeLine(-1)">Tamam</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var recipe={
        item: '<%=form._id%>'
    }
    
    var lineMaterialInputs=[]
    var recipeList=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(recipeList)) %>'));

    function refreshRecipeList(){
        var productRecipes=document.getElementById("productRecipes");
        $("#productRecipes option").remove();
        recipeList.forEach(function(e){
            var option = document.createElement("option");
            option.value = e._id;
            if(e.isDefault || recipeList.length==1){
                option.text ='☑' + e.name;
            }else{
                option.text =' ' + e.name;
            }
            productRecipes.add(option);
        });
        var optionYeni = document.createElement("option");
        optionYeni.value = '';
        optionYeni.text = ' -- Yeni Recete --';
        productRecipes.add(optionYeni);
        productRecipesChange();
    }

    function productRecipesChange(){
        if($('#productRecipes').val()==''){
            recipe={
                item: '<%=form._id%>'
            }
            reloadRecipe();
        }else{
            $.ajax({
                url:'/dbapi/recipes/' + $('#productRecipes').val() + '?db=<%=db%>&sid=<%=sid%>',
                data:recipe,
                type:'GET',
                success:function(result){
                    if(result.success){
                        recipe=result.data;
                        reloadRecipe();
                    }else{
                        console.log('Hata:',result.error);
                    }
                }
            });
        }
    }
    function reloadRecipe(){
        $('#recipe1 tr').remove();
        $('#recipeName').val((recipe.name || ''));
        $('#recipeDescription').val((recipe.description || ''));
        $('#recipeRevision').val((recipe.revision || 1));
        if((recipe.isDefault || false)==true) 
            $('#recipeIsDefault').attr('checked',true);
        else
            $('#recipeIsDefault').attr('checked',false);
        if(recipe.process!=undefined){
            recipe.process.forEach(function(e,index){

            });
        }
    }

    function addNewLine(){
        saveRecipe((err)=>{
            if(!err){
                $('#itemId').val('');
                $('#itemName').val('');
                $('#quantity').val(0);
                refresh_materialInputGrid();
                $('#recipeLineModal').modal('show');
            }else{
                alert(err.message);
            }
        });
    }

    function saveRecipeLine(index){
        if($('#station').val()==''){
            alert('Lütfen üretim istasyonu seçiniz!');
            $('#station').focus();
            return;
        }
        if($('#processStep').val()==''){
            alert('Lütfen İşlem/Adım seçiniz!');
            $('#processStep').focus();
            return;
        }
        var obj={
            
        }
    }
    
    function itemTypeChange(){
        $('#itemName').val('');
        $('#itemId').val('');
    }
    var stepList=JSON.parse(decodeURIComponent('<%- encodeURIComponent(JSON.stringify(stepList)) %>'));
    if(stepList.length>0) stepList[0].name='---';

    function processStepChange(){
        $('#material').hide();
        stepList.forEach(function(e){
            if(e._id==$('#processStep').val()){
                console.log('useMaterial',e.useMaterial);
                console.log('name',e.name);
                if(e.useMaterial){
                    $('#material').show();
                }
                return;
            }
        });
    }

    function addInputMaterial(){
        if($('#itemId').val()=='') return;
        if(Number($('#quantity').val())<=0) return;
        var bFound=false;
        lineMaterialInputs.forEach(function(e){
            if(e.item._id==$('#itemId').val()){
                bFound=true;
                return;
            }
        });
        if(bFound){
            alert('Bu malzeme zaten eklenmis');
            return;
        }
        var obj={
            item:{
                _id:$('#itemId').val(),
                name:$('#itemName').val(),
                itemType:$('#itemType').val()
            },
            quantity:Number($('#quantity').val()),
            unitCode:'kg'
        }
        lineMaterialInputs.push(obj);
        $('#itemId').val('');
        $('#itemName').val('');
        $('#quantity').val(0);
        refresh_materialInputGrid();
        $('#itemName').focus();
    }

    function removeInputMaterial(index){
        if(confirm('Malzemeyi cikarmak istiyor musunuz?')==false) return;
        lineMaterialInputs.splice(index,1);
        refresh_materialInputGrid();
    }
    function refresh_materialInputGrid(){
        $("#materialInputGrid tr").remove();
        var materialInputGrid=document.getElementById('materialInputGrid');
        lineMaterialInputs.forEach(function(e,index){
            var newRow=materialInputGrid.insertRow(materialInputGrid.rows.length);
            //newRow.classList.add('text-nowrap');
            var itemTypeNickName='HM';
            'item','raw-material','helper-material','product','semi-product','sales-service','purchasing-service','asset'
            switch(e.item.itemType){
                
                case 'raw-material': itemTypeNickName='Hammadde'; break;
                case 'helper-material': itemTypeNickName='Yardımcı Malz.'; break;
                case 'product': itemTypeNickName='Mamul'; break;
                case 'semi-product': itemTypeNickName='Yarı Mamul'; break;
                default: itemTypeNickName='Stok'; break;
            }
            var cell0=newRow.insertCell(0);
            cell0.width='20%';
            cell0.innerHTML=itemTypeNickName;

            var cell1=newRow.insertCell(1);
            cell1.width='55%';
            cell1.innerHTML=e.item.name;
            
            var cell2=newRow.insertCell(2);
            cell2.width='20%';
            cell2.innerHTML=e.quantity + ' ' + e.unitCode;

            var cell3=newRow.insertCell(3);
            cell3.width='60';
            cell3.innerHTML='<a href="javascript:removeInputMaterial(' + index + ');" class="btn btn-danger btn-sm fas fa-trash-alt" title="Sil"></a>';
        })
    }

    function saveRecipe(callback){
        recipe['name']=$('#recipeName').val();
        recipe['description']=$('#recipeDescription').val();
        recipe['revision']=Number($('#recipeRevision').val());

        var type='POST';
        var url='/dbapi/recipes?db=<%=db%>&sid=<%=sid%>';
        if(recipe._id!=undefined){
            type='PUT';
            url='/dbapi/recipes/' + recipe._id + '?db=<%=db%>&sid=<%=sid%>';
        }


        $.ajax({
            url:url,
            data:recipe,
            type:type,
            success:function(result){
                if(result.success){
                    recipe=result.data;
                    callback(null);
                }else{
                    callback(result.error);
                }
            }
        });
    }

    $(document).ready(function(){
        $( "#itemName" ).keypress(function( event ) {
          if ( event.which == 13 ) {
            event.preventDefault();
            $( "#quantity").focus();
          }
        });
        $( "#quantity" ).keypress(function( event ) {
          if ( event.which == 13 ) {
            event.preventDefault();
            addInputMaterial();
          }
        });
        $('#itemName').autocomplete({
            source:function(request,response){
                    var itemType=$('#itemType').val();
                    $.ajax({
                    url:'/dbapi/items?itemType=' + itemType + '&name=' +  encodeURIComponent(request.term) + '&db=<%=db%>&sid=<%=sid%>',
                    type:'GET',
                    dataType: 'json',
                    success: function(result) {
                            if(result.success){
                                var dizi=[];
                                for(var i=0;i<result.data.docs.length;i++){
                                    var item=result.data.docs[i];
                                    
                                    dizi.push({label:(item.name.value),value:item._id});
                                }
                                response(dizi);
                            }
                        },
                    error:function(err){
                        console.error('err:',err);
                    }
                });
            },
            select: function (event, ui) {
                    $("#itemName").val(ui.item.label); 
                    $("#itemId").val(ui.item.value); 
                    return false;
                }
        });
        refreshRecipeList();
    });
</script>
